{% extends "CFUserBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Connexion au site
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style_user.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="head-connection">
	<img src="{{ asset('images/icones/bannieres/connexion.jpg') }}">
	<h1>Connexion</h1>
</div>
<div class="row">
    <div class="col-sm-offset-2 col-xs-offset-1 col-sm-8 col-xs-10">
		{% if error %}
		    <div class="alert alert-info alert-dismissible" role="alert">
				L'adresse e-mail ou le mot de passe que vous avez entré semble incorrect !
			</div>
		{% endif %}
        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-user">
          <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

          <div class="form-group">
          	<label for="username">adresse e-mail</label>
            <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
          </div>

           <div class="form-group">
           	<label for="password">mot de passe</label>
            <input class="form-control" type="password" id="password" name="_password" required="required" />
          </div>

          <div class="form-group">
            <input class="modal-connexion-checkbox" type="checkbox" id="remember_me" name="_remember_me" value="on" />
            <label for="remember_me">se souvenir de moi</label>
          </div>

          <input type="submit" id="_submit" name="_submit" class="btn btn-success btn-lg" value="Se connecter" />

	        <p class="connexion-center">
	          Vous avez oubliez votre mot de passe ? <br />
	          Vous n'êtes pas encore inscrit sur le site ?
	        </p>

	        <p>
	        	<a href="{{ path('fos_user_resetting_request') }}" class="btn btn-lg">Mot de passe oublié</a>
	        	<a href="{{ path('fos_user_registration_register') }}" class="btn btn-lg">Inscription</a>
	        </p>
	    </form>
    </div>
</div>
{% endblock %}