{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block navbarHome %} class="active" {% endblock %}

{% block stylesheet %}
	{{ parent() }}
	<link href="{{asset('css/style_index.css')}}" rel="stylesheet"/>
{% endblock %}

{% block header %}
	{{ parent() }}
	<!-- Titres et réseaux sociaux -->
	<div id="header_title">
		<h1>COCEPTIO</h1>
		<h2 id="header_left">concevoir - </h2>
		<h2 id="header_right"> - ensemble</h2>
	</div>
{% endblock %}

{% block body %}
	<!-- Carousel -->
	<div class='carousel'>
		<div id='menu_carousel'>
			<a href='#' class='menuButton selected'>Projets à la une</a>
			<a href='#' class='menuButton'>Touche à sa fin</a>
			<a href='#' class='menuButton'>Nouveaux</a>
			<a href='#' class='menuButton'>Tous les</br>projets</a>
			<div id="reseaux_sociaux">
				<a href="#" id="facebook"><span class="fa fa-facebook"></span> Facebook</a>
				<a href="#" id="twitter"><span class="fa fa-twitter"></span> Twitter</a>
				<a href="#" id="googleplus"><span class="fa fa-google-plus"></span> Google+</a>
			</div>
		</div>
		<div id="panel-carousel">
			<div class="slider text-center" id="carousel">
				<div id="filter-left">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</div>
				<div id="filter-right">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</div>
				<div class="bx-wrapper">
					<div class="bx-viewport">
						<div class="bxslider">
							{% for projet in projets %}
							<div class="slide">
								<a href="{{ path('cf_main_project', {'id' : projet.id}) }}">
									<img src="{{ asset(projet.background.AssetPath) }}">
									<div class="project-title">
										<h2>{{ projet.nom }}</h2>
										<p>{{ projet.idAsso.nomAsso }}</p>
									</div>
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Barre de recherche-->
	<nav class="search-default">
		<ul class="search">
			<form class="search-form" role="search">
				<div class="input-group">
					<input type="text" class="form-control" id='search' placeholder="Saisissez votre recherche...">
					<span class="input-group-btn">
						<a href='#'>
							<span class="glyphicon glyphicon-search">
								<span class="sr-only">Rechercher...</span>
							</span>
						</a>
					</span>
				</div>
			</form>
		</ul>
	</nav>
	
	<!-- Vignettes drag and drop -->
	<div class="dragdrop-button-container">
		<ul id="categories">
			<li class="btn btn-primary btn-lg" value="Sport" app="#categories"><span class="fa fa-trophy"></span> Sport</li>
			<li class="btn btn-primary btn-lg" value="Loisirs" app="#categories"><span class="glyphicon glyphicon-send"></span> Loisirs</li>
			<li class="btn btn-primary btn-lg" value="Tourisme" app="#categories"><span class="glyphicon glyphicon-camera"></span> Tourisme</li>
			<li class="btn btn-primary btn-lg" value="Associatif" app="#categories"><span class="glyphicon glyphicon-heart-empty"></span> Associatif</li>
			<li class="btn btn-primary btn-lg" value="Culture" app="#categories"><span class="glyphicon glyphicon-music"></span> Culture</li>
			<li class="btn btn-primary btn-lg" value="Ville" app="#categories"><span class="fa fa-home"></span> Ville</li>
		</ul>
		<ul id="villes">
			<li class="btn btn-primary btn-lg" value="Boulogne" app="#villes">Boulogne</li>
			<li class="btn btn-primary btn-lg" value="Calais" app="#villes">Calais</li>
			<li class="btn btn-primary btn-lg" value="Dunkerque" app="#villes">Dunkerque</li>
			<li class="btn btn-primary btn-lg" value="St Omer" app="#villes">St Omer</li>
			<li class="btn btn-primary btn-lg" value="Lens" app="#villes">Lens</li>
			<li class="btn btn-primary btn-lg" value="Lille" app="#villes">Lille</li>
		</ul>
	</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/dragdrop.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/bxslider.min.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var carousel = $('.bxslider').show().bxSlider({
			    auto: true,
			    controls: false,
			    pause: 2000,
			    speed: 2000,
			    pager: false,
			    slideMargin: 0,
			    autoHover: true
		    });

		    $('#filter-right').click(function() {
			    carousel.goToNextSlide();
			    return false;
		    });

		    $('#filter-left').click(function() {
			    carousel.goToPrevSlide();
			    return false;
		    });

			$('.menuButton').click(function(){
				$('.selected').removeClass('selected');
				$(this).addClass('selected');
			});
			 
			$('#search').click(function(){
				$(this).attr('placeholder','');
			});
			
			$('.search').click(function() {
				$('#search').focus();
				$('#search').attr('placeholder','');
			}).onclickout(function(){ 
				$('#search').attr('placeholder','Saisissez votre recherche...');
			});
		});
	</script>
{% endblock %}