{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  	{{ parent() }} - Accueil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style_index.css') }}" rel="stylesheet"/>
{% endblock %}

{% block section_title_page %} {% endblock %}

{% block body %}
<div class="sidebar-left">
	<div class="sidebar-left-title">C<span class="blue">o</span>cepti<span class="blue">o</span></div>
	<div class="sidebar-left-slogan">Concevoir<br />Ensemble</div>
	<hr>
	<div class="sidebar-left-inscription">
		<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item">
					<p>Je suis une association et j'ai besoin d'être soutenu pour mes projets !</p>
					<div class="profile-circle" style="background-color: #83d29a;"></div>
				</div>
				<div class="item">
					<p>Je suis un particulier et je souhaites participer aux projets associatifs.</p>
					<div class="profile-circle" style="background-color: #c0392b;"></div>
				</div>
				<div class="item">
					<p>Je suis une entreprise et je désire supporter des projets associatifs.</p>
					<div class="profile-circle" style="background-color: #2980b9;"></div>
				</div>
			</div>
			<!-- Carousel indicators -->
			<ol class="carousel-indicators">
				<li data-target="#fade-quote-carousel" data-slide-to="0" class="active green"></li>
				<li data-target="#fade-quote-carousel" data-slide-to="1" class="red"></li>
				<li data-target="#fade-quote-carousel" data-slide-to="2" class="blue"></li>
			</ol>
		</div>
	</div>
	<button class="btn btn-success">Je m'inscris</button>

	<div class="sidebar-projects">
		<a href="#">Les projets en pôle position</a>
		<a href="#">Les projets aboutissants</a>
		<a href="#">Les nouveaux nés</a>
		<a href="#">Tous les projets</a>
	</div>
	</div><div class="carousel-front">
		<div class="carousel-front-texte">
			<p>
				Aidez ce jeune homme à trouver un beau bonnet
			</p>
			<a href="#" id="hrefBtnDiscover"><button class="btn btn-success">Découvrir le projet</button></a>
  			<div class="jauge">
  				<div class="jauge-inner" style="width:66%;"></div>
  			</div>
			<p class="project-selected-infos">66% | 17 acteurs</p>
		</div>
	</div>

	<div class="slider">
		  {% for pa in projetsAccueil %}
		  	<div class="item-slider">
	  		<img src="{{ asset(pa.projet.background.AssetPath) }}" text="{{ pa.text }}" idProject="{{ pa.projet.id }}" img="{{ pa.projet.background.path }}" class="slide-image">
	  		<div class="mask">
			    <img src="{{ asset(pa.projet.background.AssetPath) }}" class="slide-image-blured">
			</div>
	  		<div class="project-infos">
	  			<h1>{{ pa.projet.nom }}</h1>
	  		</div>
	  		<div class="project-more-infos">
	  			<div class="jauge">
	  				<div class="jauge-inner" style="width:66%;"></div>
	  			</div>
	  			<div class="text-infos">
		  			<p>66% | 17 acteurs</p>
		  		</div>
	  		</div>
		  </div>
		 {% endfor %}
	</div>

	<div class="search">
		<input type="text" placeholder="Tapez ici votre recherche ou sélectionnez vos critères ci-dessous" />
		<button><span class="glyphicon glyphicon-search"></span></button>
	</div>

	<div class="selectors">
		<div class="selector">
			<div class="container-select">
				<div class="select">Numérique</div>
			</div>
			<div class="container-select">
				<div class="select">Loisirs</div>
			</div>
			<div class="container-select">
				<div class="select">Culture</div>
			</div>
		</div>

		<div class="selector">
			<div class="container-select">
				<div class="select">Samer</div>
			</div>
			<div class="container-select">
				<div class="select">Fiennes</div>
			</div>
			<div class="container-select">
				<div class="select">Boulogne Sur Mer</div>
			</div>
		</div>

		<div class="selector">
			<div class="container-select">
				<div class="select">Samer</div>
			</div>
			<div class="container-select">
				<div class="select">Fiennes</div>
			</div>
			<div class="container-select">
				<div class="select">Boulogne Sur Mer</div>
			</div>
		</div>

		<div class="selector">
			<div class="container-select">
				<div class="select">Samer</div>
			</div>
			<div class="container-select">
				<div class="select">Fiennes</div>
			</div>
			<div class="container-select">
				<div class="select">Boulogne Sur Mer</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"></script>
	<script type="text/javascript" src="{{ asset('js/script_index.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var img = $("div.item-slider.slick-slide.slick-active").first().children('img.slide-image').attr('img');
			$('.carousel-front').css('background', 'url("../uploads/'+img+'") center center no-repeat').css('background-size','cover');
			$('.carousel-front p').text($("div.item-slider.slick-slide.slick-active").first().children('img.slide-image').attr('text'));
			$('#hrefBtnDiscover').attr('href', 'projet/' + $("div.item-slider.slick-slide.slick-active").first().children('img.slide-image').attr('idProject'));
			
			$('.slick-prev, .slick-next, .item-slider').on('click', function(){
				var img = $("div.item-slider.slick-slide.slick-active").first().children('img.slide-image').attr('img');
				$('.carousel-front').css('background', 'url("../uploads/'+img+'") center center no-repeat').css('background-size','cover');
				$('.carousel-front p').text($("div.item-slider.slick-slide.slick-active").first().children('img.slide-image').attr('text'));
				$('#hrefBtnDiscover').attr('href', 'projet/' + $("div.item-slider.slick-slide.slick-active").first().children('img.slide-image').attr('idProject'));
			});
		});
	</script>
{% endblock %}