{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  	{{ parent() }} - Accueil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style_index.css') }}" rel="stylesheet"/>
{% endblock %}

{% block section_title_page %} {% endblock %}

{% block body %}
	<div id="main-top">
<div class="sidebar-left">
	<div class="sidebar-left-title">C<span class="blue">o</span>cepti<span class="blue">o</span></div>
	<div class="sidebar-left-slogan">Concevoir<br />Ensemble</div>
	<hr>
	<div class="sidebar-left-inscription">
		<div class="carousel slide" id="fade-quote-carousel" data-ride="carousel" data-interval="3000">
			<!-- Carousel items -->
			<div class="carousel-inner">
				<div class="active item">
					<p>Je suis une association et j'ai besoin d'être soutenu pour mes projets !</p>
					<div class="profile-circle" style="background-color: #83d29a;"></div>
				</div>
				<div class="item">
					<p>Je suis un particulier et je souhaites participer aux projets associatifs.</p>
					<div class="profile-circle" style="background-color: #c0392b;"></div>
				</div>
				<div class="item">
					<p>Je suis une entreprise et je désire supporter des projets associatifs.</p>
					<div class="profile-circle" style="background-color: #2980b9;"></div>
				</div>
			</div>
			<!-- Carousel indicators -->
			<ol class="carousel-indicators">
				<li data-target="#fade-quote-carousel" data-slide-to="0" class="active green"></li>
				<li data-target="#fade-quote-carousel" data-slide-to="1" class="red"></li>
				<li data-target="#fade-quote-carousel" data-slide-to="2" class="blue"></li>
			</ol>
		</div>
	</div>
	<a href="{{ path('fos_user_registration_register') }}" class="btn btn-success">Je m'inscris <span class="glyphicon glyphicon-user"></span></a>

	<div class="sidebar-projects">
		<a href="#" class="active">Les projets en pôle position</a>
		<a href="#">Les projets aboutissants</a>
		<a href="#">Les nouveaux nés</a>
		<a href="#">Tous les projets</a>
	</div>
	</div><div class="carousel-front">
		<div class="carousel-front-texte">
			<p class="text-selected-project"></p>
			<a href="#" id="hrefBtnDiscover"><button class="btn btn-success">Découvrir le projet <span class="glyphicon glyphicon-menu-right"></span></button></a>
  			<div class="jauge">
  				<div class="jauge-inner" style="width:66%;"></div>
  			</div>
			<p class="project-selected-infos"></p>
		</div>
	</div>
	</div>
	<div class="slider">
		  {% for pa in projetsAccueil %}
		  	<div class="item-slider">
	  		<img src="{{ asset(pa.projet.background.AssetPath) }}" text="{{ pa.text }}" idProject="{{ pa.projet.id }}" img="{{ pa.projet.background.path }}" class="slide-image">
	  		<div class="mask">
			    <img src="{{ asset(pa.projet.background.AssetPath) }}" class="slide-image-blured">
			</div>
	  		<div class="project-infos">
	  			<span class="title">{{ pa.projet.nom }}</span>
	  		</div>
	  		<div class="project-more-infos">
	  			{% set pourcentage = 0.0 %}
	  			{% for besoin in pa.projet.besoins %}
	  				{% set pourcentage = pourcentage + (besoin.quantiteActuelle/besoin.quantiteDemande) %}
	  			{% endfor %}
	  			<div class="jauge">
	  				<div class="jauge-inner" style="width:{{ pourcentage*100 }}%;"></div>
	  			</div>
	  			<div class="text-infos">
		  			<p>{{ pourcentage*100 }}% | {{ pa.projet.nbDonateur }} acteurs</p>
		  		</div>
	  		</div>
		  </div>
		 {% endfor %}
	</div>

	<div class="search">
		{{ render(controller('CFMainBundle:Recherche:renderSearch')) }}
	</div>

	<div class="selectors">
		<div class="selector">
			<div class="container-select">
				<div class="select">Numérique</div>
			</div>
			<div class="container-select">
				<div class="select">Loisirs</div>
			</div>
			<div class="container-select">
				<div class="select">Culture</div>
			</div>
		</div>

		<div class="selector">
			<div class="container-select">
				<div class="select">Samer</div>
			</div>
			<div class="container-select">
				<div class="select">Fiennes</div>
			</div>
			<div class="container-select">
				<div class="select">Boulogne Sur Mer</div>
			</div>
		</div>

		<div class="selector">
			<div class="container-select">
				<div class="select">Wimereux</div>
			</div>
			<div class="container-select">
				<div class="select">Lille</div>
			</div>
			<div class="container-select">
				<div class="select">Calais</div>
			</div>
		</div>

		<div class="selector">
			<div class="container-select">
				<div class="select">Santé</div>
			</div>
			<div class="container-select">
				<div class="select">Sports</div>
			</div>
			<div class="container-select">
				<div class="select">Formations</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"></script>
	<script type="text/javascript" src="{{ asset('js/script_index.js') }}"></script>
{% endblock %}