<!DOCTYPE>
<html>
	<head>
		<title>{% block title %}Coceptio{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{asset('favicon.ico')}}" />
		<meta charset="utf8" />
		{% block stylesheets %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/stylev2.css') }}">
		{% endblock %}
	</head>

	<body>
		<nav>
			<div class="navigation-bar">
				<div class="nav-content">
					<div class="nav-left-part">
						<li><a href="{{ path('cf_main_allProjects') }}">Les projets</a></li>
				        <li><a href="#commentcamarche">Comment ça marche ?</a></li>
					</div>
					<div class="nav-middle-part">
						<li><a href="{{ path('cf_main_homepage') }}"><img src="{{ asset('images/logo2.png') }}" alt="Logo" /></a></li>
					</div>
					<div class="nav-right-part">
				        <li><a href="{{ path('cf_main_addProjects') }}">Lancer mon projet</a></li>
				        <li><a href="#partenaires">Partenaires</a></li>  
				    </div>
				</div>
				<div class="navigation-bar-right">
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						{% set nbNotifs = 0 %}
						{% for n in app.user.notifications %}
							{% if n.vu == 0 %}
								{% set nbNotifs = nbNotifs + 1 %}
							{% endif %}
						{% endfor %}
						<li class="dropdown">
							<a id="drop-user" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
			                	<span class="badge">{{ nbNotifs }}</span>
			                	<span class="caret"></span>
			              	</a>
			              	{{ render(controller('CFNotificationBundle:Notification:index'))}}
			            </li>
						<li class="dropdown">
			              <a id="drop-user" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
			                <img src="{{asset( app.user.logo.AssetPath )}}">
			                <span class="caret"></span>
			              </a>
			              <ul class="dropdown-menu" role="menu" aria-labelledby="drop-user">
						    <li><a href="{{ path('fos_user_profile_show') }}"><i class="fa fa-user"></i> Profil</a></li>
						    <li><a href="{{ path('fos_user_profile_messages') }}"><i class="fa fa-comment-o"></i> Messages</a></li>
						    <li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-wrench"></i> Paramètres</a></li>
						    <hr>
						    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Deconnexion</a></li>
			              </ul>
			            </li>
				    {% else %}
				      	<li><a href="#connexion" data-toggle="modal" data-target="#connection-modal"><i class="fa fa-sign-in"></i></a></li>
				      	<li><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user-plus"></i></a></li>
			      	{% endif %}
			    </div>
		    </div>
		</nav>
<!--
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    	  <div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <div class="profile-navigation">
				<div style="display: inline-block; vertical-align: middle">
					<div class="menu-navigation"></div>
					<div class="menu-navigation"></div>
					<div class="menu-navigation"></div>
				</div>
				<div style="display: inline-block; vertical-align: middle">
					Administration
				</div>
			</div>
		      <div class="navbar-brand navbar-brand-centered logo"><a href="{{ path('cf_main_homepage') }}"><img src="{{ asset('images/logo2.png') }}" alt="Logo" /></a></div>
		    </div>

		    <div class="collapse navbar-collapse" id="navbar-brand-centered">
		      <ul class="nav navbar-nav">
		        <li><a href="{{ path('cf_main_allProjects') }}">Les projets</a></li>
		        <li><a href="{{ path('cf_main_addProjects') }}">Lancer mon projet</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		      	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			    	<li><a href="{{ path('fos_user_profile_edit') }}">Editer</a></li>
			    {% else %}
			    	<li><a href="#connexion" data-toggle="modal" data-target="#connection-modal">Connexion</a></li>
			      	<li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
		      	{% endif %}
		        <li><a href="#">Partenaires</a></li>  
		      </ul>
		    </div>
		  </div>
>>>>>>> origin/Accueil -->

		<section id="main">
		{% block body %}

		{% endblock %}
		{{ render(controller('FOSUserBundle:Security:loginModal')) }}
		</section>
	
		{% block javascripts %}
			<script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
			<script type="text/javascript" src="{{ asset('js/jquery-ui.js') }}"></script>
			<script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>
			<script type="text/javascript" src="{{asset('js/script.js')}}"></script>
		{% endblock %}
	</body>
</html>