<!DOCTYPE>
<html>
	<head>
		<title>{% block title %}Coceptio{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{asset('favicon.ico')}}" />
		<meta charset="utf8" />
		{% block stylesheets %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/stylev2.css') }}">
		{% endblock %}
		<script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
	</head>

	<body>
		<nav>
			<div class="navigation-bar">
				<div class="navigation-bar-left">
					<li><a href="{{ path('cf_main_homepage') }}"><img src="{{ asset('images/logo2.png') }}" alt="Logo" /></a></li>
				</div>
				<div class="nav-content-res">
					<li><a href="{{ path('cf_main_allProjects') }}">Les projets</a></li>
			        <li><a href="{{ path('cf_site_commentcamarche') }}">Comment ça marche ?</a></li>
			        <li><a href="{{ path('cf_main_addProjects') }}">Lancer mon projet</a></li>
			        <li><a href="{{ path('cf_site_partenaires') }}">Partenaires</a></li>  
				</div>
				<div class="nav-content">
					<div class="nav-left-part">
						<li><a href="{{ path('cf_main_allProjects') }}">Les projets</a></li>
				        <li><a href="{{ path('cf_site_commentcamarche') }}">Comment ça marche ?</a></li>
					</div>
					<div class="nav-middle-part">
						<li><a href="{{ path('cf_main_homepage') }}"><img src="{{ asset('images/logo2.png') }}" alt="Logo" /></a></li>
					</div>
					<div class="nav-right-part">
				        <li><a href="{{ path('cf_main_addProjects') }}">Lancer mon projet</a></li>
				        <li><a href="{{ path('cf_site_partenaires') }}">Partenaires</a></li>  
				    </div>
				</div>
				<div class="navigation-bar-right">
					{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						{% set nbNotifs = 0 %}
						{% for n in app.user.notifications %}
							{% if n.vu == 0 %}
								{% set nbNotifs = nbNotifs + 1 %}
							{% endif %}
						{% endfor %}
						{% if nbNotifs > 0 %}
							<li class="dropdown">
								<a id="drop-notif" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
				                	<span class="badge">{{ nbNotifs }}</span>
				              	</a>
				              	{{ render(controller('CFNotificationBundle:Notification:index'))}}
				            </li>
			            {% endif %}
						<li class="dropdown">
			              <a id="drop-user" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
			                <img src="{{asset( app.user.logo.AssetPath )}}">
			                <span class="caret"></span>
			              </a>
			              <ul class="dropdown-menu" role="menu" aria-labelledby="drop-user">
						    <li><a href="{{ path('fos_user_profile_show', { slug : app.user.slug }) }}"><i class="fa fa-user"></i> Profil</a></li>
						    <hr>
						    <li><a href="{{ path('fos_user_profile_projects') }}"><i class="fa fa-folder-o"></i> Mes projets</a></li>
						    <li><a href="{{ path('cf_user_projetsSuivis') }}"><i class="fa fa-heart-o"></i> Projets suivis</a></li>
						    <li><a href="{{ path('cf_user_projetsSoutenus') }}"><i class="fa fa-hand-o-right"></i> Projets soutenus</a></li>
						    <hr>
						    <li><a href="#"><i class="fa fa-trophy"></i> Mes badges</a></li>
						    <li><a href="{{ path('fos_user_profile_messages') }}"><i class="fa fa-comment-o"></i> Messages</a></li>
						    <li><a href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-wrench"></i> Paramètres</a></li>
						    <hr>
						    <li><a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Deconnexion</a></li>
			              </ul>
			            </li>
				    {% else %}
				      	<li><a href="#connexion" data-toggle="modal" data-target="#connection-modal">Connexion</a></li>
			      	{% endif %}
			    </div>
			    <button id="toggle-menu"><i class="fa fa-bars"></i></button>
		    </div>
		</nav>

		{% for type in ['info'] %}
			{% for message in app.session.flashbag.get(type) %}
				<div class="alert-top">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}

		<section id="main">
		{% block body %}

		{% endblock %}
		{{ render(controller('FOSUserBundle:Security:loginModal')) }}
		</section>

		{% block footer %}
			<footer>
				<div id="footer-top">
					<section>
						<h1>C<span class="blue">o</span>cepti<span class="blue">o</span></h1>
						<h2>Concevoir<br />Ensemble</h2>
						<hr>
						<div class="socials">
							<div class="social facebook"><a href=""><i class="fa fa-facebook"></i></a></div>
							<div class="social twitter"><a href=""><i class="fa fa-twitter"></i></a></div>
							<div class="social gplus"><a href=""><i class="fa fa-google-plus"></i></a></div>
						</div>
					</section>
					<section>
						<h4>Plan du site</h4>
						<ul>
							<li><a href="#">Accueil</a></li>
							<li><a href="#">Comment ça marche ?</a></li>
							<li><a href="#">Les projets</a></li>
							<li><a href="#">Soumettre un projet</a></li>
							<li><a href="#">Mon profil</a></li>
						</ul>
					</section>
					<section>
						<h4>Informations</h4>
						<ul>
							<li><a href="#">Nous contacter</a></li>
							<li><a href="#">Nos partenaires</a></li>
							<li><a href="#">Les développeurs</a></li>
							<li><a href="#">Conditions générales</a></li>
							<li><a href="#">À propos</a></li>
						</ul>
					</section>
				</div>
				<div id="footer-bottom">
					Copyright © 2015 DSU-CRAB - All rights reserved
				</div>
			</footer>
		{% endblock %}
	
		{% block javascripts %}
			<script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
			<script type="text/javascript" src="{{ asset('js/jquery-ui.js') }}"></script>
			<script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>
			<script type="text/javascript" src="{{asset('js/script.js')}}"></script>
		{% endblock %}
	</body>
</html>