<!DOCTYPE>
<html>
	<head>
		<title>{% block title %}Coceptio{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{asset('favicon.ico')}}" />
		<meta charset="utf8" />
		{% block stylesheets %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/stylev2.css') }}">
		{% endblock %}
	</head>

	<body>
		<nav>
			<div class="navigation-bar">
				<div class="nav-content">
					<div class="nav-left-part">
						<li><a href="{{ path('cf_main_allProjects') }}">Les projets</a></li>
				        <li><a href="#commentcamarche">Comment ça marche ?</a></li>
					</div>
					<div class="nav-middle-part">
						<li><a href="{{ path('cf_main_homepage') }}"><img src="{{ asset('images/logo2.png') }}" alt="Logo" /></a></li>
					</div>
					<div class="nav-right-part">
				        <li><a href="{{ path('cf_main_addProjects') }}">Lancer mon projet</a></li>
				        <li><a href="#partenaires">Partenaires</a></li>  
				    </div>
				</div>
				<div class="navigation-bar-right">
			      	<li><a href="#connexion" data-toggle="modal" data-target="#connection-modal"><i class="fa fa-sign-in"></i></a></li>
			      	<li><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user-plus"></i></a></li>
			    </div>
		    </div>
		</nav>

		<section id="main">
		{% block body %}

		{% endblock %}
		{{ render(controller('FOSUserBundle:Security:loginModal')) }}
		</section>
	
		{% block javascripts %}
			<script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
			<script type="text/javascript" src="{{ asset('js/jquery-ui.js') }}"></script>
			<script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>
		{% endblock %}
	</body>
</html>