<!DOCTYPE>
<html>
	<head>
		<title>{% block title %}Coceptio{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="icon" href="{{asset('favicon.ico')}}" />
		<meta charset="utf8" />
		{% block stylesheets %}
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
		{% endblock %}
	</head>

	<body>
		<div id="top-page">
			<header>
				<div class="container-inner">
					<div id="header-logo">
						<a href="{{ path('cf_main_homepage') }}">COCEPTIO</a>
					</div>

					<nav>
						<div id="header-nav">
							<a href="{{ path('cf_main_allProjects') }}">Les projets</a>
							<div class="separator"></div>
							<a href="#">Comment ça marche ?</a>
							<div class="separator"></div>
							<a href="{{ path('cf_main_addProjects') }}">Lancez votre projet</a>
						</div>
						<div id="header-log">
							{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			                    {% if is_granted("ROLE_ADMIN") %}
			                    	Admin
			                    {% endif %}
			                    <a href="{{ path('fos_user_profile_show') }}">Profil</a>
								<div class="separator"></div>
								<a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
			                {% else %}
			                    {{ render(controller('FOSUserBundle:Security:loginModal')) }}
								<div class="separator"></div>
								<a href="{{ path('fos_user_registration_register') }}">Inscription</a>
			                {% endif %}
						</div>
					</nav>
				</div>
			</header>

			{% block section_title_page %}
			<section id="title-page">
				<div class="container-inner">
					<h1>{% block page_title %}Titre de page à renseigner{% endblock %}</h1>
					<h2>{% block page_subtitle %}Sous-titre également à renseigner{% endblock %}</h2>
				</div>
			</section>
			{% endblock %}
		</div>

		{% block body %}

		{% endblock %}

		<footer>
			<div class="container-inner">
				<div class="footer-menu">
					<h3>Aide</h3>
				</div>
				<div class="footer-menu">
					<h3>Mentions légales</h3>
				</div>
				<div class="footer-menu">
					<h3>Conditions générales</h3>
				</div>
				<div class="footer-menu">
					<h3>Contact</h3>
				</div>
			</div>
		</footer>

	
		{% block javascripts %}
			<script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
			<script type="text/javascript" src="{{ asset('js/jquery-ui.js') }}"></script>
			<script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>
		{% endblock %}
</html>