{% extends "CFUserBundle::layout_profile.html.twig" %}

{% block title %}
	{{ parent() }} - Mes badges
{% endblock %}

{% block footer %}{% endblock %}
{% set menulink_badges = 1 %}

{% block cfuserbundle_body %}
	<div class="panel-profile-heading">
		<div class="title-panel-heading-badges">
			<h1>Mes badges</h1>
		</div>
	</div>
	<p class="alert alert-top-warning" style="color: white; font-size: 16px; text-align: center;">Cette fonctionnalité apparaîtra dans une prochaine mise à jour.
    </p>
	{% for b in app.user.badges %}
		<div class="badge-profil">
			<div class="titre badge">{{ b.titre }}</div>
			<span data-toggle="tooltip" data-placement="bottom" title="{{ b.description }}">
				<img src="{{ asset(b.image.AssetPath) }}" alt="{{ b.titre }}" />
			</span>
		</div>
	{% endfor %}
{% endblock %}