{% extends "CFUserBundle::layout_profile.html.twig" %}

{% block title %}
	{{ parent() }} - Mes badges
{% endblock %}

{% set menulink_badges = 1 %}

{% block cfuserbundle_body %}
	<div class="panel-profile-heading">
		<img id="layer" src="{{ asset('images/icones/bannieres/badges.jpg') }}"></img>
		<div class="title-panel-heading">
			<h1>Mes badges</h1>
		</div>
	</div>
	<div class="alert alert-warning alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      <i class="fa fa-exclamation-triangle"></i> Cette fonctionnalité apparaîtra dans une prochaine mise à jour.
    </div>
	{% for b in app.user.badges %}
		<div class="badge-profil">
			<div class="titre badge">{{ b.titre }}</div>
			<span data-toggle="tooltip" data-placement="bottom" title="{{ b.description }}">
				<img src="{{ asset(b.image.AssetPath) }}" alt="{{ b.titre }}" />
			</span>
		</div>
	{% endfor %}
{% endblock %}