{% extends "CFUserBundle::layout_profile.html.twig" %}

{% block title %}
	{{ parent() }} - Modification de profil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% set menulink_param = 1 %}

{% block cfuserbundle_body %}
	<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
		{{ form_start(form) }}
		<div class="panel-heading">
			<img src="{{ asset('images/6.jpg')}}" id="banner"/>
			<div class="logo-name">
				{% if app.user.typeUser == 'Particulier' and app.user.benevole %}
					<p id='label'>Bénévole <i class="fa fa-check"></i></p>
				{% elseif app.user.typeUser == 'Association' and app.user.certified %}
					<p id='label'>Association certifiée <i class="fa fa-check"></i></p>
				{% elseif app.user.typeUser == 'Entreprise' and app.user.certified %}
					<p id='label'>Entreprise certifiée <i class="fa fa-check"></i></p>
				{% else %}
					<p id='label' style="visibility: hidden;">Bénévole <i class="fa fa-check"></i></p>
				{% endif %}
				<img id='logo' class="img-circle" src="{{asset( app.user.logo.AssetPath )}}" alt="Logo" />
				<div class="logo-username">
					<h1>{{ app.user.nom }}</h1>
					<h2>
						{% if (app.user.typeUser == "Particulier") and (app.user.benevole == 1) %}
							Bénévole
						{% else %}
							{{ app.user.typeUser }}
						{% endif %}
					</h2>
				</div>
			</div>
		</div>
		<div class="content-panel-heading">
			<ul class="nav nav-tabs btn-group edit-profile" role='group'>
				<a class="btn btn-danger" href="{{ path('fos_user_profile_show', { slug : app.user.slug }) }}">Annuler</a>
				<input type="submit" value="Enregistrer" class="btn btn-success" />
			</ul>
		</div>
		<div class="panel-body">				
            {{ form_errors(form) }}
			<div class="tab-content">
				<div class="tab-pane fade in active" id="tab1">
					<div class="tab-box">
						<h1>Description</h1>
						{% if app.user.typeUser == 'Association' %}
							<p>Date de création : {{ app.user.dateCreationAsso|date("d/m/Y") }}</p>
							<p>N° WALDEC : {{ app.user.numWaldec }}</p>
							<div class="form-group">
							    <div class="input-group">
							      <div class="input-group-addon">Description</div>
							      {{ form_row(form.descriptionAsso) }}
							    </div>
							</div>
						{% elseif app.user.typeUser == 'Entreprise' %}
							<p>Date de création : {{ app.user.dateCreationEntreprise|date("d/m/Y") }}</p>
							<p>N° SIRET : {{ app.user.numSiret }}</p>
						{% elseif app.user.typeUser == 'Particulier' or app.user.typeUser == 'Bénévole' %}
							<p>Date de naissance : {{ form_row(form.dateNaissance) }}</p>
							
							<p>Bénévole : {{ form_row(form.benevole) }}</p>

							<div class="form-group">
							    <div class="input-group">
							      <div class="input-group-addon">Nom</div>
							      {{ form_row(form.name) }}
							    </div>
							</div>
							<div class="form-group">
							    <div class="input-group">
							      <div class="input-group-addon">Prénom</div>
							      {{ form_row(form.firstname) }}
							    </div>
							</div>
							<p>Sexe : {{ form_row(form.sexe) }}</p>
							<div class="form-group">
							    <div class="input-group">
							      <div class="input-group-addon">Ville</div>
							      {{ form_row(form.ville) }}
							    </div>
							</div><div class="form-group">
							    <div class="input-group">
							      <div class="input-group-addon">Code postal</div>
							      {{ form_row(form.cp) }}
							    </div>
							</div>
							<div class="form-group">
							    <div class="input-group">
							      <div class="input-group-addon">Adresse</div>
							      {{ form_row(form.adresse) }}
							    </div>
							</div>
						{% endif %}
					</div>
					<div class="tab-box">
						<h1>Informations</h1>
						<div class="form-group">
							<div class="input-group">
						      <div class="input-group-addon">Site web</div>
						      {{ form_row(form.site) }}
						    </div>
						</div>
						<div class="form-group">
							<div class="input-group">
						      <div class="input-group-addon">Facebook</div>
						      {{ form_row(form.facebook) }}
						    </div>
						</div>
						<div class="form-group">
						    <div class="input-group">
						      <div class="input-group-addon">Twitter</div>
						      {{ form_row(form.twitter) }}
						    </div>
						</div>
						<div class="form-group">
						    <div class="input-group">
						      <div class="input-group-addon">Google+</div>
						      {{ form_row(form.googleplus) }}
						    </div>
						</div>
						<div class="form-group">
						    <div class="input-group">
						      <div class="input-group-addon">E-mail</div>
						      {{ form_row(form.email) }}
						    </div>
						</div>
						<div class="form-group">
						    <div class="input-group">
						      <div class="input-group-addon">Téléphone</div>
						      {{ form_row(form.telephone) }}
						    </div>
						</div>
					</div>
					{% if app.user.typeUser == 'Association' or app.user.typeUser == 'Entreprise' %}
						<div class="tab-box full">
							<h1><i class="fa fa-map-marker"></i> Adresse</h1>
							<div class="inner-left">
								<div class="form-group"><label>Ville :</label>{{ form_row(form.ville) }}</div>
								<div class="form-group"><label>Code postal :</label>{{ form_row(form.cp) }}</div>
								<div class="form-group"><label>Adresse :</label>{{ form_row(form.adresse) }}</div>
							</div>
							<div class="inner-right">
								<img src="{{ asset('images/google-map.jpg') }}"  class="center-block" />
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
		{{ form_end(form) }}
	</form>
{% endblock %}