{% extends "CFUserBundle::layout_profile.html.twig" %}

{% block title %}
	{{ parent() }} - Modification de profil
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    <link href="{{ asset('css/jquery.datetimepicker.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style_edit_profile.css') }}" rel="stylesheet">
{% endblock %}

{% set menulink_param = 1 %}

{% block cfuserbundle_body %}
	<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
		{{ form_start(form) }}
		<div class="panel-heading">
			<img src="{{ asset('images/6.jpg')}}" id="banner"/>
			<div class="logo-name">
				{% if app.user.typeUser == 'Particulier' and app.user.benevole %}
					<p id='label'>Bénévole <i class="fa fa-check"></i></p>
				{% elseif app.user.typeUser == 'Association' and app.user.certified %}
					<p id='label'>Association certifiée <i class="fa fa-check"></i></p>
				{% elseif app.user.typeUser == 'Entreprise' and app.user.certified %}
					<p id='label'>Entreprise certifiée <i class="fa fa-check"></i></p>
				{% else %}
					<p id='label' style="visibility: hidden;">Bénévole <i class="fa fa-check"></i></p>
				{% endif %}
				{% if app.user.logo.path is not null %}
					<img id='logo' class="img-circle" src="{{asset( app.user.logo.AssetPath )}}" alt="Logo" />
				{% else %}
					{% if app.user.typeUser == 'Association' %}
						<img id='logo' src="{{asset('images/icones/avatars/association_avatar.png') }}"/>
					{% elseif app.user.typeUser == 'Entreprise' %}
						<img id='logo' src="{{asset( 'images/icones/avatars/entreprise_avatar.png') }}"/>
					{% elseif app.user.typeUser == 'Particulier' or app.user.typeUser == 'Benevole' %}
						<img id='logo' src="{{asset( 'images/icones/avatars/particulier_avatar.png') }}"/>
					{% endif %}
				{% endif %}
				<div class="logo-username">
					<h1>{{ app.user.nom }}</h1>
					<h2>
						{% if (app.user.typeUser == "Particulier") and (app.user.benevole == 1) %}
							Bénévole
						{% else %}
							{{ app.user.typeUser }}
						{% endif %}
					</h2>
				</div>
			</div>
		</div>
		<div class="content-panel-heading">
			<ul class="nav nav-tabs btn-group edit-profile" role='group'>
				<a class="btn btn-danger" href="{{ path('fos_user_profile_show', { slug : app.user.slug }) }}">Annuler <i class="fa fa-undo"></i></a>
				<button type="submit" class="btn btn-success">Enregistrer <i class="fa fa-floppy-o"></i></button>
			</ul>
		</div>
		<div class="panel-body">				
            {{ form_errors(form) }}
			<div class="tab-content">
				<div class="tab-pane fade in active" id="tab1">
					<div class="tab-box">
						<h1>Description</h1>
						{% if app.user.typeUser == 'Association' %}
							<div class="form-group">
				                <label><i class="fa fa-calendar"></i></label>{{ form_widget(form.dateCreationAsso, {'attr': {'placeholder': 'date création association', 'value': ''}}) }}
				            </div>
				            <div class="form-group">
				                <label><i class="fa fa-sort-numeric-asc"></i></label>{{ form_widget(form.numWaldec, {'attr': {'placeholder': 'numéro waldec'}}) }}
				            </div>
							<div class="form-group">
				                <label><i class="fa fa-picture-o"></i></label>{{ form_widget(form.logo, {'attr': {'class': 'filestyle', 'data-buttonText': 'Logo de l\'association'}}) }} 
				            </div>
							<div class="form-group">
        						{{ form_widget(form.descriptionAsso, { 'attr': {'class': 'form-control', 'placeholder' : 'description...'} }) }}
							</div>
						{% elseif app.user.typeUser == 'Entreprise' %}
							<div class="form-group">
				                <label><i class="fa fa-calendar"></i></label>{{ form_widget(form.dateCreationEntreprise, {'attr': {'placeholder': 'date création entreprise', 'value': ''}}) }}
				            </div>
							<div class="form-group">
				                <label><i class="fa fa-sort-numeric-asc"></i></label>{{ form_widget(form.numSiret, {'attr': {'placeholder': 'numéro siret'}}) }}
				            </div>
							<div class="form-group">
				                <label><i class="fa fa-picture-o"></i></label>{{ form_widget(form.logo, {'attr': {'class': 'filestyle', 'data-buttonText': 'Logo de l\'entreprise'}}) }} 
				            </div>
						{% elseif app.user.typeUser == 'Particulier' or app.user.typeUser == 'Bénévole' %}

							<div class="form-group">
			                  <label><i class="fa fa-user"></i></label>{{ form_widget(form.name, {'attr': {'placeholder': 'nom de famille'}}) }}
			                </div>
			                <div class="form-group">
			                      <label><i class="fa fa-user"></i></label>{{ form_widget(form.firstname, {'attr': {'placeholder': 'prénom'}}) }}
			                </div>
			                <div class="form-group">
			                    <label><i class="fa fa-calendar"></i></label>{{ form_widget(form.dateNaissance, {'attr': {'placeholder': 'date de naissance', 'value': ''}}) }}
			                </div>

							<div class="form-group">
			                    <label><i class="fa fa-venus-mars"></i></label>{{ form_widget(form.sexe) }}
			                </div>

			                <div class="form-group">
			                    <label><i class="fa fa-picture-o"></i></label>{{ form_widget(form.logo, {'attr': {'class': 'filestyle', 'data-buttonText': 'Avatar'}}) }} 
			                </div>

			                <p>Se proposer bénévole ?</p>
							<div class="form-group">
								<label><i class="fa fa-male"></i></label>{{ form_widget(form.benevole, { 'attr': {'class': 'form-control'} }) }}
			                </div>

						{% endif %}
					</div>
					<div class="tab-box">
						<h1>Informations</h1>
						<div class="form-group">
			                <label><i class="fa fa-at"></i></label>{{ form_widget(form.site, {'attr': {'placeholder': 'site internet'}}) }}
			            </div>
						<div class="form-group">
			                <label><i class="fa fa-facebook-square"></i></label>{{ form_widget(form.facebook, {'attr': {'placeholder': 'facebook'}}) }}
			            </div>

			            <div class="form-group">
			                <label><i class="fa fa-twitter-square"></i></label>{{ form_widget(form.twitter, {'attr': {'placeholder': 'twitter'}}) }}
			            </div>

			            <div class="form-group">
			                <label><i class="fa fa-google-plus-square"></i></label>{{ form_widget(form.googleplus, {'attr': {'placeholder': 'google+'}}) }}
			            </div>
						<div class="form-group">
			                <label><i class="fa fa-envelope-o"></i></label>{{ form_widget(form.email, {'attr': {'placeholder': 'adresse e-mail'}}) }}
			            </div>
						<div class="form-group">
			                <label><i class="fa fa-phone"></i></label>{{ form_widget(form.telephone, {'attr': {'placeholder': 'téléphone'}}) }}
			            </div>
					</div>
					<div class="tab-box full">
						<h1><i class="fa fa-map-marker"></i> Adresse</h1>
						<div class="inner-left">
							<div class="form-group">
				                <label><i class="fa fa-road"></i></label>{{ form_widget(form.adresse, {'attr': {'placeholder': 'adresse'}}) }}
				            </div>

				            <div class="form-group">
				                <label><i class="fa fa-road"></i></label>{{ form_widget(form.cp, {'attr': {'placeholder': 'code postal'}}) }}
				            </div>

				            <div class="form-group">
				                <label><i class="fa fa-road"></i></label>{{ form_widget(form.ville, {'attr': {'placeholder': 'ville'}}) }}
				            </div>							
				        </div>
						<div class="inner-right">
							<img src="{{ asset('images/google-map.jpg') }}"  class="center-block" />
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ form_end(form) }}
	</form>
{% endblock %}

{% block javascripts %}
	{{parent()}}
    <script src="{{ asset('js/jquery.datetimepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-filestyle.js') }}"> </script>
    <script>
        jQuery('#fos_user_profile_form_dateCreationAsso').datetimepicker({lang:'fr',format:'d/m/Y'});
        $(":file").filestyle({input: false});
        $('.buttonText').text('Modifier le logo');
        $('.glyphicon-folder-open').hide();
    </script>
{% endblock %}