{% extends "CFUserBundle::layout_profile.html.twig" %}

{% block title %}
	{{ parent() }} - Mes messages
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style_messages.css') }}">
{% endblock %}

{% set menulink_messages = 1 %}

{% block cfuserbundle_body %}
	<div class="panel-profile-heading">
		<img id="layer" src="{{ asset('images/icones/bannieres/messages.jpg') }}"></img>
		<div class="title-panel-heading">
			<h1>Mes messages</h1>
		</div>
	</div>
	{{ render(controller('CFMessageBundle:Conversation:list')) }}
{% endblock %}

{% block javascripts %}
	{{parent()}}
	<script type="text/javascript" src="{{ asset('js/messages.js') }}"></script>
{% endblock %}