{% extends "CFUserBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Profil utilisateur
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style_profile.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<div id="block-body">
		<div class="panel-heading">
			<img src="{{ asset('images/6.jpg')}}" id="banner"/>
			<div id="layer"></div>
			<div class="logo-name">
				<p id='label'>Association certifiée <i class="fa fa-check"></i></p>
				<img id='logo' class="img-circle" src="{{asset( user.logo.AssetPath )}}" alt="Logo" />
				<div class="logo-username">
					<h1>
						{% if user.typeUser == "Association" %}
							{{ user.nom }}
                    	{% elseif user.typeUser == "Entreprise" %}
							{{ user.nomEntreprise }}
                    	{% else %}
							{{ user.pseudo }}
						{% endif %}
					</h1>
					<!-- Affichage du type d'utilisateur -->
					<h2>
						{% if (user.typeUser == "Particulier") and (user.benevole == 1) %}
							- Bénévole
						{% else %}
							- {{ user.typeUser }}
						{% endif %}
					</h2>
				</div>
			</div>
			<div class="content-panel-heading">
				<ul class="nav nav-tabs btn-group" role='group'>
					{% if user.typeUser == "Association" %}
						<li class="btn btn-default active"><a href="#tab1" data-toggle="tab">Profil</a></li>
						<li class="btn btn-default"><a href="#tab2" data-toggle="tab">Projets</a></li>
						{% if app.user %}
							{% if user.username == app.user.username %}
								<li class="btn btn-default"><a href="#tab3" data-toggle="tab">Notifications</a></li>
								<li class="btn btn-default"><a href="{{ path('fos_user_profile_edit') }}">Modifier</a></li>
							{% endif %}
						{% endif %}
                	{% elseif user.typeUser == "Entreprise" %}
						<li class="btn btn-default active"><a href="#tab1" data-toggle="tab">Profil</a></li>
						<li class="btn btn-default"><a href="#tab2" data-toggle="tab">Participations</a></li>
						{% if app.user.username == user.username %}
							<li class="btn btn-default"><a href="#tab3" data-toggle="tab">Notifications</a></li>
							<li class="btn btn-default"><a href="{{ path('fos_user_profile_edit') }}">Modifier</a></li>
						{% endif %}
                	{% else %}
						<li class="btn btn-default active"><a href="#tab1" data-toggle="tab">Profil</a></li>
						<li class="btn btn-default"><a href="#tab2" data-toggle="tab">Participations</a></li>
						<li class="btn btn-default"><a href="#tab3" data-toggle="tab">Accomplissements</a></li>
						{% if app.user.username == user.username %}
							<li class="btn btn-default"><a href="#tab4" data-toggle="tab">Notifications</a></li>
							<li class="btn btn-default"><a href="{{ path('fos_user_profile_edit') }}">Modifier</a></li>
						{% endif %}
					{% endif %}
				</ul>
			</div>
		</div>
		<div class="panel-body">
			<div class="tab-content">
				<div class="tab-pane fade in active" id="tab1">
					{% if user.typeUser == "Association" %}
						{% include "CFUserBundle:Profile:tabProfil/association.html.twig" %}
                	{% elseif user.typeUser == "Entreprise" %}
						{% include "CFUserBundle:Profile:tabProfil/entreprise.html.twig" %}
                	{% else %}
						{% include "CFUserBundle:Profile:tabProfil/particulier.html.twig" %}
					{% endif %}
				</div>
				<div class="tab-pane fade" id="tab2">
					<div class="tab-box full">
						<h1>Vos projets :</h1>
						{% for projet in projets %}
							<p><a href="{{ path('cf_main_project', { id : projet.id }) }}">{{ projet.nom }}</a></p>
						{% else %}
							<p>Vous n'avez aucun projet pour l'instant.</p>
							<p>Si vous le souhaitez, vous pouvez en déposer un en <a href="{{ path('cf_main_addProjects') }}">cliquant ici</a></p>
						{% endfor %}
					</div>
				</div>
				<div class="tab-pane fade" id="tab3">
					{% if user.typeUser == "Particulier" %}
						{% include "CFUserBundle:Profile:achievements_content.html.twig" %}
                	{% else %}
						{{ render(controller('CFNotificationBundle:Notification:index')) }}
                	{% endif %}
				</div>
				<div class="tab-pane fade" id="tab4">
					{% if user.typeUser == "Particulier" %}
						{% include "CFUserBundle:Profile:notifications_content.html.twig" %}
                	{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}