{% extends "::base.html.twig" %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style_profile.css') }}" rel="stylesheet"/>
{% endblock %}

{% block footer %}{% endblock %}

{% block body %}

{% set nbNotif_projetsEnCours = 0 %}
{% set nbNotif_messages = 0 %}
{% for n in app.user.notifications %}
	{% if n.vu == 0 %}
		{% if n.type == 2 %}
			{% set nbNotif_projetsEnCours = nbNotif_projetsEnCours + 1 %}
		{% else %}
			{% set nbNotif_messages = nbNotif_messages + 1 %}
		{% endif %}
	{% endif %}
{% endfor %}

<div class="block-new-project text-center">
	<div class="btn btn-success">Nouveau projet</div>
</div>

<div class="profile-left-menu">
	<div class="profile-left-menu-title text-center">
		COCEPTIO
	</div>
	<div class="profile-left-menu-subtitle text-center">
		Administration
	</div>

	<div class="profile-menu">
		<div class="profile-menu-title">Projets et soutients</div>
		<div class="profile-menu-content">
			<a {% if menulink_currentProjects is defined %}class="active" {% endif %}href="{{ path('fos_user_profile_projects') }}"><div class="notif">{{ nbNotif_projetsEnCours }}</div><i class="fa fa-bar-chart"></i> Projets en cours</a>
			<a {% if menulink_projetsSuivis is defined %}class="active" {% endif %}href="{{ path('cf_user_projetsSuivis') }}"><i class="fa fa-eye"></i> Projets suivis</a>
			<a {% if menulink_projetsSoutenus is defined %}class="active" {% endif %}href="{{ path('cf_user_projetsSoutenus') }}"><i class="fa fa-clock-o"></i> Projets soutenus</a>
			<a href="#"><i class="fa fa-tag"></i> Projets terminés</a>
		</div>
	</div>

	<div class="profile-menu">
		<div class="profile-menu-title">Profil et paramètres</div>
		<div class="profile-menu-content">
			<a href="{{ path('fos_user_profile_messages') }}"><div class="notif">{{ nbNotif_messages }}</div><i class="fa fa-envelope-o"></i> Message</a>
			<a href="#"><i class="fa fa-comment-o"></i> Informations</a>
			<a {% if menulink_param is defined %}class="active" {% endif %}href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-gear"></i> Paramètres</a>
			<a href="#"><i class="fa fa-certificate"></i> Badges</a>
			<a href="#"><i class="fa fa-plus-square"></i> Plus</a>
		</div>
	</div>
</div><div class="profile-content">
	{% block cfuserbundle_body %}

	{% endblock %}
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
{% endblock %}