{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
	Inscription-{{ parent() }}
{% endblock %}

{% block navbarRegister %} class="active" {% endblock %}

{% block stylesheet %}
	{{ parent() }}
	<link href="{{asset('css/style_insc.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}

	<div id='containerPage'>
		
		<div id="Header"><h3>Cliquez sur le lien qui vous correspond pour commencer l'inscription<h3></div>

		<div id="lienAsso" class="lien"><a href="{{ path('cf_main_registerAsso') }}">Association</a></div>
		<div id="lienEntr" class="lien"><a href="{{ path('cf_main_registerEntr') }}">Entreprise</a></div>
		<div id="lienPart" class="lien"><a href="{{ path('cf_main_registerPart') }}">Particulier</a></div>

	</div>

{% endblock %}