{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
	Inscription-{{ parent() }}
{% endblock %}

{% block navbarRegister %} class="active" {% endblock %}

{% block stylesheet %}
	{{ parent() }}
	<link href="{{asset('css/style_insc.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}

	<div id='containerPage'>
		
		<div id='form'>
			
			<div class="col-sm-12">
				<h3>1 ère étape - Vous êtes :</h3>
			</div>	

			{# mise en place d'une classe pour le formulaire #}
			{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
			
			{# gestion des erreurs générales du formulaire #}
			{{ form_errors(form) }}

			<div class="form-group">
	
				{# Génération du label. #}
			    {{ form_label(form.type, "Un(e)", {'label_attr': {'class': 'col-sm-5 control-label'}}) }}

			    {# Affichage des erreurs pour ce champ précis. #}
			    {{ form_errors(form.type) }}

			    <div class="col-sm-5">
				{# Génération de l'input. #}
        		{{ form_widget(form.type, {'attr': {'class': 'this'}}) }}
				</div>

			</div>

			<div class="form-group" id="valid">
	    		<div class="col-sm-offset-3 col-sm-10">		
					{{ form_widget(form.valider, {'attr': {'class': 'btn btn-primary'}}) }}
				</div>
			</div>	
				
			{{ form_rest(form) }}
  
  			{# Fermeture de la balise <form> du formulaire HTML #}
  			{{ form_end(form) }}


		</div>

	</div>

{% endblock %}