{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  	{{ parent() }} - Lancer votre projet
{% endblock %}

{% block page_title %}Lancez votre projet{% endblock %}
{% block page_subtitle %}Vous avez un projet ambitieux ? Suivez ces étapes une à une et lancez votre projet !{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{asset('css/style_new_project.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="container-inner">
	<div class="stepwizard">
	    <div class="stepwizard-row">
	        <div class="stepwizard-step"><a href="#step-1">
	            <button type="button" class="btn btn-primary btn-circle">1</button></a>
	            <p>Général</p>
	        </div>
	        <div class="stepwizard-step"><a href="#step-2">
	            <button type="button" class="btn btn-default btn-circle" disabled="disabled">2</button></a>
	            <p>Description</p>
	        </div>
	        <div class="stepwizard-step"><a href="#step-3">
	            <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button></a>
	            <p>Histoire</p>
	        </div> 
	         <div class="stepwizard-step"><a href="#step-4">
	            <button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button></a>
	            <p>Ressources</p>
	        </div>
	        <div class="stepwizard-step"><a href="#step-5">
	            <button type="button" class="btn btn-default btn-circle" disabled="disabled">5</button></a>
	            <p>Informations</p>
	        </div> 
	    </div>
	</div>

	<form action="{{ path('cf_main_addProjects')}}" method="post" {{ form_enctype(form) }}>
		{{ form_start(form) }}
		{{ form_errors(form) }}

		<div class="row step-content" id="step-1">
			<div class="fieldset">
				<div class="fieldset-form">
					<form>
						<div class="form-group">
						    {{ form_row(form.nom) }}
						</div>
					</form>
				</div>

				<div class="fieldset-separator"></div>

				<div class="fieldset-infos">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci dolor, iaculis sed lorem at, tincidunt finibus tellus. Nulla nec dapibus dolor. Phasellus cursus erat vitae erat viverra maximus. Etiam luctus lorem non velit congue molestie. Vivamus pulvinar nibh velit, nec rutrum arcu interdum eu.
				</div>
			</div>

			<div class="fieldset">
				<div class="fieldset-form">
					<div class="row">
						<div class="col-md-4">
							<img src="{{ asset('images/image.png') }}" alt="image" style="height: 100px;" />
						</div>
						<div class="col-md-8">
								<div class="form-group">
							    {{ form_row(form.background) }}
							  </div>
						</div>
					</div>
				</div>

				<div class="fieldset-separator"></div>

				<div class="fieldset-infos">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci dolor, iaculis sed lorem at, tincidunt finibus tellus. Nulla nec dapibus dolor. Phasellus cursus erat vitae erat viverra maximus. 
				</div>
			</div>

			<div class="fieldset">
				<div class="fieldset-form">
			        {{ form_row(form.tags) }}
				</div>
				<div class="fieldset-separator"></div>

				<div class="fieldset-infos">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci dolor, iaculis sed lorem at, tincidunt finibus tellus. Nulla nec dapibus dolor. Phasellus cursus erat vitae erat viverra maximus. Etiam luctus lorem non velit congue molestie. Vivamus pulvinar nibh velit, nec rutrum arcu interdum eu.
				</div>
			</div>

			<div class="fieldset-btn">
				<a id="activate-step-2" class="btn btn-primary btn-lg">Etape suivante</a>
			</div>
		</div>

		<div class="row step-content" id="step-2">
			<div class="fieldset">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci dolor, iaculis sed lorem at, tincidunt finibus tellus. Nulla nec dapibus dolor. Phasellus cursus erat vitae erat viverra maximus. 
				</p>
				<div class="row">
					<div class="form-group">
				   		{{ form_row(form.description) }}
				  	</div>
				</div>
			</div>

			<div class="fieldset-btn">
				<a id="activate-step-3" class="btn btn-primary btn-lg">Etape suivante</a>
			</div>
	    </div>

	    <div class="row step-content" id="step-3">
	        <div class="fieldset">
	            <div class="col-md-12 text-center">
	                <div id="boites">
  						{{ form_row(form.boxs) }}
	                </div>
                </div>
	       	</div>

	       	<div class="fieldset-btn">
				<a id="activate-step-4" class="btn btn-primary btn-lg">Etape suivante</a>
			</div>
	    </div>

	    <div class="row step-content" id="step-4">
	        <div class="fieldset">
	            <div class="col-md-12 text-center">
	                <div id="ressources">
						{{ form_row(form.besoins) }}
	                </div>
                </div>
	        </div>     
            <div class="fieldset-btn">
				<a id="activate-step-5" class="btn btn-primary btn-lg">Etape suivante</a>
			</div>
	    </div>

	    <div class="row step-content" id="step-5">
	        <div class="fieldset">
	            <div class="col-md-12 text-center">
	                <h1>Informations supplémentaires</h1>
	                <div class="container">
                		{{ form_row(form.infoSup) }}
		            </div>
	    			<button type="submit" class="btn btn-success btn-lg"/>Créer !</button>
	            </div>
	        </div>
	    </div>

	    {{ form_end(form) }}
	</form>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/create_project.js') }}"></script>
{% endblock %}