{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  Projets - {{ parent() }}
{% endblock %}

{% block navbarProject %} class="active" {% endblock %}

{% block stylesheet %}
	{{ parent() }}
{% endblock %}

{% block body %}
	
	<form action="{{ path('cf_main_addProjects')}}" method="post" {{ form_enctype(form) }}>
	    {{ form_widget(form) }}

	    <input type="submit" />
	</form>

{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="{{asset('ckeditor/ckeditor.js')}}"></script>
{% endblock %}