{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  	{{ parent() }} - Lancer votre projet
{% endblock %}

{% block page_title %}Lancez votre projet{% endblock %}
{% block page_subtitle %}Vous avez un projet ambitieux ? Suivez ces étapes une à une et lancez votre projet !{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{asset('css/style_new_project.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<h1>Lancez votre projet !</h1>
<div id="steps">
    <div class="steps-circle">
        <div class="line-step"></div>
        
        <div class="step">
            <a class="step-number step-1" href="#step-1"><div class="step-active">1</div></a>
            <div class="step-text">Général</div>
        </div>
        <div class="step">
            <a class="step-number step-2" href="#step-2">2</a>
            <div class="step-text">Description</div>
        </div>
        <div class="step">
            <a class="step-number step-3" href="#step-3">3</a>
            <div class="step-text">Histoire</div>
        </div>
        <div class="step">
            <a class="step-number step-4" href="#step-4">4</a>
            <div class="step-text">Ressources</div>
        </div>
        <div class="step-last">
            <a class="step-number step-5" href="#step-5">5</a>
            <div class="step-text">Informations</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-2 col-xs-offset-1 col-sm-8 col-xs-10">
		<form action="{{ path('cf_main_addProjects')}}" method="post" class="form-add-project" {{ form_enctype(form) }}>
			{{ form_start(form) }}
			{{ form_errors(form) }}

			<div class="row step-content" id="step-1">
				{{ form_row(form.nom) }}
				{{ form_row(form.background) }}  
				{{ form_row(form.tags) }}
					
				<a id="activate-step-2" class="btn btn-primary btn-lg">Etape suivante</a>
			</div>

			<div class="row step-content" id="step-2">
				{{ form_row(form.description) }}
					  	
				<a id="activate-step-3" class="btn btn-primary btn-lg">Etape suivante</a>
		    </div>

		    <div class="row step-content" id="step-3">
	  			{{ form_row(form.boxs) }}

				<a id="activate-step-4" class="btn btn-primary btn-lg">Etape suivante</a>
		    </div>

		    <div class="row step-content" id="step-4">
				{{ form_row(form.besoins) }}

				<a id="activate-step-5" class="btn btn-primary btn-lg">Etape suivante</a>
		    </div>

		    <div class="row step-content" id="step-5">
	            {{ form_row(form.infoSup) }}
		    	<button type="submit" class="btn btn-success btn-lg"/>Créer !</button>
		    </div>

		    {{ form_end(form) }}
		</form>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/create_project.js') }}"></script>
{% endblock %}