{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  	{{ parent() }} - Lancez votre projet
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{asset('css/style_new_project.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="head-new-project">
	<h1>Lancer votre projet</h1>
</div>
<div id="steps">
    <div class="steps-circle">
        <div class="line-step"></div>
        
        <div class="step">
            <a class="step-number step-1" href="#step-1"><div class="step-active">1</div></a>
            <div class="step-text">Général</div>
        </div>
        <div class="step">
            <a class="step-number step-2" href="#step-2">2</a>
            <div class="step-text">Image de fond</div>
        </div>
        <div class="step">
            <a class="step-number step-3" href="#step-3">3</a>
            <div class="step-text">Tags</div>
        </div>
        <div class="step">
            <a class="step-number step-4" href="#step-4">4</a>
            <div class="step-text">Ressources</div>
        </div>
        <div class="step-last">
            <a class="step-number step-5" href="#step-5">5</a>
            <div class="step-text">Informations</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-2 col-xs-offset-1 col-sm-8 col-xs-10">
		<form action="{{ path('cf_main_addProjects')}}" method="post" class="form-add-project" {{ form_enctype(form) }}>
			{{ form_start(form) }}
			{{ form_errors(form) }}

			<div class="row step-content" id="step-1">
				<div class="form-group">
	                <label><i class="fa fa-folder-open"></i></label>{{ form_widget(form.nom, {'attr': {'placeholder': 'nom de votre projet'}}) }}
	            </div>
					
				<a id="activate-step-2" class="btn btn-success btn-lg">Etape suivante <i class="fa fa-chevron-right"></i></a>
			</div>

			<div class="row step-content" id="step-2">
				<div class="form-group">
	                <label><i class="fa fa-picture-o"></i></label>{{ form_widget(form.background, {'attr': {'class': 'filestyle', 'data-buttonText': 'image de fond'}}) }}
	                <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalForm" id="add-box"><i class="fa fa-plus"></i></button>
	                <div class="blocs">
	                	
	                </div>
	                {{ form_row(form.boxs) }}
	            </div>

				<a id="activate-step-3" class="btn btn-success btn-lg">Etape suivante <i class="fa fa-chevron-right"></i></a>
		    </div>

		    <div class="row step-content" id="step-3">
	  			<div class="form-group">
	            	<label style="color: #FFF">Tags</label>
	            	<div class="checkboxes">
	                {{ form_widget(form.tags) }}
	            	</div>
	            </div>

				<a id="activate-step-4" class="btn btn-success btn-lg">Etape suivante <i class="fa fa-chevron-right"></i></a>
		    </div>

		    <div class="row step-content" id="step-4">
				{{ form_row(form.besoins) }}

				<a id="activate-step-5" class="btn btn-success btn-lg">Etape suivante <i class="fa fa-chevron-right"></i></a>
		    </div>

		    <div class="row step-content" id="step-5">
	            {{ form_row(form.infoSup) }}
		    	<button type="submit" class="btn btn-success btn-lg"/>Soumettre mon projet</button>
		    </div>
		    {{ form_rest(form) }}
		</form>
		<div class="modal fade" id="modalForm" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalFormLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="delete-box"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="modalFormLabel">Nouveau bloc</h4>
		        <input type="text" placeholder="Titre du bloc" id="box-title-form">
		      </div>
		      <div class="modal-body">
		      	<ul class="nav-modal-form">
				  <li class="texte active"><a href="#form-texte">Texte</a></li>
				  <li class="image"><a href="#form-image">Image</a></li>
				  <li class="video"><a href="#form-video">Video</a></li>
				</ul>

				<div class="form-choice-box" id="form-texte">
					<textarea id="editor" name="editor"></textarea>
				</div>
				<div class="form-choice-box" id="form-image">
					<p>Attention ! L'image doit faire au maximum 1Mo.</p>
					<a href="#" id="file-form-image">Choisir une image pour le bloc</a>
				</div>
				<div class="form-choice-box" id="form-video">
					<input type="text" placeholder="Entrez l'url de la vidéo (ex : http://youtube.com/watch?v=code)">
				</div>
		      </div>
		      <div class="modal-footer">
		      	<div class="radio-width" id="radio-width-box">
		      		<label><input type="radio" name="box-width" value="0" checked> 1 colonne </label>
		      		<label><input type="radio" name="box-width" value="1"> 2 colonnes</label>
		      	</div>
		        <button type="button" class="btn btn-success" id="button-validation-modal">Insérer le bloc</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="modal fade" id="modalEditForm" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalEditFormLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="modalEditFormLabel">Editer un bloc</h4>
		        <input type="text" placeholder="Titre du bloc" id="box-title-formEdit">
		      </div>
		      <div class="modal-body">

		      </div>
		      <div class="modal-footer">
		      	<div class="radio-width" id="radio-width-box-edit">
		      		<label><input type="radio" name="box-width-edit" value="0" checked> 1 colonne </label>
		      		<label><input type="radio" name="box-width-edit" value="1"> 2 colonnes</label>
		      	</div>
		        <button type="button" class="btn btn-success" id="button-validation-modalEdit">Modifier le bloc</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="//cdn.ckeditor.com/4.5.3/basic/ckeditor.js"></script>
	<script type="text/javascript" src="{{ asset('js/create_project.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/bootstrap-filestyle.js') }}"> </script>
    <script>
    	CKEDITOR.replace( 'editor' );
        $(":file").filestyle({input: false});
        $('.buttonText').text('choisir l\'image de fond du projet');
        $('.glyphicon-folder-open').hide();

        $('.form-choice-box').hide();
        $('#form-texte').show();
        $('.modal-body .nav-modal-form li a').on('click', function(e) {
        	e.preventDefault();
       		$('.form-choice-box').hide();
        	$('.modal-body .nav-modal-form li.active').removeClass('active');
        	$($(this).attr('href')).show();
        	$(this).parent().addClass('active');
        });
    </script>
{% endblock %}