{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  Projets - {{ parent() }}
{% endblock %}

{% block navbarProject %} class="active" {% endblock %}

{% block stylesheet %}
	{{ parent() }}
	<link href="{{asset('css/style_new_project.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<div class="row form-group">
        <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="active"><a href="#step-1">
                    <h4 class="list-group-item-heading">Général</h4>
                    <p class="list-group-item-text">Définition des éléments principaux</p>
                </a></li>
                <li class="disabled"><a href="#step-2">
                    <h4 class="list-group-item-heading">Description</h4>
                    <p class="list-group-item-text">Description du projet</p>
                </a></li>
                <li class="disabled"><a href="#step-3">
                    <h4 class="list-group-item-heading">Histoire</h4>
                    <p class="list-group-item-text">L'histoire du projet</p>
                </a></li>
                <li class="disabled"><a href="#step-4">
                    <h4 class="list-group-item-heading">Ressources</h4>
                    <p class="list-group-item-text">Ressources pour le projet</p>
                </a></li>
                <li class="disabled"><a href="#step-5">
                    <h4 class="list-group-item-heading">Informations</h4>
                    <p class="list-group-item-text">Informations supplémentaires</p>
                </a></li>
            </ul>
        </div>
	</div>
	<form action="{{ path('cf_main_addProjects')}}" method="post" {{ form_enctype(form) }}>
		<div class="form-group">
		    {{ form_start(form) }}
			{{ form_errors(form) }}

		    <div class="row setup-content" id="step-1">
		        <div class="col-xs-12">
		            <div class="col-md-12 well text-center">
		                <h1>Général</h1>
		                <div class="container">
		                	{{ form_row(form.nom) }}
		                	{{ form_row(form.background) }}
		                	{{ form_row(form.tags) }}
						</div>
		                <button id="activate-step-2" class="btn btn-primary btn-lg">Etape suivante</button>
		            </div>
		        </div>
		    </div>
		    <div class="row setup-content" id="step-2">
		        <div class="col-xs-12">
		            <div class="col-md-12 well text-center">
		                <h1>Description</h1>
		                 <div class="container">
	                		{{ form_row(form.description) }}
	                	</div>
		                <button id="activate-step-3" class="btn btn-primary btn-lg">Etape suivante</button>
		            </div>
		        </div>
		    </div>
		    <div class="row setup-content" id="step-3">
		        <div class="col-xs-12">
		            <div class="col-md-12 well text-center">
		                <h1>Histoire</h1>
		                <div class="container">
			                <div id="boites">
	      						{{ form_row(form.boxs) }}
			                </div>
		                </div>
		                <button id="activate-step-4" class="btn btn-primary btn-lg">Etape suivante</button>
		            </div>
		        </div>
		    </div>
		    <div class="row setup-content" id="step-4">
		        <div class="col-xs-12">
		            <div class="col-md-12 well text-center">
		                <h1>Ressources</h1>
		                <div class="container">
			                <div id="ressources">
								{{ form_row(form.besoins) }}
			                </div>
		                </div>
		                <button id="activate-step-5" class="btn btn-primary btn-lg">Etape suivante</button>
		            </div>
		        </div>
		    </div>
		    <div class="row setup-content" id="step-5">
		        <div class="col-xs-12">
		            <div class="col-md-12 well text-center">
		                <h1>Informations supplémentaires</h1>
		                <div class="container">
	                		{{ form_row(form.infoSup) }}
			            </div>
		    			<input type="submit" value="Créer !"/>
		            </div>
		        </div>
		    </div>
		    {{ form_end(form) }}
		</div>
	</form>

{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="{{asset('ckeditor/ckeditor.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/create_project.js')}}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			/*$('#addBox').click(function(){
				var titre = $('#titre').val();
				var contenu = CKEDITOR.instances['contenu'].getData()
				$('#boites').append('<div class="boxHistoire"><h1>'+titre+'</h1><p>'+contenu+'</p></div>');
				$('#closeModal').click();
			});*/
		});
	</script>
{% endblock %}