{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Lancez votre projet
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{asset('css/style_new_project.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<div class="head-new-project">
		<h1>Lancer votre projet</h1>
	</div>

	<!-- DEBUT BOOTSNIPP TIMELINE WIZARD -->
	<div class="wizard">
		<div class="wizard-inner">
			<div class="connecting-line"></div>
			<ul class="nav nav-tabs" role="tablist">

				<li role="presentation" class="active">
					<a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="G&eacute;n&eacute;ral">
						<span class="round-tab">
							<i class="#"></i>
						</span>
					</a>
				</li>

				<li role="presentation" class="disabled">
					<a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Histoire">
						<span class="round-tab">
							<i class="#"></i>
						</span>
					</a>
				</li>
				<li role="presentation" class="disabled">
					<a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Ressources">
						<span class="round-tab">
							<i class="#"></i>
						</span>
					</a>
				</li>

				<li role="presentation" class="disabled">
					<a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Informations">
						<span class="round-tab">
							<i class="#"></i>
						</span>
					</a>
				</li>

				<li role="presentation" class="disabled">
					<a href="#step5" data-toggle="tab" aria-controls="step5" role="tab" title="Soumettre">
						<span class="round-tab">
							<i class="#"></i>
						</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- FIN BOOTSNIPP TIMELINE WIZARD -->

		<!-- DEBUT BOOTSNIPP NOUVEAU FORMULAIRE AVEC INTEGRATION TWIG DE L'ANCIEN FORMULAIRE -->
		<form action="{{ path('cf_main_addProjects')}}" method="post" class="form-add-project" {{ form_enctype(form) }}>
			{{ form_start(form) }}
			{{ form_errors(form) }}
			<div class="tab-content">

				{# STEP 1 IDENTIFICATION PROJET #}
				<div class="tab-pane active" role="tabpanel" id="step1">
					<h3>Bien identifier votre projet</h3>
					<p>Cr&eacute;er un impact fort en d&eacute;finissant une image parlante avec un titre saisissant.</p>

					<!-- DEBUT FORMULAIRE TWIG "NOM DU PROJET" -->
					<div class="form-group">
						<label><i class="fa fa-folder-open"></i></label>{{ form_widget(form.nom, {'attr': {'placeholder': 'Nom de votre projet'}}) }}
					</div>
					<!-- FIN FORMULAIRE TWIG "NOM DU PROJET" -->

					<!-- DEBUT FORMULAIRE TWIG "IMAGE FOND" -->
					<div class="form-group">
						<label><i class="fa fa-picture-o"></i></label>{{ form_widget(form.background, {'attr': {'class': 'filestyle', 'data-buttonText': ''}}) }}
					</div>
					<!-- FIN FORMULAIRE SYMFONY "IMAGE FOND" -->

					<ul class="list-inline">
						<li><button type="button" class="btn btn-primary next-step">Suivant</button></li>
					</ul>
				</div>

				{# STEP 2 HISTOIRE #}
				<div class="tab-pane" role="tabpanel" id="step2">
					<h3>D&eacute;finissez l'histoire de votre projet</h3>
					<p>Cr&eacute;er pas à pas la page que les internautes verront pour votre projet :<br>D&eacute;finissez des "blocs d'informations" avec soit du texte, uin lien vid&eacute;o ou encore une image !</p><p>Cela sera toujours plus joli qu'un gros pav&eacute; de texte non ?</p>

					{# BOXS HISTOIRE #}
					<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modalForm" id="add-box"><i class="fa fa-plus"></i></button>
					<div class="blocs">
	                	{{ form_row(form.boxs) }}
	                </div>

					<ul class="list-inline">
						<li><button type="button" class="btn btn-default prev-step">Pr&eacute;c&eacute;dent</button></li>
						<li><button type="button" class="btn btn-primary next-step">Suivant</button></li>
					</ul>
				</div>

				{# STEP 3 TAG #}
				<div class="tab-pane" role="tabpanel" id="step3">
					<h3>Des ressources. à volonté.</h3>
					<p>Définissez ici toutes les ressources dont vous avez besoin pour que votre projet soit une véritable réussite.<br>Soyez le plus précis possible. En effet, chaque ressource doit bien être catégorisée et vous devez préciser la quantité souhaitée.</p>

					<!-- DEBUT FORMULAIRE SYMFONY "BESOINS" -->
					{{ form_row(form.besoins) }}
					<!-- FIN FORMULAIRE SYMFONY "BESOINS" -->

					<ul class="list-inline">
						<li><button type="button" class="btn btn-default prev-step">Pr&eacute;c&eacute;dent</button></li>
						<li><button type="button" class="btn btn-primary btn-info-full next-step">Suivant</button></li>
					</ul>
				</div>

				{# STEP 4 BESOINS #}
				<div class="tab-pane" role="tabpanel" id="step4">
					<h3>Des informations. En veux-tu, en voilà.</h3>
					<p>Maintenant, dites-nous comment vous catégoriseriez (on ne l'entend pas souvent celui là dis donc) votre projet.<br>Et pour finir, toutes les informations utiles pour vous contacter en cas de questions</p>

					<!-- DEBUT FORMULAIRE SYMFONY "TAGS" -->
					<div class="form-group">
						<div class="checkboxes">
							{{ form_widget(form.tags) }}
						</div>
					</div>
					<!-- FIN FORMULAIRE SYMFONY "TAGS" -->

					<!-- DEBUT FORMULAIRE SYMFONY "INFOS SUPP." -->
					{{ form_row(form.infoSup) }}
					<!-- FIN FORMULAIRE SYMFONY "INFOS SUPP." -->

					<ul class="list-inline">
						<li><button type="button" class="btn btn-default prev-step">Pr&eacute;c&eacute;dent</button></li>
						<li><button type="button" class="btn btn-primary btn-info-full next-step">Suivant</button></li>
					</ul>
				</div>

				{# STEP 5 INFOS.SUPP #}
				<div class="tab-pane" role="tabpanel" id="step5">
					<h3>Une petite v&eacute;rification.</h3>
					<p>Avant d'envoyer tous ces gros paquets de données, vérifiez bien que tout est correct !</p>


					<ul class="list-inline">
						<li><button type="button" class="btn btn-default prev-step">Pr&eacute;c&eacute;dent</button></li>
						<li><button type="submit" class="btn btn-success btn-info-full">Soumettre mon projet</button></li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			{{ form_rest(form) }}

		</form>
		<div class="modal fade" id="modalForm" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalFormLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="delete-box"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="modalFormLabel">Nouveau bloc</h4>
		        <input type="text" placeholder="Titre du bloc" id="box-title-form">
		      </div>
		      <div class="modal-body">
		      	<ul class="nav-modal-form">
				  <li class="texte active"><a href="#form-texte">Texte</a></li>
				  <li class="image"><a href="#form-image">Image</a></li>
				  <li class="video"><a href="#form-video">Video</a></li>
				</ul>

				<div class="form-choice-box" id="form-texte">
					<textarea id="editor" name="editor"></textarea>
				</div>
				<div class="form-choice-box" id="form-image">
					<p>Attention ! L'image doit faire au maximum 1Mo.</p>
					<a href="#" id="file-form-image">Choisir une image pour le bloc</a>
				</div>
				<div class="form-choice-box" id="form-video">
					<input type="text" placeholder="Entrez l'url de la vidéo (ex : http://youtube.com/watch?v=code)">
				</div>
		      </div>
		      <div class="modal-footer">
		      	<div class="radio-width" id="radio-width-box">
		      		<label><input type="radio" name="box-width" value="0" checked> 1 colonne </label>
		      		<label><input type="radio" name="box-width" value="1"> 2 colonnes</label>
		      	</div>
		        <button type="button" class="btn btn-success" id="button-validation-modal">Insérer le bloc</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="modal fade" id="modalEditForm" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="modalEditFormLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="modalEditFormLabel">Editer un bloc</h4>
		        <input type="text" placeholder="Titre du bloc" id="box-title-formEdit">
		      </div>
		      <div class="modal-body">

		      </div>
		      <div class="modal-footer">
		      	<div class="radio-width" id="radio-width-box-edit">
		      		<label><input type="radio" name="box-width-edit" value="0" checked> 1 colonne </label>
		      		<label><input type="radio" name="box-width-edit" value="1"> 2 colonnes</label>
		      	</div>
		        <button type="button" class="btn btn-success" id="button-validation-modalEdit">Modifier le bloc</button>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	<!-- FIN BOOTSNIPP NOUVEAU FORMULAIRE AVEC INTEGRATION TWIG DE L'ANCIEN FORMULAIRE -->
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="//cdn.ckeditor.com/4.5.3/basic/ckeditor.js"></script>
	<script type="text/javascript" src="{{ asset('js/create_project.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/bootstrap-filestyle.js') }}"> </script>

	<script>
	$(":file").filestyle({input: false});
	$('.buttonText').text('Image couverture du projet');
	$('.glyphicon-folder-open').hide();

	// DEBUT JAVASCRIPT BOOTSNIPP TIMELINE
	$(document).ready(function () {
	    //Initialize tooltips
	    $('.nav-tabs > li a[title]').tooltip();
	    
	    //Wizard
	    $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

	    	var $target = $(e.target);

	    	if ($target.parent().hasClass('disabled')) {
	    		return false;
	    	}
	    });

	    $(".next-step").click(function (e) {

	    	var $active = $('.wizard .nav-tabs li.active');
	    	$active.next().removeClass('disabled');
	    	nextTab($active);

	    });
	    $(".prev-step").click(function (e) {

	    	var $active = $('.wizard .nav-tabs li.active');
	    	prevTab($active);

	    });
	});

	function nextTab(elem) {
		$(elem).next().find('a[data-toggle="tab"]').click();
	}
	function prevTab(elem) {
		$(elem).prev().find('a[data-toggle="tab"]').click();
	}
	// FIN JAVASCRIPT BOOTSNIPP TIMELINE

	CKEDITOR.replace( 'editor' );
	$('.form-choice-box').hide();
	$('#form-texte').show();
	$('.modal-body .nav-modal-form li a').on('click', function(e) {
		e.preventDefault();
		$('.form-choice-box').hide();
		$('.modal-body .nav-modal-form li.active').removeClass('active');
		$($(this).attr('href')).show();
		$(this).parent().addClass('active');
	});
	</script>

{% endblock %}