{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  {{ projet.nom }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{asset('css/style_edit_projet.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<h1 class="title-edit-project">Modifier le projet</h1>
	<form action="{{ path('cf_main_modifier_projet', { id : projet.id}) }}" {{ form_enctype(form) }} method="POST" class="form-edit-project">
		{{ form_errors(form) }}
		{{ form_start(form) }}

		<div class="tab-box">
			<h1>Image de fond</h1>
			<div class="form-group">
	            <label><i class="fa fa-picture-o"></i></label>{{ form_widget(form.background, {'attr': {'class': 'filestyle', 'data-buttonText': 'Choisir l\'image de fond'}}) }} 
	        </div>
		</div>
		<div class="tab-box">
			<h1>Informations supplémentaires</h1>
			<div class="form-group">
				{{ form_widget(form.infoSup, { 'attr': {'class': 'form-control ckeditor', 'placeholder' : 'Saisissez les informations supplémentaires...'} }) }}
			</div>
		</div>
		<div class="btn-edit-project">
			<ul class="nav nav-tabs btn-group" role='group'>
				<a class="btn btn-danger" href="{{ path('fos_user_profile_show', { slug : app.user.slug }) }}">Annuler <i class="fa fa-undo"></i></a>
				<button type="submit" class="btn btn-success">Enregistrer <i class="fa fa-floppy-o"></i></button>
			</ul>
		</div>
		{{ form_end(form) }}
	</form>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-filestyle.js') }}"> </script>
    <script>
        $(":file").filestyle({input: false});
        $('.buttonText').text('Modifier l\'image de fond');
        $('.glyphicon-folder-open').hide();
    </script>
{% endblock %}