{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  Projet {{ projet.id }} - {{ parent() }}
{% endblock %}

{% block stylesheet %}
	{{ parent() }}
	<link href="{{asset('css/style_show.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<div id='block-head'>
		<div class='content'>
			<img id='background-img' src="{{asset(projet.background.AssetPath) }}"/>
		</div>
		<div class='content'>
			<div id='infos-asso'>
				<div id='certification'>
					<p id='label'>Association certifiée <i class="fa fa-check"></i></p>
					<img id='logo' src="{{asset( projet.idAsso.logo.AssetPath) }}"/>
				</div>
				<div id='content-infos'>
					<h1>{{ projet.idAsso.nomAsso }}</h1>
					<div id='content-infos-second-row'>
						<div id='town-asso'>{{ projet.idAsso.ville }}</div>
						<div id="reseaux_sociaux">
							<a href="#" id="facebook"><span class="fa fa-facebook"></span> Facebook</a>
							<a href="#" id="twitter"><span class="fa fa-twitter"></span> Twitter</a>
							<a href="#" id="googleplus"><span class="fa fa-google-plus"></span> Google+</a>
						</div>
					</div>
					<a href="{{ path('fos_user_profile_user_show', { 'username': projet.idAsso.username }) }}" class='btn btn-default'>Voir le profil <i class="fa fa-search"></i></a>
				</div>
			</div>
			<div id='project-title'>{{ projet.nom }}</div>
			<div id='project-ressources'>
				<div id='content-ressources'>
					<div id='text-ressources'>
						<div id='left-ressources'>
							<div id='text-ressource-info'>Informations <i class="fa fa-tag"></i></div>
							<div id='text-ressource-financiere'>Financières <i class="fa fa-bar-chart"></i></div>
						</div>
						<div id='right-ressources'>
							<div id='text-ressource-humaine'><i class="fa fa-users"></i> Humaines</div>
							<div id='text-ressource-materiel'><i class="fa fa-desktop"></i> Matériels</div>
						</div>
					</div>
					<div id='diagramme'>
						<svg height="150" width="150">
							<circle cx="75" cy="75" r="65" fill="rgba(100,100,100,0.8)" />
						</svg>
						<div class='pie-content'>
							<div class='percentage'>70%</div>
							<div class='name'>Ressources</div>
						</div>
						<ul class="pie">
							<li class="visualize ressource-materiel" data-color='#5cb85c' data-value="20"></li>
							<li class="visualize ressource-financiere" data-color='#d9534f' data-value="23"></li>
							<li class="visualize" data-value="30" data-color="rgba(0,0,0,0)"></li>
							<li class="visualize ressource-humain" data-color='#5bc0de' data-value="27"></li>
						</ul>
					</div>
					<a href='#' class='btn btn-default'>Soutenir ce projet <i class="fa fa-play"></i></a>
					<div id='project-tags'>
						{% for tag in projet.tags %}
							<div class='tag'>{{ tag.nom }}</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id='block-body'>
		<div class="panel-heading">
			<ul class="nav nav-tabs btn-group" role='group'>
				<li class="btn btn-default active"><a href="#tabproject" data-toggle="tab">Le projet</a></li>
				<li class="btn btn-default"><a href="#tabhistory" data-toggle="tab">Son histoire</a></li>
				<li class="btn btn-default"><a href="#tabupdates" data-toggle="tab">Les mises à jour</a></li>
				<li class="btn btn-default"><a href="#tabcomments" data-toggle="tab">Vos commentaires</a></li>
				<li class="btn btn-default"><a href="#tabmore" data-toggle="tab">Plus d'informations</a></li>
			</ul>
		</div>
		<div class="panel-body">
			<div class="tab-content">
				<div class="tab-pane fade in active" id="tabproject">
					<div class='tab-box aside'>
						<h1>Ressources</h1>
						{% for besoin in projet.besoins %}
							<p><strong>{{ besoin.ressource }}</strong><span class="pull-right label label-success">Collecté : {{ besoin.quantiteActuelle }} sur {{ besoin.quantiteDemande }}</span></p>
							{% set pourcentage = ((besoin.quantiteActuelle / besoin.quantiteDemande) * 100) %}
							<div class="progress">
								<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ pourcentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pourcentage }}%">
									<span class="sr-only">{{ pourcentage }}% Complete</span>
								</div>
							</div>
							<hr>
						{% endfor %}
						<p><strong>Bénévoles</strong><span class="pull-right label label-info">Collecté : 3 sur 6</span></p>
						<div class="progress">
							<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
								<span class="sr-only">50% Complete</span>
							</div>
						</div>
						<hr>
						<p><strong>Financier</strong><span class="pull-right label label-danger">Collecté : 30€ sur 100€</span></p>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
								<span class="sr-only">30% Complete</span>
							</div>
						</div>
						<hr>
						
						{% set difference = projet.dateFin.diff(date('now')) %}
						{% set leftDays = difference.days %}
						{% set leftHours = difference.h %}
						{% set leftMinutes = difference.i %}

						<h2>
							<i class="fa fa-clock-o"></i> 
							{% if projet.dateFin > date('now') %}
								<strong>Temps restant :</strong> 
								{% if leftDays > 1 %}
									{{ leftDays }} jours
								{% elseif leftDays == 1 %}
									{{ leftDays }} jour
								{% else %}
									{% if leftHours > 1 %}
										{{ leftHours }} heures
									{% elseif leftHours == 1 %}
										{{ leftHours }} heure
									{% else %}
										{% if leftMinutes > 0 %}
											{{ leftMinutes }} minutes
										{% endif %}
									{% endif %}
								{% endif %}
							{% else %}
								Projet terminé
							{% endif %}
						</h2>
						<h2><i class="fa fa-user"></i> <strong>Donateurs :</strong> 7</h2>
						<hr>
						<p><a href='#' class='btn btn-default'>Soutenir ce projet <i class="fa fa-play"></i></a><p>
					</div>
					<div class='tab-box full aside'>
						<h1>Le projet</h1>
						{{ projet.description|raw|nl2br }}
					</div>
				</div>
				<div class="tab-pane fade" id="tabhistory">
					<h1 class='tab-title'><i class="fa fa-quote-left"></i> Redynamiser le développement numérique à Boulogne sur mer <i class="fa fa-quote-right"></i></h1>
					<div class='tab-media'><iframe width="100%" height="400" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allowfullscreen></iframe></div>
					{% for box in projet.boxs %}
						<div class='tab-box'>
							<h1>{{ box.titre }}</h1>
							<p>{{ box.contenu }}</p>
						</div>
					{% endfor %}
				</div>
				<div class="tab-pane fade" id="tabupdates">
					<div class='tab-box full'>
						<div class='update-date'>Le 25 janvier 2015 - 11h38</div>
						<h1>Ma Deuxième update</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
							esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<p class='picture'><img src="{{ asset('images/3.jpg') }}"/></p>
						<p>
							<ul>
								<li>Blablabla</li>
								<li>Blablabla</li>
								<li>Blablabla</li>
								<li>Blablabla</li>
								<li>Blablabla</li>
							</ul>
						</p>
						<a href='#' class='btn'>Commentaires</a>
					</div>
					<div class='tab-box full'>
						<div class='update-date'>Le 21 janvier 2015 - 21h34</div>
						<h1>Ma première update</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
							esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<p class='picture'><img src="{{ asset('images/4.jpg') }}"/></p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
							esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<p class='picture'><img src="{{ asset('images/1.jpg') }}"/></p>
						<a href='#' class='btn'>Commentaires</a>
					</div>
				</div>
				<div class="tab-pane fade" id="tabcomments">
					<div id="loading"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
					{% include 'CFCommentBundle:Thread:async.html.twig' with {'id': projet.id} %}
				</div>
				<div class="tab-pane fade" id="tabmore">
					<div class='tab-box full'>
						<h1>Plus d'informations</h1>
						{{ projet.infoSup|raw|nl2br }}

					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="{{asset('js/visualize.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/diagramme.js')}}"></script>
	<script>
		$(document)
	    .on('fos_comment_before_load_thread', function (data) {
	        $("#loading").show();
	    })
	    .on('fos_comment_load_thread', function (data) {
        	$("#loading").fadeOut(200);
    	});

	</script>
{% endblock %}