{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  	{{ parent() }} - Tous les projets
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style_showAll.css') }}" rel="stylesheet"/>
	<style class="tags-style">
		{% for projet in projets %}
		{% for tag in projet.tags %}
		.tag-{{ tag.id }} {
			background: {{ tag.couleur }} !important;
		}
		.tag-{{ tag.id }}::before {
			border-color: transparent {{ tag.couleur }} transparent transparent !important;
		}
		{% endfor %}
		{% endfor %}
	</style>
{% endblock %}

{% block footer %}{% endblock %}

{% block body %}
	<div id="search-content">
		<div class="selectors">
			<div class="row">
				<div class="col-xs-6 titre-recherche text-center">
					rechercher par thème
				</div>
				<div class="col-xs-6 titre-recherche text-center">
					rechercher par ville
				</div>
			</div>

				<div class="selector">
					{% for s in selecteurs %}
						{% if s.colonne == 1 %}
						<div class="container-select">
							<div class="select" style="color: {{ s.couleur }}">{{ s.texte }}</div>
						</div>
						{% endif %}
					{% endfor %}
				</div><div class="selector">
					{% for s in selecteurs %}
						{% if s.colonne == 2 %}
						<div class="container-select">
							<div class="select" style="color: {{ s.couleur }}">{{ s.texte }}</div>
						</div>
						{% endif %}
					{% endfor %}
				</div><div style="display: inline-block"><div class="selector">
					{% for s in selecteurs %}
						{% if s.colonne == 3 %}
						<div class="container-select">
							<div class="select" style="color: {{ s.couleur }}">{{ s.texte }}</div>
						</div>
						{% endif %}
					{% endfor %}
				</div><div class="selector">
					{% for s in selecteurs %}
						{% if s.colonne == 4 %}
						<div class="container-select">
							<div class="select" style="color: {{ s.couleur }}">{{ s.texte }}</div>
						</div>
						{% endif %}
					{% endfor %}
				</div>
				<div class="discover-map">
					<div class="btn-discover-map">Découvrir sur carte intéractive</div>
					<p>propulsé par OpenStreetMap (bientôt)</p>
				</div>
			</div>
		</div>	
	</div>
	<div class="search">
		{% set textProjets = 1 %}
		{{ render(controller('CFMainBundle:Recherche:renderSearch')) }}
	</div>

	<div id="content-scrolling">
		<div id="content">
		{% for projet in projets %}
			<a href="{{ path('cf_main_project', {'slug' : projet.slug}) }}" class="project">
				<div  id="project-{{ projet.id }}" class="apercu">
					<div style="background: url('../../{{ projet.background.AssetPath }}') 50% 50%; background-size:cover;" class="project-background"></div>
					<div class="filter"></div>
					<div class="project-title">{{ projet.nom }}</div>
					<div class="time-remaining">
						<i class="fa fa-clock-o"></i> 
						{% set difference = projet.dateFin.diff(date('now')) %}
						{% set leftDays = difference.days %}
						{% set leftHours = difference.h %}
						{% set leftMinutes = difference.i %}
						{% if projet.dateFin > date('now') %}
							<strong>Temps restant :</strong> 
							{% if leftDays > 1 %}
								{{ leftDays }} jours
							{% elseif leftDays == 1 %}
								{{ leftDays }} jour
							{% else %}
								{% if leftHours > 1 %}
									{{ leftHours }} heures
								{% elseif leftHours == 1 %}
									{{ leftHours }} heure
								{% else %}
									{% if leftMinutes > 0 %}
										{{ leftMinutes }} minutes
									{% endif %}
								{% endif %}
							{% endif %}
						{% else %}
							Projet terminé
						{% endif %}
					</div>
					<ul class="project-tags">
						{% for tag in projet.tags %}
							<li class="tag-{{ tag.id }}">{{ tag.nom }}</li>
						{% endfor %}
					</ul>
					<div class='chart'>
						<svg height="105" width="105">
							<circle cx="52.5" cy="52.5" r="45" fill="#34495E" />
						</svg>
						<div class='pie-content'>
							{% set pourcentage = (projet.nbActuHumain + projet.nbActuMateriel + projet.nbActuComm + projet.nbActuFinancier)/projet.nbRessources %}
							<div class='percentage'>{{ (pourcentage*100)|round }}%</div>
							<div class='name'>ressources</br>collectées</div>
						</div>
						<ul class="pie">
							<li class='visualize ressource-materiel' data-color='#a66abe' data-value='{{ (projet.nbActuMateriel/projet.nbRessources)*100 }}'></li>
							<li class='visualize ressource-financiere' data-color='#ea5f50' data-value='{{ (projet.nbActuFinancier/projet.nbRessources)*100 }}'></li>
							<li class='visualize' data-value='{{ (100-(projet.nbActuMateriel/projet.nbRessources)*100 - (projet.nbActuFinancier/projet.nbRessources)*100 - (projet.nbActuHumain/projet.nbRessources)*100 - (projet.nbActuComm/projet.nbRessources)*100)|round }}' data-color='rgba(0,0,0,0)'></li><li class='visualize ressource-humain' data-color='#70d48d' data-value='{{ (projet.nbActuHumain/projet.nbRessources)*100 }}'></li>
							<li class='visualize ressource-info' data-color='#99a5af' data-value='{{ (projet.nbActuComm/projet.nbRessources)*100 }}'></li>
						</ul>
					</div>
				</div>
			</a>
		{% else %}
			<div class="error">Aucun projet ne correspond à vos critères de recherche… :(</div>
		{% endfor %}
		</div>
		<div class="scrolling-text">
			<img src="{{ asset('images/icones/arrowDown.png') }}" alt="arrowDown" class="icon-medium">
			<p>Faire défiler pour découvrir</p>
		</div>
	</div>

{% endblock %}
	
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/script_showAll.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/visualize.js') }}"></script>
	<script type="text/javascript">
		
		{% if recherche is defined %}
			$('.search input').val('{{ recherche }}');
		{% endif %}

		updateProjects();

		function updateProjects()
		{
			$('.pie').visualize({
				width: 105,
				height: 105,
				type: 'pie',
				legend: false
			});

			$('.project').on('mouseover', function() {
				$(this).children('div.apercu').children('div.filter').animate({backgroundColor: "rgba(92, 151, 191, 0.6)"}, {queue: false}, 100);
			})
			.on('mouseleave', function(){
				$(this).children('div.apercu').children('div.filter').animate({backgroundColor: "rgba(0, 0, 0, 0.6)"}, {queue: false}, 100);
			});
		}

		var load = false;

		$(window).scroll(function(){
        	if($(window).scrollTop() == $(document).height() - $(window).height() && load == false) {

        		load = true;

        		$('#content').append('<div class="loading"><i class="fa fa-spinner fa-pulse"></i></div>');

        		var params = 'index='+$('#content > a').length;

	            $.ajax({
	                url: '../projets/tous/update',
	                type: 'POST',
	                data: params,
	                success: function(data) {

                        $('.loading').remove();

                        load = false;

	                    if(data) {
	                    	var taille = data.length;
							for(i=0;i<taille;i++)
							{

                   				console.log(data[i]);

								var pourcentage = Math.round(((data[i].nbActuHumain + data[i].nbActuMateriel + data[i].nbActuComm + data[i].nbActuFinancier)/data[i].nbRessources)*100);

								var imagePath = "../../"+data[i].background;

							    var start_actual_time = new Date($.now());
							    var end_actual_time = new Date(data[i].dateFin.date);

							    var diff = end_actual_time - start_actual_time;

							    var minutes = Math.round(diff/1000/60);
							    var hours = Math.round(minutes/60);
							    var days = Math.round(hours/24);

							    var dateFin = "";

							    if (minutes > 0) {
							    	dateFin = "Temps restant : ";
							    	if (days > 1) {
							    		dateFin += days + " jours";
							    	}
							    	else if (days == 1) {
							    		dateFin += days + " jour";
							    	}
							    	else {
							    		if(hours > 1) {
							    			dateFin += hours + " heures";
							    		}
							    		else if (hours == 1) {
							    			dateFin += hours + " heure";
							    		}
							    		else {
							    			if(minutes > 0) {
							    				dateFin += minutes + " minutes";
							    			}
							    		}
							    	}
							    }
							    else {
							    	dateFin = "Projet terminé";
							    }

							    var projectTags = '';

							    for (var j = 0; j < data[i].tags.length; j++) {
							    	projectTags += '<li class="tag-'+data[i].tags[j].id+'">'+data[i].tags[j].nom+'</li>';
							 		$('.tags-style').append('.tag-'+data[i].tags[j].id+' {background: '+data[i].tags[j].couleur+' !important; }.tag-'+data[i].tags[j].id+'::before {border-color: transparent '+data[i].tags[j].couleur+' transparent transparent !important;}');
							    };

								$('#content').append('<a href="../projet/voir/'+data[i].slug+'" class="project"><div  id="project-'+data[i].id+'" class="apercu"><div  style="background: url('+imagePath+') 50% 50%; background-size:cover;" class="project-background"></div><div class="filter"></div><div class="project-title">'+data[i].nom+'</div><div class="time-remaining"><i class="fa fa-clock-o"></i> '+dateFin+'</div><ul class="project-tags">'+projectTags+'</ul><div class="chart"><svg height="105" width="105"><circle cx="52.5" cy="52.5" r="45" fill="#34495E" /></svg><div class="pie-content"><div class="percentage">'+pourcentage+'%</div><div class="name">ressources</br>collectées</div></div><ul class="pie"><li class="visualize ressource-materiel" data-color="#a66abe" data-value="'+(data[i].nbActuMateriel / data[i].nbRessources)*100+'"></li><li class="visualize ressource-financiere" data-color="#ea5f50" data-value="'+(data[i].nbActuFinancier / data[i].nbRessources)*100+'"></li><li class="visualize" data-value="'+Math.round((100-(data[i].nbActuMateriel / data[i].nbRessources)*100 - (data[i].nbActuFinancier / data[i].nbRessources )*100 - (data[i].nbActuHumain / data[i].nbRessources )*100 - (data[i].nbActuComm / data[i].nbRessources )*100))+'" data-color="rgba(0,0,0,0)"></li><li class="visualize ressource-humain" data-color="#70d48d" data-value="'+(data[i].nbActuHumain / data[i].nbRessources)*100+'"></li><li class="visualize ressource-info" data-color="#99a5af" data-value="'+(data[i].nbActuComm / data[i].nbRessources)*100+'"></li></ul></div></div></a>');

								updateProjects();
							}
	                    }
	                }
	            });
	        }
     	});
	</script>
{% endblock %}