{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  {{ projet.nom }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{asset('css/style_show.css')}}" rel="stylesheet"/>
	<link href="{{asset('css/style_participer_projet.css')}}" rel="stylesheet"/>
{% endblock %}

{% set pourcentageHumain = 0.0 %}
{% set pourcentageMateriel = 0.0 %}
{% set pourcentageComm = 0.0 %}
{% set pourcentageFinancier = 0.0 %}
{% set pourcentageTotal = 0.0 %}

{% if projet.nbDemandeFinancier > 0 %}
	{% set pourcentageFinancier = (projet.nbActuFinancier/projet.nbDemandeFinancier)*100 %}
{% else %}
	{% set pourcentageFinancier = projet.nbActuFinancier*100 %}
{% endif %}

{% if projet.nbDemandeMateriel > 0 %}
	{% set pourcentageMateriel = (projet.nbActuMateriel/projet.nbDemandeMateriel)*100 %}
{% else %}
	{% set pourcentageMateriel = projet.nbActuMateriel*100 %}
{% endif %}

{% if projet.nbDemandeHumain > 0 %}
	{% set pourcentageHumain = (projet.nbActuHumain/projet.nbDemandeHumain)*100 %}
{% else %}
	{% set pourcentageHumain = projet.nbActuHumain*100 %}
{% endif %}

{% if projet.nbDemandeComm > 0 %}
	{% set pourcentageComm = (projet.nbActuComm/projet.nbDemandeComm)*100 %}
{% else %}
	{% set pourcentageComm = projet.nbActuComm*100 %}
{% endif %}

{% if projet.nbDemandeComm > 0 %}
	{% set pourcentageTotal = ((projet.nbActuMateriel + projet.nbActuHumain + projet.nbActuComm + projet.nbActuFinancier) / projet.nbRessources)*100 %}
{% else %}
	{% set pourcentageTotal = ((projet.nbActuMateriel + projet.nbActuHumain + projet.nbActuComm + projet.nbActuFinancier))*100 %}
{% endif %}

{% block body %}
<section id="main-without-title">
	<div id='block-head'>
		<div class='content'>
			<img id='background-img' src="{{asset(projet.background.AssetPath) }}"/>
		</div>
		<div class='content'>
			<div id='infos-asso'>
				<div id='certification'>
					<p id='label'>Association certifiée <i class="fa fa-check"></i></p>
					<img id='logo' src="{{asset( projet.association.logo.AssetPath) }}"/>
				</div>
				<div id='content-infos'>
					<h1>{{ projet.association.nom }}</h1>
					<div id='content-infos-second-row'>
						<div id='town-asso'>{{ projet.association.ville }}</div>
						<div id="reseaux_sociaux">
							<a href="#" id="facebook"><span class="fa fa-facebook"></span> Facebook</a>
							<a href="#" id="twitter"><span class="fa fa-twitter"></span> Twitter</a>
							<a href="#" id="googleplus"><span class="fa fa-google-plus"></span> Google+</a>
						</div>
					</div>
					<a href="{{ path('fos_user_profile_user_show', { 'username': projet.association.username }) }}" class='btn btn-default'>Voir le profil <i class="fa fa-search"></i></a>
				</div>
			</div>
			<div id='project-title'>{{ projet.nom }}</div>
			<div id='project-ressources'>
				<div id='content-ressources'>
					<div id='text-ressources'>
						<div id='left-ressources'>
							<div id='text-ressource-info'>Informations <i class="fa fa-tag"></i></div>
							<div id='text-ressource-financiere'>Financières <i class="fa fa-bar-chart"></i></div>
						</div>
						<div id='right-ressources'>
							<div id='text-ressource-humaine'><i class="fa fa-users"></i> Humaines</div>
							<div id='text-ressource-materiel'><i class="fa fa-desktop"></i> Matérielles</div>
						</div>
					</div>

					<div id='diagramme'>
						<svg height="150" width="150">
							<circle cx="75" cy="75" r="65" fill="#34495E" />
						</svg>
						<div class="pie-content">
						</div>
						<ul class="pie">
						</ul>
					</div>
					{% if app.user == projet.association %}
						<a href="{{ path('cf_main_modifier_projet', {'id': projet.id}) }}" class='btn btn-default'>Modifier mon projet <i class="fa fa-play"></i></a>
					{% else %}
						<a  data-toggle="modal" data-target="#modal-participate" class='btn btn-default'>Soutenir ce projet <i class="fa fa-play"></i></a>
					{% endif %}
					
					<div id='project-tags'>
						{% for tag in projet.tags %}
							<div class='tag'>{{ tag.nom }}</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id='block-body'>
		{% if app.user != projet.association %}
			{{ render(controller('CFMainBundle:Project:participate', { id : projet.id } )) }}
		{% endif %}
		<div class="panel-heading">
			<ul class="nav nav-tabs btn-group" role='group'>
				<li class="btn btn-default active"><a href="#tabproject" data-toggle="tab">Le projet</a></li>
				<li class="btn btn-default"><a href="#tabhistory" data-toggle="tab">Son histoire</a></li>
				<li class="btn btn-default"><a href="#tabupdates" data-toggle="tab">Les mises à jour</a></li>
				<li class="btn btn-default"><a href="#tabcomments" data-toggle="tab">Vos commentaires</a></li>
				<li class="btn btn-default"><a href="#tabmore" data-toggle="tab">Plus d'informations</a></li>
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					{% if app.user.hasProjetsSuivis(projet) %}
					<li class="btn btn-default"><a href="{{ path('cf_main_not_suivre_projet', {id: projet.id}) }}">Ne plus suivre le projet</a></li>
				{% else %}
					<li class="btn btn-default"><a href="{{ path('cf_main_suivre_projet', {id: projet.id}) }}">Suivre le projet</a></li>
				{% endif %}
			{% endif %}
			</ul>
		</div>
		<div class="panel-body">
			<div class="tab-content">
				<div class="tab-pane fade in active" id="tabproject">
					<div class='tab-box aside'>
						<h1>Ressources</h1>
						{% for besoin in projet.besoins %}
							{% if besoin.type == "materiel" %}
								<p><strong>{{ besoin.ressource }}</strong><span class="pull-right label label-success">Collecté : {{ besoin.quantiteActuelle }} sur {{ besoin.quantiteDemande }}</span></p>
								{% set pourcentage = ((besoin.quantiteActuelle / besoin.quantiteDemande) * 100) %}
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ pourcentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pourcentage }}%">
										<span class="sr-only">{{ pourcentage }}% Complete</span>
									</div>
								</div>
							{% elseif besoin.type == "benevole" %}
								<p><strong>{{ besoin.ressource }}</strong><span class="pull-right label label-info">Réuni : {{ besoin.quantiteActuelle }} sur {{ besoin.quantiteDemande }}</span></p>
								{% set pourcentage = ((besoin.quantiteActuelle / besoin.quantiteDemande) * 100) %}
								<div class="progress">
									<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ pourcentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pourcentage }}%">
										<span class="sr-only">{{ pourcentage }}% Complete</span>
									</div>
								</div>
							{% elseif besoin.type == "financier" %}
								<p><strong>{{ besoin.ressource }}</strong><span class="pull-right label label-danger">Collecté : {{ besoin.quantiteActuelle }}€ sur {{ besoin.quantiteDemande }}€</span></p>
								{% set pourcentage = ((besoin.quantiteActuelle / besoin.quantiteDemande) * 100) %}
								<div class="progress">
									<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ pourcentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pourcentage }}%">
										<span class="sr-only">{{ pourcentage }}% Complete</span>
									</div>
								</div>
							{% elseif besoin.type == "communication" %}	
								<p><strong>{{ besoin.ressource }}</strong><span class="pull-right label label-warning">Collecté : {{ besoin.quantiteActuelle }} sur {{ besoin.quantiteDemande }}</span></p>
								{% set pourcentage = ((besoin.quantiteActuelle / besoin.quantiteDemande) * 100) %}
								<div class="progress">
									<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ pourcentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pourcentage }}%">
										<span class="sr-only">{{ pourcentage }}% Complete</span>
									</div>
								</div>
							{% endif %}
							<hr>
						{% endfor %}

						{% set difference = projet.dateFin.diff(date('now')) %}
						{% set leftDays = difference.days %}
						{% set leftHours = difference.h %}
						{% set leftMinutes = difference.i %}

						<h2>
							<i class="fa fa-clock-o"></i> 
							{% if projet.dateFin > date('now') %}
								<strong>Temps restant :</strong> 
								{% if leftDays > 1 %}
									{{ leftDays }} jours
								{% elseif leftDays == 1 %}
									{{ leftDays }} jour
								{% else %}
									{% if leftHours > 1 %}
										{{ leftHours }} heures
									{% elseif leftHours == 1 %}
										{{ leftHours }} heure
									{% else %}
										{% if leftMinutes > 0 %}
											{{ leftMinutes }} minutes
										{% endif %}
									{% endif %}
								{% endif %}
							{% else %}
								Projet terminé
							{% endif %}
						</h2>
						<h2><i class="fa fa-user"></i> <strong>{% if projet.nbDonateur > 1 %}Donateurs :{% else %}Donateur :{% endif %}</strong> {{ projet.nbDonateur }}</h2>
    					{% if app.user != projet.association %}
							<hr>
							<p><a data-toggle="modal" data-target="#modal-participate" class='btn btn-default'>Soutenir ce projet <i class="fa fa-play"></i></a><p>
						{% endif %}
					</div>
					<div class='tab-box full aside'>
						<h1>Le projet</h1>
						{{ projet.description|raw|nl2br }}
					</div>
				</div>
				<div class="tab-pane fade" id="tabhistory">
					<h1 class='tab-title'><i class="fa fa-quote-left"></i> Redynamiser le développement numérique à Boulogne sur mer <i class="fa fa-quote-right"></i></h1>
					<div class='tab-media'><iframe width="100%" height="400" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allowfullscreen></iframe></div>
					{% for box in boxs %}
						{% if box.fullWidth %}
							<div class='tab-box full'>
						{% else %}
							<div class="tab-box">
						{% endif %}
						
							<h1>{{ box.titre }}</h1>
							<p>{{ box.contenu }}</p>
						</div>
					{% endfor %}
				</div>
				<div class="tab-pane fade" id="tabupdates">
					{% if app.user == projet.association %}
					<a href="{{ path('cf_main_rediger_actu', {id: projet.id}) }}">Rédiger une actualité</a>
					{% endif %}
					{% for a in projet.actualites %}
						<div class='tab-box full'>
							{% if app.user == a.projet.association %}
							<a href="{{ path('cf_main_edit_actu', {id: a.id}) }}">Editer</a> -
							<a href="{{ path('cf_main_delete_actu', {id: a.id}) }}">Supprimer</a>
							{% endif %}
							<div class='update-date'>Le 25 janvier 2015 - 11h38</div>
							<h1>{{ a.titre }}</h1>
							{{ a.contenu }}
						</div>
					{% endfor %}

				</div>
				<div class="tab-pane fade" id="tabcomments">
					<div id="loading"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
					{% include 'CFCommentBundle:Thread:async.html.twig' with {'id': projet.id} %}
				</div>
				<div class="tab-pane fade" id="tabmore">
					<div class='tab-box full'>
						<h1>Plus d'informations</h1>
						{{ projet.infoSup|raw|nl2br }}

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{asset('js/visualize.js')}}"></script>
	<script type="text/javascript">

		fullfilDiagramme();
		var speed = 200;

		$('#text-ressource-financiere').mouseenter(function(){
			$('.pie').hide().html("<li class='visualize ressource-financiere' data-color='#ea5f50' data-value='{{pourcentageFinancier}}'></li><li class='visualize' data-color='rgba(0,0,0,0)' data-value='{{ 100 - pourcentageFinancier}}'></li>").fadeIn(speed);
			$('.pie-content').hide().html("<div class='percentage'>{{pourcentageFinancier|round}}%</div><div class='name'>Financières</div>").fadeIn(speed);
			drawDiagramme();
		}).mouseleave(function(){
			fullfilDiagramme();
		});

		$('#text-ressource-materiel').mouseenter(function(){
			$('.pie').hide().html("<li class='visualize ressource-materiel' data-color='#a66abe' data-value='"+{{pourcentageMateriel}}+"'></li><li class='visualize' data-color='rgba(0,0,0,0)' data-value='"+(100 - {{pourcentageMateriel}})+"'></li>").fadeIn(speed);
			$('.pie-content').hide().html("<div class='percentage'>{{pourcentageMateriel|round}}%</div><div class='name'>Matérielles</div>").fadeIn(speed);
			drawDiagramme();
		}).mouseleave(function(){
			fullfilDiagramme();
		});

		$('#text-ressource-humaine').mouseenter(function(){
			$('.pie').hide().html("<li class='visualize ressource-humaine' data-color='#70d48d' data-value='"+{{pourcentageHumain}}+"'></li><li class='visualize' data-color='rgba(0,0,0,0)' data-value='"+(100 - {{pourcentageHumain}})+"'></li>").fadeIn(speed);
			$('.pie-content').hide().html("<div class='percentage'>{{pourcentageHumain|round}}%</div><div class='name'>Humaines</div>").fadeIn(speed);
			drawDiagramme();
		}).mouseleave(function(){
			fullfilDiagramme();
		});

		$('#text-ressource-info').mouseenter(function(){
			$('.pie').hide().html("<li class='visualize ressource-info' data-color='#99a5af' data-value='"+{{pourcentageComm}}+"'></li><li class='visualize' data-color='rgba(0,0,0,0)' data-value='"+(100 - {{pourcentageComm}})+"'></li>").fadeIn(speed);
			$('.pie-content').hide().html("<div class='percentage'>{{pourcentageComm|round}}%</div><div class='name'>Communication</div>").fadeIn(speed);
			drawDiagramme();
		}).mouseleave(function(){
			fullfilDiagramme();
		});
		
		function drawDiagramme()
		{
			$('.pie').visualize({
				width: 150,
				height: 150,
				type: 'pie',
				legend: false
			});
		}

		function fullfilDiagramme()
		{
			$('.pie').hide().html("<li class='visualize ressource-materiel' data-color='#a66abe' data-value='{{ (projet.nbActuMateriel/projet.nbRessources)*100 }}'></li><li class='visualize ressource-financiere' data-color='#ea5f50' data-value='{{ (projet.nbActuFinancier/projet.nbRessources)*100 }}'></li><li class='visualize' data-value='{{ (100 - (projet.nbActuMateriel/projet.nbRessources)*100 - (projet.nbActuFinancier/projet.nbRessources)*100 - (projet.nbActuHumain/projet.nbRessources)*100 - (projet.nbActuComm/projet.nbRessources)*100)|round }}' data-color='rgba(0,0,0,0)'></li><li class='visualize ressource-humain' data-color='#70d48d' data-value='{{ (projet.nbActuHumain/projet.nbRessources)*100 }}'></li><li class='visualize ressource-info' data-color='#99a5af' data-value='{{ (projet.nbActuComm/projet.nbRessources)*100 }}'></li>").fadeIn(speed);
			$('.pie-content').hide().html("<div class='percentage'>{{pourcentageTotal|round}}%</div><div class='name'>Ressources</div>").fadeIn(speed);
			drawDiagramme();
		}

		$(document)
	    .on('fos_comment_before_load_thread', function (data) {
	        $("#loading").show();
	    })
	    .on('fos_comment_load_thread', function (data) {
        	$("#loading").fadeOut(200);
    	});

    </script>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.user != projet.association %}
    <script type="text/javascript">
		$(document).ready(function() {
		    var $containerDons = $('div#cf_mainbundle_projet_dons');

			var $lienAjoutDons = $('<div id="add-besoin-box"><a href="#">+</a></div>');

			$lienAjoutDons.click(function(e) {
				ajouterDon($containerDons);
				e.preventDefault();
				return false;
			});

			var indexDon = $containerDons.find(':input').length;

			if (indexDon == 0) {
				ajouterDon($containerDons);
			}
			else {
				$containerDons.children('div').each(function() {
					ajouterLienSuppressionDon($(this));
				});
			}

			function ajouterDon($containerDons) {
				var $prototype = $($containerDons.attr('data-prototype').replace(/__name__label__/g, '').replace(/__name__/g, indexDon));
				
				ajouterLienSuppressionDon($prototype);
				$containerDons.append($prototype);
				$containerDons.append('</div>');

				indexDon++;

				$containerDons.append($lienAjoutDons);
			}

			function ajouterLienSuppressionDon($prototype) {
				$lienSuppression = $('<a href="#" class="delete-button"><span class="glyphicon glyphicon-remove"></span></a>');
				$boite = $('<div class="besoin-box green" id="box-'+indexDon+'"></div>');
				$boite.append($lienSuppression);
				$boite.append('<div class="header-besoin-box"><span class="glyphicon glyphicon-user"></span><div class="styled-select"><select data-index-select="'+indexDon+'">{% if projet.nbDemandeHumain > 0 %}<option value="benevole" selected>Humaines</option>{% endif %}{% if projet.nbDemandeFinancier > 0 %}<option value="financier">Financière</option>{% endif %}{% if projet.nbDemandeMateriel > 0 %}<option value="materiel">Matérielles</option>{% endif %}{% if projet.nbDemandeComm > 0 %}<option value="communication">Informationel - Com.</option>{% endif %}</select><span class="glyphicon glyphicon-menu-down"></span></div></div>');
				$($prototype.children('div#cf_mainbundle_projet_dons_'+indexDon)).appendTo($boite);
				$prototype.append($boite);

				$lienSuppression.click(function(e) {
					$prototype.remove();
					e.preventDefault();
					return false;
				});
			}

			$(document).on('change', '.header-besoin-box select', function(){

				var index = $(this).attr('data-index-select');

				var newColor = "";
				var icon = "";

				var besoin = {
					"besoins" : [
					{% for besoin in projet.besoins %}
					{
						id: '{{ besoin.id }}',
						ressource: '{{ besoin.ressource }}',
					    type: '{{ besoin.type }}'
					},
					{% endfor %}
					]
				}

				$('#cf_mainbundle_projet_dons_'+index+'_besoin option').each( function(){
					var test = $('#box-'+index).children('div.header-besoin-box').children('div.styled-select').children('select').val();
				  	for(key in besoin.besoins) {
						var unBesoin = besoin.besoins[key];
						if(unBesoin.id == $(this).val()){
							if(unBesoin.type != test)
							{
								$(this).hide();
								$(this).removeAttr('selected');
							}
							else
							{
								$(this).show();
								$(this).attr('selected','selected');
							}
						}
				  	}
				});

				if($(this).val() == 'benevole')
				{
					newColor = "green";
					icon = "user";
				}
				else if($(this).val() == 'financier')
				{
					newColor = "red";
					icon = "euro";
				}
				else if($(this).val() == 'materiel')
				{
					newColor = "purple";
					icon = "tag";
				}
				else if($(this).val() == 'communication')
				{
					newColor = "grey";
					icon = "tag";
				}
				$('#box-'+index).children('div.header-besoin-box').children('span').attr('class', "glyphicon glyphicon-"+icon);
				$('#box-'+index).attr('class', "besoin-box "+newColor);
		    });
		});
	</script>
	{% endif %}
{% endblock %}