{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  Projets - {{ parent() }}
{% endblock %}

{% block navbarProject %} class="active" {% endblock %}

{% block stylesheet %}
	{{ parent() }}
	<link href="{{asset('css/style_showAll.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}<div class="content">
		<div class="apercu">
			<img src="{{ asset('images/1.jpg') }}"/>
			<div class="titre_projet">CRÉATION D'UN ESPACE DE CO-WORKING</div>
			<div class="nom_asso">Centre de Ressources des Associations Boulonnaises</div>
			<div class='diagramme'>
				<svg height="150" width="150">
					<circle cx="75" cy="75" r="65" fill="rgba(100,100,100,0.8)" />
				</svg>
				<div class='pie-content'>
					<div class='percentage'>70%</div>
					<div class='name'>Ressources</div>
				</div>
				<ul class="pie">
					<li class="visualize ressource-materiel" data-color='#5cb85c' data-value="20"></li>
					<li class="visualize ressource-financiere" data-color='#d9534f' data-value="23"></li>
					<li class="visualize" data-value="30" data-color="rgba(0,0,0,0)"></li>
					<li class="visualize ressource-humain" data-color='#5bc0de' data-value="27"></li>
				</ul>
			</div>
		</div>
		
		<div class="apercu">
			<img src="{{ asset('images/2.jpg') }}"/>
			<div class="titre_projet">CRÉATION D'UNE ANDOUILLETTE GEANTE</div>
			<div class="nom_asso">Association amicale des amateurs d'andouillette authentique</div>
			<div class='diagramme'>
				<svg height="150" width="150">
					<circle cx="75" cy="75" r="65" fill="rgba(100,100,100,0.8)" />
				</svg>
				<div class='pie-content'>
					<div class='percentage'>70%</div>
					<div class='name'>Ressources</div>
				</div>
				<ul class="pie">
					<li class="visualize ressource-materiel" data-color='#5cb85c' data-value="20"></li>
					<li class="visualize ressource-financiere" data-color='#d9534f' data-value="23"></li>
					<li class="visualize" data-value="30" data-color="rgba(0,0,0,0)"></li>
					<li class="visualize ressource-humain" data-color='#5bc0de' data-value="27"></li>
				</ul>
			</div>
		</div>
		
		<div class="apercu">
			<img src="{{ asset('images/3.jpg') }}"/>
			<div class="titre_projet">CRÉATION D'UN ESPACE DE CO-WORKING</div>
			<div class="nom_asso">Centre de Ressources des Associations Boulonnaises</div>
			<div class='diagramme'>
				<svg height="150" width="150">
					<circle cx="75" cy="75" r="65" fill="rgba(100,100,100,0.8)" />
				</svg>
				<div class='pie-content'>
					<div class='percentage'>70%</div>
					<div class='name'>Ressources</div>
				</div>
				<ul class="pie">
					<li class="visualize ressource-materiel" data-color='#5cb85c' data-value="20"></li>
					<li class="visualize ressource-financiere" data-color='#d9534f' data-value="23"></li>
					<li class="visualize" data-value="30" data-color="rgba(0,0,0,0)"></li>
					<li class="visualize ressource-humain" data-color='#5bc0de' data-value="27"></li>
				</ul>
			</div>
		</div>
		
		<div class="apercu">
			<img src="{{ asset('images/4.jpg') }}"/>
			<div class="titre_projet">CRÉATION D'UN ESPACE DE CO-WORKING</div>
			<div class="nom_asso">Centre de Ressources des Associations Boulonnaises</div>
			<div class='diagramme'>
				<svg height="150" width="150">
					<circle cx="75" cy="75" r="65" fill="rgba(100,100,100,0.8)" />
				</svg>
				<div class='pie-content'>
					<div class='percentage'>70%</div>
					<div class='name'>Ressources</div>
				</div>
				<ul class="pie">
					<li class="visualize ressource-materiel" data-color='#5cb85c' data-value="20"></li>
					<li class="visualize ressource-financiere" data-color='#d9534f' data-value="23"></li>
					<li class="visualize" data-value="30" data-color="rgba(0,0,0,0)"></li>
					<li class="visualize ressource-humain" data-color='#5bc0de' data-value="27"></li>
				</ul>
			</div>
		</div>
		
		<div class="apercu">
			<img src="{{ asset('images/5.jpg') }}"/>
			<div class="titre_projet">CRÉATION D'UN ESPACE DE CO-WORKING</div>
			<div class="nom_asso">Centre de Ressources des Associations Boulonnaises</div>
			<div class='diagramme'>
				<svg height="150" width="150">
					<circle cx="75" cy="75" r="65" fill="rgba(100,100,100,0.8)" />
				</svg>
				<div class='pie-content'>
					<div class='percentage'>70%</div>
					<div class='name'>Ressources</div>
				</div>
				<ul class="pie">
					<li class="visualize ressource-materiel" data-color='#5cb85c' data-value="20"></li>
					<li class="visualize ressource-financiere" data-color='#d9534f' data-value="23"></li>
					<li class="visualize" data-value="30" data-color="rgba(0,0,0,0)"></li>
					<li class="visualize ressource-humain" data-color='#5bc0de' data-value="27"></li>
				</ul>
			</div>
		</div>
		
		<div class="apercu">
			<img src="{{ asset('images/6.jpg') }}"/>
			<div class="titre_projet">CRÉATION D'UN ESPACE DE CO-WORKING</div>
			<div class="nom_asso">Centre de Ressources des Associations Boulonnaises</div>
			<div class='diagramme'>
				<svg height="150" width="150">
					<circle cx="75" cy="75" r="65" fill="rgba(100,100,100,0.8)" />
				</svg>
				<div class='pie-content'>
					<div class='percentage'>70%</div>
					<div class='name'>Ressources</div>
				</div>
				<ul class="pie">
					<li class="visualize ressource-materiel" data-color='#5cb85c' data-value="20"></li>
					<li class="visualize ressource-financiere" data-color='#d9534f' data-value="23"></li>
					<li class="visualize" data-value="30" data-color="rgba(0,0,0,0)"></li>
					<li class="visualize ressource-humain" data-color='#5bc0de' data-value="27"></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}
	
{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="{{asset('js/script_showAll.js')}}"></script>
{% endblock %}