{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  Projets - {{ parent() }}
{% endblock %}

{% block navbarProject %} class="active" {% endblock %}

{% block stylesheet %}
	{{ parent() }}
	<link href="{{asset('css/style_showAll.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}
            <div class="panel with-nav-tabs panel-default">
                <div class="panel-heading menu">
				<h1 id="CategoryTitle">Catégorie</h1>
					<ul>
						<li><a href="#Art" data-toggle="tab">Art</a></li>
						<li><a href="#Food" data-toggle="tab">Cuisine</a></li>
						<li><a href="#Design" data-toggle="tab">Design et invention</a></li>
						<li><a href="#Film" data-toggle="tab">Film et vidéo</a></li>
						<li><a href="#Jeux" data-toggle="tab">Jeux</a></li>
						<li><a href="#Journalisme" data-toggle="tab">Journalisme</a></li>
						<li><a href="#Livre" data-toggle="tab">Livre et édition</a></li>
						<li><a href="#Mode" data-toggle="tab">Mode</a></li>
						<li><a href="#Musique" data-toggle="tab">Musique</a></li>
						<li><a href="#Spectacle" data-toggle="tab">Spectacle vivant</a></li>
						<li><a href="#Web" data-toggle="tab">Web et techno</a></li>
					</ul>
                </div>
                <div class="panel-body sous-menu">
                    <div class="tab-content">
                        <div class="tab-pane fade" id="Art">
							<ul>
								<li><a href="#artnumerique" class="tag">Art numerique</a></li>
								<li><a href="#illustration" class="tag">Illustration</a></li>
								<li><a href="#patrimoine" class="tag">Patrimoine</a></li>
								<li><a href="#peinture" class="tag">Peinture</a></li>
								<li><a href="#performance" class="tag">Performance</a></li>
								<li><a href="#streetart" class="tag">Street art</a></li>
								<li><a href="#photoart" class="tag">Photo d'art</a></li>
							</ul>
						</div>
                        <div class="tab-pane fade" id="Food">
							<ul>
								<li><a href="#" class="tag">Agriculture</a></li>
								<li><a href="#" class="tag">Restaurant</a></li>
							</ul>
						</div>
                        <div class="tab-pane fade" id="Design">
							<ul>
								<li><a href="#" class="tag">Graphique</a></li>
								<li><a href="#" class="tag">Objet</a></li>
							</ul>
						</div>
                        <div class="tab-pane fade" id="Film">
							<ul>
								<li><a href="#" class="tag">Court-métrage</a></li>
								<li><a href="#" class="tag">Documentaire</a></li>
								<li><a href="#" class="tag">Long-métrage</a></li>
								<li><a href="#" class="tag">Webdocumentaire</a></li>
								<li><a href="#" class="tag">Websérie</a></li>
							</ul>
						</div>
                        <div class="tab-pane fade" id="Jeux">
							<ul>
								<li><a href="#" class="tag">Jeux de société</a></li>
								<li><a href="#" class="tag">Jeux vidéo</a></li>
							</ul>
						</div>
                        <div class="tab-pane fade" id="Journalisme">
							<ul>
								<li><a href="#" class="tag">Investigation</a></li>
								<li><a href="#" class="tag">Reportage</a></li>
								<li><a href="#" class="tag">Photo-reportage</a></li>
							</ul>
						</div>
                        <div class="tab-pane fade" id="Livre">
							<ul>
								<li><a href="#" class="tag">Bande dessinée</a></li>
								<li><a href="#" class="tag">Jeunesse</a></li>
								<li><a href="#" class="tag">Livre d'art</a></li>
								<li><a href="#" class="tag">Roman</a></li>
							</ul>
						</div>
                        <div class="tab-pane fade" id="Mode">
							<ul>
								<li><a href="#" class="tag">Accessoires</a></li>
								<li><a href="#" class="tag">Haute couture</a></li>
								<li><a href="#" class="tag">Prêt-à-porter</a></li>
							</ul>
						</div>
                        <div class="tab-pane fade" id="Musique">
							<ul>
								<li><a href="#" class="tag">Clip</a></li>
								<li><a href="#" class="tag">Concert</a></li>
								<li><a href="#" class="tag">Enregistrement</a></li>
							</ul>
						</div>
                        <div class="tab-pane fade" id="Spectacle">
							<ul>
								<li><a href="#" class="tag">Danse</a></li>
								<li><a href="#" class="tag">Théâtre</a></li>
							</ul>
						</div>
                        <div class="tab-pane fade" id="Web">
							<ul>
								<li><a href="#" class="tag">Application</a></li>
								<li><a href="#" class="tag">Hardware</a></li>
								<li><a href="#" class="tag">Site web</a></li>
							</ul>
						</div>
                    </div>
                </div>
            </div>
	<div class="content">
	{% for projet in projets %}
	<!--{# for tag in tags #}-->
	<!--{# if (tag.id.projet_id == projet.id ) and ( tag.nom == tags ) #}-->
		<div class="apercu">
			<img src="{{asset( projet.background.AssetPath )}}"/>
			<div class="filtre">
			<div class="nom_asso">{{ projet.idAsso.nomAsso }}</div>
			<div class="titre_projet">{{ projet.nom }}</div>
			<div class="desc">{{ projet.description }}</div>
				<div class='diagramme'>
					<svg height="150" width="150">
						<circle cx="75" cy="75" r="65" fill="rgba(100,100,100,0.8)" />
					</svg>
					<div class='pie-content'>
						<div class='percentage'>{{ projet.pourcentageTotal }}%</div>
						<div class='name'>Ressources</div>
					</div>
					<ul class="pie">
						<li class="visualize" data-color="#5cb85c" data-value="70"></li>
						<li class="visualize" data-color="#5bc0de" data-value="25"></li>
						<li class="visualize" data-color="#d9534f" data-value="0"></li>
						<li class="visualize" data-color="rgba(0,0,0,0)" data-value="5"></li>
					</ul>
				</div>
			</div>
		</div>
	<!--{# endif #}-->
	<!--{# endfor #}-->
	{% endfor %}
</div>
{% endblock %}
	
{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="{{asset('js/visualize.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/script_showAll.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/diagramme.js')}}"></script>
	<script>
	$(document).ready(function(){
		$(".tag").click(function(){
			var tagsjs = $(this).attr("href");
			alert(tagsjs);

			function ajax(tagsjs){
				$.get("showAll.html.twig",{tags: tagsjs});
			}
			ajax(tagsjs);
		});
	});
	</script>
{% endblock %}