{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  {{ projet.nom }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{asset('css/style_show.css')}}" rel="stylesheet"/>
	<link href="{{asset('css/style_participer_projet.css')}}" rel="stylesheet"/>
{% endblock %}

{% block section_title_page %}{% endblock %}

{% block body %}
<section id="main-without-title">
	<div id='block-head'>
		<div class='content'>
			<img id='background-img' src="{{asset(projet.background.AssetPath) }}"/>
		</div>
		<div class='content'>
			<div id='infos-asso'>
				<div id='certification'>
					<p id='label'>Association certifiée <i class="fa fa-check"></i></p>
					<img id='logo' src="{{asset( projet.idAsso.logo.AssetPath) }}"/>
				</div>
				<div id='content-infos'>
					<h1>{{ projet.idAsso.nomAsso }}</h1>
					<div id='content-infos-second-row'>
						<div id='town-asso'>{{ projet.idAsso.ville }}</div>
						<div id="reseaux_sociaux">
							<a href="#" id="facebook"><span class="fa fa-facebook"></span> Facebook</a>
							<a href="#" id="twitter"><span class="fa fa-twitter"></span> Twitter</a>
							<a href="#" id="googleplus"><span class="fa fa-google-plus"></span> Google+</a>
						</div>
					</div>
					<a href="{{ path('fos_user_profile_user_show', { 'username': projet.idAsso.username }) }}" class='btn btn-default'>Voir le profil <i class="fa fa-search"></i></a>
				</div>
			</div>
			<div id='project-title'>{{ projet.nom }}</div>
			<div id='project-ressources'>
				<div id='content-ressources'>
					<div id='text-ressources'>
						<div id='left-ressources'>
							<div id='text-ressource-info'>Informations <i class="fa fa-tag"></i></div>
							<div id='text-ressource-financiere'>Financières <i class="fa fa-bar-chart"></i></div>
						</div>
						<div id='right-ressources'>
							<div id='text-ressource-humaine'><i class="fa fa-users"></i> Humaines</div>
							<div id='text-ressource-materiel'><i class="fa fa-desktop"></i> Matérielles</div>
						</div>
					</div>

					{% set pourcentageTotal = 0.0 %}
					{% set pourcentageFinancier = 0.0 %}
					{% set pourcentageBenevole = 0.0 %}
					{% set pourcentageMateriel = 0.0 %}
					{% set pourcentageCommunication = 0.0 %}
					{% set nbTotal = 0 %}
					{% set nbFinancier = 0 %}
					{% set nbBenevole = 0 %}
					{% set nbMateriel = 0 %}
					{% set nbCommunication = 0 %}
					{% set diffBenevole = 0 %}
					{% set diffMateriel = 0 %}
					{% set diffCommunication = 0 %}
					{% set calcBenevole = 0 %}
					{% set calcMateriel = 0 %}
					{% set calcCommunication = 0 %}
					
					{% for besoin in projet.besoins %}
						{% if besoin.type == "financier" %}
							{% set nbFinancier = nbFinancier + 1 %}
							{% set nbTotal = nbTotal + 1 %}
							
						{% elseif besoin.type == "benevole" %}
							{% set nbBenevole = nbBenevole + besoin.quantiteDemande %}
							{% set nbTotal = nbTotal + besoin.quantiteDemande %}
							{% set diffBenevole = diffBenevole + 1 %}
							{% set calcBenevole = calcBenevole + besoin.quantiteActuelle %}
						{% elseif besoin.type == "materiel" %}
							{% set nbMateriel = nbMateriel + besoin.quantiteDemande %}
							{% set nbTotal = nbTotal + besoin.quantiteDemande %}
							{% set diffMateriel = diffMateriel + 1 %}
							{% set calcMateriel = calcMateriel + besoin.quantiteActuelle %}
						{% elseif besoin.type == "communication" %}
							{% set nbCommunication = nbCommunication + besoin.quantiteDemande %}
							{% set nbTotal = nbTotal + besoin.quantiteDemande %}
							{% set diffCommunication = diffCommunication + 1 %}
							{% set calcCommunication = calcCommunication + besoin.quantiteActuelle %}

						{% endif %}

					{% endfor %}

					
					{% if diffBenevole == 0 %}
						{% set diffBenevole = 1 %}
					{% endif %}
					{% if diffMateriel == 0 %}
						{% set diffMateriel = 1 %}
					{% endif %}
					{% if diffCommunication == 0 %}
						{% set diffCommunication = 1 %}
					{% endif %}

					{% for besoin in projet.besoins %}
						
						
						{% if besoin.type == "financier" %}
							{% set pourcentageFinancier = (pourcentageFinancier + ((besoin.quantiteActuelle / besoin.quantiteDemande) * 100))  %}
									
						{% elseif besoin.type == "benevole" %}
							{% set pourcentageBenevole = pourcentageBenevole + ((besoin.quantiteActuelle / besoin.quantiteDemande) * 100) %}
							
						{% elseif besoin.type == "materiel" %}
							{% set pourcentageMateriel = pourcentageMateriel + ((besoin.quantiteActuelle / besoin.quantiteDemande) * 100) %}
							
						{% elseif besoin.type == "communication" %}
							{% set pourcentageCommunication = pourcentageCommunication + ((besoin.quantiteActuelle / besoin.quantiteDemande) * 100) %}
							
						{% endif %}

					{% endfor %}

					{% if nbTotal == 0 %} 
						{% set nbTotal = 1 %}
					{% endif %}
					{% if nbFinancier == 0 %}
						{% set nbFinancier = 1 %}
					{% endif %}
					{% if nbBenevole == 0 %}
						{% set nbBenevole = 1 %}
					{% endif %}
					{% if nbMateriel == 0 %}
						{% set nbMateriel = 1 %}
					{% endif %}
					{% if nbCommunication == 0 %}
						{% set nbCommunication = 1 %}
					{% endif %}

					{% set calcBenevole = ((calcBenevole / nbBenevole) * 100)|number_format(0) %}
					{% set calcMateriel = ((calcMateriel / nbMateriel) * 100)|number_format(0) %}
					{% set calcCommunication = ((calcCommunication / nbCommunication) * 100)|number_format(0) %}

					
					{% set pourcentageFinancier = (pourcentageFinancier / nbFinancier )|number_format(0) %}
					{% set pourcentageBenevole = (pourcentageBenevole / diffBenevole )|number_format(0) %}
					{% set pourcentageMateriel = (pourcentageMateriel / diffMateriel )|number_format(0) %}
					{% set pourcentageCommunication = (pourcentageCommunication / diffCommunication )|number_format(0) %}
					{% set pourcentageTotal = (pourcentageTotal + (pourcentageFinancier * nbFinancier / nbTotal) + (pourcentageBenevole * nbBenevole / nbTotal) + (pourcentageMateriel * nbMateriel / nbTotal) + (pourcentageCommunication * nbCommunication / nbTotal))|number_format(0) %}

					<div id="pourcentage" data="{{ pourcentageTotal }}" data-financier="{{ pourcentageFinancier }}" data-benevole="{{ calcBenevole }}" data-materiel="{{ calcMateriel }}" data-communication="{{ calcCommunication }}" style="display:none"></div>

					<div id='diagramme'>
						<svg height="150" width="150">
							<circle cx="75" cy="75" r="65" fill="rgba(100,100,100,0.8)" />
						</svg>
						<div class="pie-content">
							<div class="percentage" id="{{ pourcentageTotal }}">{{ pourcentageTotal }}%</div>
							<div class="name">Ressources</div>
						</div>
						<ul class="pie">
							<li class="visualize ressource-materiel" data-color='#5cb85c' data-value="{{ calcMateriel }}"></li>
							<li class="visualize ressource-financiere" data-color='#d9534f' data-value="{{ pourcentageFinancier }}"></li>
							<li class="visualize" data-value="{{ (100 - pourcentageTotal) }}" data-color="rgba(0,0,0,0)"></li>
							<li class="visualize ressource-humain" data-color='#5bc0de' data-value="{{ calcBenevole }}"></li>
						</ul>
					</div>
					<a  data-toggle="modal" data-target="#modal-participate" class='btn btn-default'>Soutenir ce projet <i class="fa fa-play"></i></a>
					<div id='project-tags'>
						{% for tag in projet.tags %}
							<div class='tag'>{{ tag.nom }}</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id='block-body'>
		{{ render(controller('CFMainBundle:Project:participate', { id : projet.id } )) }}
		<div class="panel-heading">
			<ul class="nav nav-tabs btn-group" role='group'>
				<li class="btn btn-default active"><a href="#tabproject" data-toggle="tab">Le projet</a></li>
				<li class="btn btn-default"><a href="#tabhistory" data-toggle="tab">Son histoire</a></li>
				<li class="btn btn-default"><a href="#tabupdates" data-toggle="tab">Les mises à jour</a></li>
				<li class="btn btn-default"><a href="#tabcomments" data-toggle="tab">Vos commentaires</a></li>
				<li class="btn btn-default"><a href="#tabmore" data-toggle="tab">Plus d'informations</a></li>
			</ul>
		</div>
		<div class="panel-body">
			<div class="tab-content">
				<div class="tab-pane fade in active" id="tabproject">
					<div class='tab-box aside'>
						<h1>Ressources</h1>
						{% for besoin in projet.besoins %}
							{% if besoin.type == "materiel" %}
								<p><strong>{{ besoin.ressource }}</strong><span class="pull-right label label-success">Collecté : {{ besoin.quantiteActuelle }} sur {{ besoin.quantiteDemande }}</span></p>
								{% set pourcentage = ((besoin.quantiteActuelle / besoin.quantiteDemande) * 100) %}
								<div class="progress">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ pourcentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pourcentage }}%">
										<span class="sr-only">{{ pourcentage }}% Complete</span>
									</div>
								</div>
							{% elseif besoin.type == "benevole" %}
								<p><strong>{{ besoin.ressource }}</strong><span class="pull-right label label-info">Réuni : {{ besoin.quantiteActuelle }} sur {{ besoin.quantiteDemande }}</span></p>
								{% set pourcentage = ((besoin.quantiteActuelle / besoin.quantiteDemande) * 100) %}
								<div class="progress">
									<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ pourcentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pourcentage }}%">
										<span class="sr-only">{{ pourcentage }}% Complete</span>
									</div>
								</div>
							{% elseif besoin.type == "financier" %}
								<p><strong>{{ besoin.ressource }}</strong><span class="pull-right label label-danger">Collecté : {{ besoin.quantiteActuelle }}€ sur {{ besoin.quantiteDemande }}€</span></p>
								{% set pourcentage = ((besoin.quantiteActuelle / besoin.quantiteDemande) * 100) %}
								<div class="progress">
									<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="{{ pourcentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pourcentage }}%">
										<span class="sr-only">{{ pourcentage }}% Complete</span>
									</div>
								</div>
							{% elseif besoin.type == "communication" %}	
								<p><strong>{{ besoin.ressource }}</strong><span class="pull-right label label-warning">Collecté : {{ besoin.quantiteActuelle }} sur {{ besoin.quantiteDemande }}</span></p>
								{% set pourcentage = ((besoin.quantiteActuelle / besoin.quantiteDemande) * 100) %}
								<div class="progress">
									<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ pourcentage }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pourcentage }}%">
										<span class="sr-only">{{ pourcentage }}% Complete</span>
									</div>
								</div>
							{% endif %}
							<hr>
						{% endfor %}

						{% set difference = projet.dateFin.diff(date('now')) %}
						{% set leftDays = difference.days %}
						{% set leftHours = difference.h %}
						{% set leftMinutes = difference.i %}

						<h2>
							<i class="fa fa-clock-o"></i> 
							{% if projet.dateFin > date('now') %}
								<strong>Temps restant :</strong> 
								{% if leftDays > 1 %}
									{{ leftDays }} jours
								{% elseif leftDays == 1 %}
									{{ leftDays }} jour
								{% else %}
									{% if leftHours > 1 %}
										{{ leftHours }} heures
									{% elseif leftHours == 1 %}
										{{ leftHours }} heure
									{% else %}
										{% if leftMinutes > 0 %}
											{{ leftMinutes }} minutes
										{% endif %}
									{% endif %}
								{% endif %}
							{% else %}
								Projet terminé
							{% endif %}
						</h2>
						<h2><i class="fa fa-user"></i> <strong>{% if projet.nbDonateur > 1 %}Donateurs :{% else %}Donateur :{% endif %}</strong> {{ projet.nbDonateur }}</h2>
						<hr>
						<p><a data-toggle="modal" data-target="#modal-participate" class='btn btn-default'>Soutenir ce projet <i class="fa fa-play"></i></a><p>
					</div>
					<div class='tab-box full aside'>
						<h1>Le projet</h1>
						{{ projet.description|raw|nl2br }}
					</div>
				</div>
				<div class="tab-pane fade" id="tabhistory">
					<h1 class='tab-title'><i class="fa fa-quote-left"></i> Redynamiser le développement numérique à Boulogne sur mer <i class="fa fa-quote-right"></i></h1>
					<div class='tab-media'><iframe width="100%" height="400" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allowfullscreen></iframe></div>
					{% for box in projet.boxs %}
						<div class='tab-box'>
							<h1>{{ box.titre }}</h1>
							<p>{{ box.contenu }}</p>
						</div>
					{% endfor %}
				</div>
				<div class="tab-pane fade" id="tabupdates">
					<div class='tab-box full'>
						<div class='update-date'>Le 25 janvier 2015 - 11h38</div>
						<h1>Ma Deuxième update</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
							labore et dolore magna aliqua. Ut
							 enim ad minim veniam, quis nostrud exercitation ullamco laboris 
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
							esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<p class='picture'><img src="{{ asset('images/3.jpg') }}"/></p>
						<p>
							<ul>
								<li>Blablabla</li>
								<li>Blablabla</li>
								<li>Blablabla</li>
								<li>Blablabla</li>
								<li>Blablabla</li>
							</ul>
						</p>
						<a href='#' class='btn'>Commentaires</a>
					</div>
					<div class='tab-box full'>
						<div class='update-date'>Le 21 janvier 2015 - 21h34</div>
						<h1>Ma première update</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
							esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<p class='picture'><img src="{{ asset('images/4.jpg') }}"/></p>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
							esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
						<p class='picture'><img src="{{ asset('images/1.jpg') }}"/></p>
						<a href='#' class='btn'>Commentaires</a>
					</div>
				</div>
				<div class="tab-pane fade" id="tabcomments">
					<div id="loading"><i class="fa fa-spinner fa-spin fa-3x"></i></div>
					{% include 'CFCommentBundle:Thread:async.html.twig' with {'id': projet.id} %}
				</div>
				<div class="tab-pane fade" id="tabmore">
					<div class='tab-box full'>
						<h1>Plus d'informations</h1>
						{{ projet.infoSup|raw|nl2br }}

					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{asset('js/visualize.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/diagramme.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/participate_project.js')}}"></script>
	<script type="text/javascript">
		$(document)
	    .on('fos_comment_before_load_thread', function (data) {
	        $("#loading").show();
	    })
	    .on('fos_comment_load_thread', function (data) {
        	$("#loading").fadeOut(200);
    	});
		$(document).ready(function() {
		    var $containerDons = $('div#cf_mainbundle_projet_dons');

			var $lienAjoutDons = $('<div id="add-besoin-box"><a href="#">+</a></div>');

			$lienAjoutDons.click(function(e) {
				ajouterDon($containerDons);
				e.preventDefault();
				return false;
			});

			var indexDon = $containerDons.find(':input').length;

			if (indexDon == 0) {
				ajouterDon($containerDons);
			}
			else {
				$containerDons.children('div').each(function() {
					ajouterLienSuppressionDon($(this));
				});
			}

			function ajouterDon($containerDons) {
				var $prototype = $($containerDons.attr('data-prototype').replace(/__name__label__/g, '').replace(/__name__/g, indexDon));
				
				ajouterLienSuppressionDon($prototype);
				$containerDons.append($prototype);
				$containerDons.append('</div>');

				indexDon++;

				$containerDons.append($lienAjoutDons);
			}

			function ajouterLienSuppressionDon($prototype) {
				$lienSuppression = $('<a href="#" class="delete-button"><span class="glyphicon glyphicon-remove"></span></a>');
				$boite = $('<div class="besoin-box green" id="box-'+indexDon+'"></div>');
				$boite.append($lienSuppression);
				$boite.append('<div class="header-besoin-box"><span class="glyphicon glyphicon-user"></span><div class="styled-select"><select><option value="1" selected>Humaines</option><option value="2">Financière</option><option value="3">Matérielles</option><option value="4">Informationel - Com.</option></select><span class="glyphicon glyphicon-menu-down"></span></div></div>');
				$($prototype.children('div#cf_mainbundle_projet_dons_'+indexDon)).appendTo($boite);
				$prototype.append($boite);

				$lienSuppression.click(function(e) {
					$prototype.remove();
					e.preventDefault();
					return false;
				});
			}

			$(document).on('change', '.header-besoin-box select', function(){
		
				var parent = $(this).parent().parent().parent();
				var span = $(this).parent().parent().children('span');

				var newColor = "";
				var icon = "";

				var besoin = {
					"besoins" : [
					{% for besoin in projet.besoins %}
					{
						id: '{{ besoin.id }}',
						ressource: '{{ besoin.ressource }}',
					    type: '{{ besoin.type }}'
					},
					{% endfor %}
					]
				}

				for(key in besoin.besoins) {
					var unBesoin = besoin.besoins[key];
					console.log("id = " + unBesoin.id);
					console.log("ressource = "+ unBesoin.ressource);
					console.log("type = "+unBesoin.type);
					console.log("-+-+-+-+-+-+-+-++-+");
				}

				if($(this).val() == 1)
				{
					newColor = "green";
					icon = "user";
					$('#cf_mainbundle_projet_dons_1_besoin option').each( function(){
				  	for(key in besoin.besoins) {
						var unBesoin = besoin.besoins[key];
						if(unBesoin.id == $(this).val())
						{
							console.log(' if ('+unBesoin.ressource+') '+unBesoin.type+' != benevole');
							if(unBesoin.type != 'benevole')
							{
								console.log(unBesoin.ressource+' a masquer.');
								$(this).hide();
							}
							else
							{
								$(this).show();
							}
						}
				  	}
					});
				}
				else if($(this).val() == 2)
				{
					newColor = "red";
					icon = "euro";
					$('.styled-select.body-besoin option').each( function(){
				  	for(key in besoin.besoins) {
						var unBesoin = besoin.besoins[key];
						if(unBesoin.id == $(this).val())
						{
							console.log(' if ('+unBesoin.ressource+') '+unBesoin.type+' != financier');
							if(unBesoin.type != 'financier')
							{
								console.log(unBesoin.ressource+' a masquer.');
								$(this).hide();
							}
							else
							{
								$(this).show();
							}
						}
				  	}
					});
				}
				else if($(this).val() == 3)
				{
					newColor = "purple";
					icon = "tag";
					$('.styled-select.body-besoin option').each( function(){
				  	for(key in besoin.besoins) {
						var unBesoin = besoin.besoins[key];
						if(unBesoin.id == $(this).val())
						{
							console.log(' if ('+unBesoin.ressource+') '+unBesoin.type+' != materiel');
							if(unBesoin.type != 'materiel')
							{
								console.log(unBesoin.ressource+' a masquer.');
								$(this).hide();
							}
							else
							{
								$(this).show();
							}
						}
				  	}
					});
				}
				else if($(this).val() == 4)
				{
					newColor = "grey";
					icon = "tag";
					$('.styled-select.body-besoin option').each( function(){
				  	for(key in besoin.besoins) {
						var unBesoin = besoin.besoins[key];
						if(unBesoin.id == $(this).val())
						{
							console.log(' if ('+unBesoin.ressource+') '+unBesoin.type+' != communication');
							if(unBesoin.type != 'communication')
							{
								console.log(unBesoin.ressource+' a masquer.');
								$(this).hide();
							}
							else
							{
								$(this).show();
							}
						}
				  	}
					});
				}
				span.attr('class', "glyphicon glyphicon-"+icon);
				parent.attr('class', "besoin-box "+newColor);
		    });
		});
	</script>
{% endblock %}