{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  	{{ parent() }} - Tous les projets
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style_showAll.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<div id="search-content">
		<div class="selectors">
			<div class="row">
				<div class="col-xs-6 titre-recherche text-center">
					rechercher par thème
				</div>
				<div class="col-xs-6 titre-recherche text-center">
					rechercher par ville
				</div>
			</div>
			<div class="selector">
				<div class="container-select">
					<div class="select">Action humanitaire</div>
				</div>
				<div class="container-select">
					<div class="select">Action sociale</div>
				</div>
				<div class="container-select">
					<div class="select">Santé</div>
				</div>
				<div class="container-select">
					<div class="select">Opinions, droits et causes</div>
				</div>
				<div class="container-select">
					<div class="select">Loisirs</div>
				</div>
				<div class="container-select">
					<div class="select">Education, formations et insertion</div>
				</div>
			</div><div class="selector">
				<div class="container-select">
					<div class="select">Sciences et numérique</div>
				</div>
				<div class="container-select">
					<div class="select">Tourisme</div>
				</div>
				<div class="container-select">
					<div class="select">Culture</div>
				</div>
				<div class="container-select">
					<div class="select">Sport</div>
				</div>
				<div class="container-select">
					<div class="select">Vie et développement local</div>
				</div>
				<div class="container-select">
					<div class="select">Nature et environnements</div>
				</div>
			</div><div style="display: inline-block"><div class="selector">
					<div class="container-select">
						<div class="select">Wimereux</div>
					</div>
					<div class="container-select">
						<div class="select">Lille</div>
					</div>
					<div class="container-select">
						<div class="select">Calais</div>
					</div>
				</div><div class="selector">
					<div class="container-select">
						<div class="select">Boulogne sur mer</div>
					</div>
					<div class="container-select">
						<div class="select">Samer</div>
					</div>
					<div class="container-select">
						<div class="select">Fiennes</div>
					</div>
				</div>

				<div class="discover-map">
					<div class="btn-discover-map">Découvrir sur carte intéractive</div>
					<p>propulsé par OpenStreetMap</p>
				</div>
			</div>
		</div>	
	</div>
	<div class="search">
		{{ render(controller('CFMainBundle:Recherche:renderSearch')) }}
	</div>

	<div id="content-scrolling">
		<div id="content">
		{% for projet in projets %}
			<a href="{{ path('cf_main_project', {'slug' : projet.slug}) }}" class="project">
				<div  id="project-{{ projet.id }}" class="apercu">
					<div img="{{ projet.background.path }}" class="project-background"></div>
					<div class="filter"></div>
					<div class="project-title">{{ projet.nom }}</div>
					<ul class="project-tags">
						{% for tag in projet.tags %}
							<li class="tag">{{ tag.nom }}</li>
						{% endfor %}
					</ul>
					<div class='chart'>
						<svg height="105" width="105">
							<circle cx="52.5" cy="52.5" r="45" fill="#34495E" />
						</svg>
						<div class='pie-content'>
							{% set pourcentage = (projet.nbActuHumain + projet.nbActuMateriel + projet.nbActuComm + projet.nbActuFinancier)/projet.nbRessources %}
							<div class='percentage'>{{ (pourcentage*100)|round }}%</div>
							<div class='name'>ressources</br>collectées</div>
						</div>
						<ul class="pie">
							<li class='visualize ressource-materiel' data-color='#a66abe' data-value='{{ (projet.nbActuMateriel/projet.nbRessources)*100 }}'></li>
							<li class='visualize ressource-financiere' data-color='#ea5f50' data-value='{{ (projet.nbActuFinancier/projet.nbRessources)*100 }}'></li>
							<li class='visualize' data-value='{{ (100-(projet.nbActuMateriel/projet.nbRessources)*100 - (projet.nbActuFinancier/projet.nbRessources)*100 - (projet.nbActuHumain/projet.nbRessources)*100 - (projet.nbActuComm/projet.nbRessources)*100)|round }}' data-color='rgba(0,0,0,0)'></li><li class='visualize ressource-humain' data-color='#70d48d' data-value='{{ (projet.nbActuHumain/projet.nbRessources)*100 }}'></li>
							<li class='visualize ressource-info' data-color='#99a5af' data-value='{{ (projet.nbActuComm/projet.nbRessources)*100 }}'></li>
						</ul>
					</div>
				</div>
			</a>
		{% else %}
			<div class="error">Aucun projet correspondant à vos critères de recherche.</div>
		{% endfor %}
		</div>
		<div class="scrolling-text">
			<i class="fa fa-chevron-down"></i>
			<p>Faire défiler pour découvrir</p>
		</div>
	</div>

{% endblock %}
	
{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/script_showAll.js') }}"></script>
	<script type="text/javascript" src="{{ asset('js/visualize.js') }}"></script>
	<script type="text/javascript">
		$('.pie').visualize({
			width: 105,
			height: 105,
			type: 'pie',
			legend: false
		});
		{% if recherche is defined %}
			$('.search input').val('{{ recherche }}');
		{% endif %}

		{% for projet in projets %}
			var img = $('#project-{{ projet.id }}').children('.project-background').attr('img');
			$('#project-{{ projet.id }}').css('background', 'url("../../uploads/'+img+'") center center no-repeat').css('background-size','cover');
		{% endfor %}
	</script>
{% endblock %}