{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  Projet {{ id }} - {{ parent() }}
{% endblock %}

{% block navbarProject %} class="active" {% endblock %}

{% block stylesheet %}
	{{ parent() }}
	<link href="{{asset('css/style_show.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<div id='block-head'>
		<div class='content'>
			<img id='background-img' src="{{asset('images/bg.jpg')}}"/>
		</div>
		<div class='content'>
			<div id='infos-asso'>
				<div id='content-infos'>
					<h1>Centre de Ressource des Associations Boulonnaises</h1>
					<div id='content-infos-second-row'>
						<div id='town-asso'>Boulogne sur Mer</div>
						<div id="reseaux_sociaux">
							<a href="#" id="facebook"><span class="fa fa-facebook"></span> Facebook</a>
							<a href="#" id="twitter"><span class="fa fa-twitter"></span> Twitter</a>
							<a href="#" id="googleplus"><span class="fa fa-google-plus"></span> Google+</a>
						</div>
					</div>
					<a href='#' class='btn btn-default'>Voir le profil <i class="fa fa-search"></i></a>
				</div>
			</div>
			<div id='project-title'>
				Création d'un espace de co-working
			</div>
			<div id='project-ressources'>
				<div id='content-ressources'>
					<div id='diagramme'>
						<svg height="150" width="150">
							<circle cx="75" cy="75" r="65" fill="rgba(100,100,100,0.8)" />
						</svg>
						<div class='pie-content'>
							<div class='percentage'>73%</div>
							<div class='name'>ressources</div>
						</div>
						<ul class="pie">
							<li class="visualize" data-value="20" data-color="rgba(0,0,0,0)"></li>
							<li class="visualize" data-value="23"></li>
							<li class="visualize" data-value="27"></li>
							<li class="visualize" data-value="20"></li>
							<li class="visualize" data-value="10"></li>
						</ul>
					</div>
					<a href='#' class='btn btn-default'>Soutenir ce projet <i class="fa fa-play"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div id='block-body'>
		<div class="panel-heading">
			<ul class="nav nav-tabs btn-group" role='group'>
				<li class="btn btn-default active"><a href="#tabproject" data-toggle="tab">Le projet</a></li>
				<li class="btn btn-default"><a href="#tabhistory" data-toggle="tab">Son histoire</a></li>
				<li class="btn btn-default"><a href="#tabupdates" data-toggle="tab">Les mises à jour</a></li>
				<li class="btn btn-default"><a href="#tabcomments" data-toggle="tab">Vos commentaires</a></li>
				<li class="btn btn-default"><a href="#tabmore" data-toggle="tab">Plus d'informations</a></li>
			</ul>
		</div>
		<div class="panel-body">
			<div class="tab-content">
				<div class="tab-pane fade in active" id="tabproject">
					Default 1
				</div>
				<div class="tab-pane fade" id="tabhistory">
					<h1 class='tab-title'><i class="fa fa-quote-left"></i> Redynamiser le développement numérique à Boulogne sur mer <i class="fa fa-quote-right"></i></h1>
					<div class='tab-media'><iframe width="100%" height="400" src="https://www.youtube.com/embed/ScMzIvxBSi4" frameborder="0" allowfullscreen></iframe></div>
					<div class='tab-box'>
						<h1>Dans le plan de rénovation urbaine</h1>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
							labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
							nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
							esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 
							sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
					<div class='tab-box'>
						<h1>C'est quoi un espace de "co-working" ?</h1>
						<p><img src="{{ asset('images/2.jpg') }}"/></p>
					</div>
				</div>
				<div class="tab-pane fade" id="tabupdates">
					Default 3
				</div>
				<div class="tab-pane fade" id="tabcomments">
					Default 4
				</div>
				<div class="tab-pane fade" id="tabmore">
					Default 5
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript" src="{{asset('js/visualize.js')}}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.pie').visualize({
				width: 150,
				height: 150,
				type: 'pie', // pie or chart
				legend: false
			});
		});
	</script>
{% endblock %}