{% extends "CFUserBundle::layout.html.twig" %}

{% block title %}
	Inscription - {{ parent() }}
{% endblock %}

{% block stylesheet %}
	{{ parent() }}
	<link href="{{ asset('css/style_register_form.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
   
    <h1>Inscription d'une Association</h1>

    <div class="center-block container-page">
        <form action="{{ path('association_registration') }}" {{ form_enctype(form) }} method="POST" id="SignupForm" class="form-horizontal form">

            
                <fieldset>
                    
                    <legend>Première étape - Identifiants</legend>
                   
                        {{ form_label(form.email) }}
                        {{ form_errors(form.email) }}
                        {{ form_widget(form.email) }}

                        {{ form_errors(form.plainPassword) }}
                        {{ form_widget(form.plainPassword) }}
                    
                </fieldset>
          

            
                <fieldset>
                    
                    <legend>Deuxième étape - Renseignements</legend>
                    
                    {{ form_label(form.nomAsso) }}
                    {{ form_errors(form.nomAsso) }}
                    {{ form_widget(form.nomAsso) }}

                    {{ form_label(form.numWaldec) }}
                    {{ form_errors(form.numWaldec) }}
                    {{ form_widget(form.numWaldec) }}
                    
                    {{ form_label(form.dateCreationAsso) }}
                    {{ form_errors(form.dateCreationAsso) }}
                    {{ form_widget(form.dateCreationAsso) }}
                    
                    {{ form_label(form.telephone) }}
                    {{ form_errors(form.telephone) }}
                    {{ form_widget(form.telephone) }}
                    

                </fieldset>
            
            

         
                <fieldset>

                    <legend>Troisième étape - Adresse</legend>

                    {{ form_label(form.adresse) }}
                    {{ form_errors(form.adresse) }}
                    {{ form_widget(form.adresse) }}

                    {{ form_label(form.cp) }}
                    {{ form_errors(form.cp) }}
                    {{ form_widget(form.cp) }}

                    {{ form_label(form.ville) }}
                    {{ form_errors(form.ville) }}
                    {{ form_widget(form.ville) }}

                </fieldset>
           

            
                <fieldset>
                        
                    <legend>Quatrième étape - Reseaux sociaux</legend>

                    {{ form_label(form.site) }}
                    {{ form_errors(form.site) }}
                    {{ form_widget(form.site) }}

                    {{ form_label(form.facebook) }}
                    {{ form_errors(form.facebook) }}
                    {{ form_widget(form.facebook) }}
                    
                    {{ form_label(form.twitter) }}
                    {{ form_errors(form.twitter) }}
                    {{ form_widget(form.twitter) }}

                    {{ form_label(form.googleplus) }}
                    {{ form_errors(form.googleplus) }}
                    {{ form_widget(form.googleplus) }}


                </fieldset>
            

           
                <fieldset>
         
                    <legend>Cinquième étape - Description</legend>
                    
                    {{ form_label(form.descriptionAsso) }}
                    {{ form_errors(form.descriptionAsso) }}
                    {{ form_widget(form.descriptionAsso) }}
                    
                
                </fieldset>
        
            
           
                <fieldset>

                    <legend>Sixième étape - Logo</legend>
                    
                    
                    {{ form_errors(form.logo) }}
                    {{ form_widget(form.logo) }}
                    <input type="submit" id="valider" value="Terminer" class="btn btn-primary"/>

                </fieldset>
           


        </form>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('js/formToWizard.js')}}"></script>
    <script type="text/javascript">
        $("#SignupForm").formToWizard();
    </script>
{% endblock %}