{% extends "CFUserBundle::layout.html.twig" %}
{% form_theme form 'CFMainBundle:Form:fields.html.twig' %}

{% block title %}
	{{ parent() }} Inscription : Associations
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style_register_form.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/jquery.datetimepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="head-registration">
    <img src="{{ asset('images/icones/inscription.jpg') }}">
    <h1>Inscription</h1>
</div>

<div id="steps">
    <div class="steps-circle">
        <div class="line-step"></div>
        
        <div class="step">
            <a class="step-number step-1" href="#step-1"><div class="step-active">1</div></a>
            <div class="step-text">Identifiants</div>
        </div>
        <div class="step">
            <a class="step-number step-2" href="#step-2">2</a>
            <div class="step-text">Renseignements</div>
        </div>
        <div class="step">
            <a class="step-number step-3" href="#step-3">3</a>
            <div class="step-text">Adresse</div>
        </div>
        <div class="step">
            <a class="step-number step-4" href="#step-4">4</a>
            <div class="step-text">Réseaux sociaux</div>
        </div>
        <div class="step-last">
            <a class="step-number step-5" href="#step-5">5</a>
            <div class="step-text">Description</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-2 col-sm-8 col-xs-12">
    <form action="{{ path('association_registration') }}" method="POST" class="form-register" {{form_enctype(form)}}>
        {{ form_errors(form.email) }}
        {{ form_errors(form.plainPassword.first) }}
        {{ form_errors(form.nom) }}
        {{ form_errors(form.logo) }}
        {{ form_errors(form.numWaldec) }}
        {{ form_errors(form.dateCreationAsso) }}
        {{ form_errors(form.telephone) }}
        {{ form_errors(form.adresse) }}
        {{ form_errors(form.cp) }}
        {{ form_errors(form.ville) }}

        {{ form_start(form) }}

        <div class="row step-content" id="step-1">
            <div class="form-group">
                  <label><i class="fa fa-envelope-o"></i></label>{{ form_widget(form.email, {'attr': {'placeholder': 'adresse e-mail'}}) }}
            </div>
            <div class="form-group">
                  <label><i class="fa fa-unlock-alt"></i></label>{{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'mot de passe'}}) }}
            </div>
            <div class="form-group">
                  <label><i class="fa fa-unlock-alt"></i></label>{{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'confirmation du mot de passe'}}) }}
            </div>

            <a id="activate-step-2" class="btn btn-next btn-success btn-lg"><i class="fa fa-arrow-circle-right"></i></a>
        </div>

        <div class="row step-content" id="step-2">
            <div class="form-group">
                <label><i class="fa fa-home"></i></label>{{ form_widget(form.nom, {'attr': {'placeholder': 'nom de l\'association'}}) }}
            </div>
            
            <div class="form-group">
                <label><i class="fa fa-picture-o"></i></label>{{ form_widget(form.logo, {'attr': {'class': 'filestyle', 'data-buttonText': 'Logo de l\'association'}}) }} 
            </div>

            <div class="form-group">
                <label><i class="fa fa-sort-numeric-asc"></i></label>{{ form_widget(form.numWaldec, {'attr': {'placeholder': 'numéro waldec'}}) }}
            </div>

            <div class="form-group">
                <label><i class="fa fa-calendar"></i></label>{{ form_widget(form.dateCreationAsso, {'attr': {'placeholder': 'date création association', 'value': ''}}) }}
            </div>

            <div class="form-group">
                <label><i class="fa fa-phone"></i></label>{{ form_widget(form.telephone, {'attr': {'placeholder': 'téléphone'}}) }}
            </div>

            <a id="activate-step-3" class="btn btn-success btn-lg"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
                
        <div class="row step-content" id="step-3">
            <div class="form-group">
                <label><i class="fa fa-road"></i></label>{{ form_widget(form.adresse, {'attr': {'placeholder': 'adresse'}}) }}
            </div>

            <div class="form-group">
                <label><i class="fa fa-road"></i></label>{{ form_widget(form.cp, {'attr': {'placeholder': 'téléphone'}}) }}
            </div>

            <div class="form-group">
                <label><i class="fa fa-road"></i></label>{{ form_widget(form.ville, {'attr': {'placeholder': 'téléphone'}}) }}
            </div>
                
            <a id="activate-step-4" class="btn btn-success btn-lg"><i class="fa fa-arrow-circle-right"></i></a>
        </div>  

        <div class="row step-content" id="step-4">
            <div class="form-group">
                <label><i class="fa fa-at"></i></label>{{ form_widget(form.site, {'attr': {'placeholder': 'site internet'}}) }}
            </div>

            <div class="form-group">
                <label><i class="fa fa-facebook-square"></i></label>{{ form_widget(form.facebook, {'attr': {'placeholder': 'facebook'}}) }}
            </div>

            <div class="form-group">
                <label><i class="fa fa-twitter-square"></i></label>{{ form_widget(form.twitter, {'attr': {'placeholder': 'twitter'}}) }}
            </div>

            <div class="form-group">
                <label><i class="fa fa-google-plus-square"></i></label>{{ form_widget(form.googleplus, {'attr': {'placeholder': 'google+'}}) }}
            </div>
        
            <a id="activate-step-5" class="btn btn-success btn-lg"><i class="fa fa-arrow-circle-right"></i></a>
        </div>      
           
        <div class="row step-content" id="step-5">
            <label><i class="fa fa-user-plus"></i></label>
            {{ form_widget(form.descriptionAsso, { 'attr': {'class': 'form-control'} }) }}
        
            <button type="submit" class="btn btn-success btn-lg">S'inscrire !</button>
        </div>
        
        {{ form_end(form) }}
    </form>
</div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/register.js') }}"></script>
    <script src="{{ asset('js/jquery.datetimepicker.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap-filestyle.js') }}"> </script>
    <script>
        jQuery('#fos_user_registration_form_dateCreationAsso').datetimepicker({lang:'fr',format:'d/m/Y'});
        $(":file").filestyle({input: false});
        $('.buttonText').text('choisir le logo de l\'association');
        $('.glyphicon-folder-open').hide();
        $('#fos_user_registration_form_dateCreationAsso').value('');
    </script>
{% endblock %}