{% extends "CFUserBundle::layout.html.twig" %}
{% form_theme form 'CFMainBundle:Form:fields.html.twig' %}

{% block title %}
	{{ parent() }} Inscription : Associations
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style_register_form.css') }}" rel="stylesheet"/>
    <link href="{{ asset('css/jquery.datetimepicker.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<h1>Inscription</h1>

<div id="steps">
    <div class="steps-circle">
        <div class="line-step"></div>
        
        <div class="step">
            <a class="step-number step-1" href="#step-1"><div class="step-active">1</div></a>
            <div class="step-text">Identifiants</div>
        </div>
        <div class="step">
            <a class="step-number step-2" href="#step-2">2</a>
            <div class="step-text">Renseignements</div>
        </div>
        <div class="step">
            <a class="step-number step-3" href="#step-3">3</a>
            <div class="step-text">Adresse</div>
        </div>
        <div class="step">
            <a class="step-number step-4" href="#step-4">4</a>
            <div class="step-text">Réseaux sociaux</div>
        </div>
        <div class="step-last">
            <a class="step-number step-5" href="#step-5">5</a>
            <div class="step-text">Description</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-2 col-xs-offset-1 col-sm-8 col-xs-10">
    <form action="{{ path('association_registration') }}" method="POST" class="form-register" {{form_enctype(form)}}>
        {{ form_errors(form.email) }}
        {{ form_errors(form.plainPassword.first) }}
        {{ form_errors(form.nom) }}
        {{ form_errors(form.logo) }}
        {{ form_errors(form.numWaldec) }}
        {{ form_errors(form.dateCreationAsso) }}
        {{ form_errors(form.telephone) }}
        {{ form_errors(form.adresse) }}
        {{ form_errors(form.cp) }}
        {{ form_errors(form.ville) }}

        {{ form_start(form) }}

        <div class="row step-content" id="step-1">
            {{ form_label(form.email, 'adresse e-mail') }}
            {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}

            {{ form_label(form.plainPassword.first, 'nouveau mot de passe') }}
            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}

            {{ form_label(form.plainPassword.second,'confirmation du mot de passe') }}
            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }} 

            <a id="activate-step-2" class="btn btn-success btn-lg"><i class="fa fa-arrow-circle-right"></i></a>
        </div>

        <div class="row step-content" id="step-2">
            {{ form_label(form.nom, 'nom de votre association') }}
            {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }} 
       
            {{ form_label(form.logo, 'logo de votre association') }}
            {{ form_widget(form.logo) }} 
        
            {{ form_label(form.numWaldec, 'numéro waldec') }}
            {{ form_widget(form.numWaldec, { 'attr': {'class': 'form-control'} }) }} 
        
            {{ form_label(form.dateCreationAsso, 'date de création de votre association') }}
            {{ form_widget(form.dateCreationAsso) }} 
        
            {{ form_label(form.telephone, 'téléphone') }}
            {{ form_widget(form.telephone, { 'attr': {'class': 'form-control'} }) }} 
        

            <a id="activate-step-3" class="btn btn-success btn-lg"><i class="fa fa-arrow-circle-right"></i></a>
        </div>
                
        <div class="row step-content" id="step-3">
            {{ form_label(form.adresse, 'adresse') }}
            {{ form_widget(form.adresse, { 'attr': {'class': 'form-control'} }) }}
        
            {{ form_label(form.cp, 'code postal') }}
            {{ form_widget(form.cp, { 'attr': {'class': 'form-control'} }) }}
       
            {{ form_label(form.ville, 'ville') }}
            {{ form_widget(form.ville, { 'attr': {'class': 'form-control'} }) }} 
                
            <a id="activate-step-4" class="btn btn-success btn-lg"><i class="fa fa-arrow-circle-right"></i></a>
        </div>  

        <div class="row step-content" id="step-4">
            {{ form_label(form.site, 'site internet') }}
            {{ form_widget(form.site, { 'attr': {'class': 'form-control'} }) }}
        
            {{ form_label(form.facebook, 'facebook') }}
            {{ form_widget(form.facebook, { 'attr': {'class': 'form-control'} }) }}
        
            {{ form_label(form.twitter, 'twitter') }}
            {{ form_widget(form.twitter, { 'attr': {'class': 'form-control'} }) }} 
        
            {{ form_label(form.googleplus, 'google+') }}
            {{ form_widget(form.googleplus, { 'attr': {'class': 'form-control'} }) }} 
        
            <a id="activate-step-5" class="btn btn-success btn-lg"><i class="fa fa-arrow-circle-right"></i></a>
        </div>      
           
        <div class="row step-content" id="step-5">
            {{ form_label(form.descriptionAsso, 'description de votre association') }}
            {{ form_widget(form.descriptionAsso, { 'attr': {'class': 'form-control'} }) }}
        
            <button type="submit" class="btn btn-success btn-lg">S'inscrire !</button>
        </div>
        
        {{ form_end(form) }}
    </form>
</div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/register.js') }}"></script>
    <script src="{{ asset('js/jquery.datetimepicker.js') }}"></script>
    <script>
        jQuery('#fos_user_registration_form_dateCreationAsso').datetimepicker({lang:'fr',format:'d/m/Y'});
    </script>
{% endblock %}