{% extends "CFUserBundle::layout.html.twig" %}

{% block title %}
	Inscription - {{ parent() }}
{% endblock %}

{% block stylesheet %}
	{{ parent() }}
	<link href="{{ asset('css/style_register.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<p>Inscription Entreprise</p>
    <form action="{{ path('entreprise_registration') }}" {{ form_enctype(form) }} method="POST">
        {{ form_widget(form) }}
        <div>
            <input type="submit" value="S'inscrire" class="btn btn-success" />
        </div>
    </form>
{% endblock %}