{% extends "CFUserBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Inscription : Entreprise
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style_register_form.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<section id="main-with-title">
    <div class="container-inner"> 
        <div class="stepwizard">
            <div class="stepwizard-row">
                <div class="stepwizard-step"><a href="#step-1">
                    <button type="button" class="btn btn-primary btn-circle">1</button></a>
                    <p>Identifiants</p>
                </div>
                <div class="stepwizard-step"><a href="#step-2">
                    <button type="button" class="btn btn-default btn-circle" disabled="disabled">2</button></a>
                    <p>Renseignements</p>
                </div>
                <div class="stepwizard-step"><a href="#step-3">
                    <button type="button" class="btn btn-default btn-circle" disabled="disabled">3</button></a>
                    <p>Adresse</p>
                </div> 
                 <div class="stepwizard-step"><a href="#step-4">
                    <button type="button" class="btn btn-default btn-circle" disabled="disabled">4</button></a>
                    <p>Réseaux sociaux</p>
                </div>
                <div class="stepwizard-step"><a href="#step-5">
                    <button type="button" class="btn btn-default btn-circle" disabled="disabled">5</button></a>
                    <p>Logo de l'entreprise</p>
                </div> 
            </div>
        </div>

        <form action="{{ path('entreprise_registration') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal form">
            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="row step-content" id="step-1">
                <div class="fieldset">
                    <div class="fieldset-form">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="fieldset-separator"></div>

                    <div class="fieldset-infos">
                        L'adresse e-mail est très importante. C'est grâce à cette adresse que pourrez confirmer l'inscription de votre compte et ausi grâce à elle que vous pourrez vous connecter sur le site.
                    </div>
                </div>

                <div class="fieldset">
                    <div class="fieldset-form">
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="fieldset-separator"></div>

                    <div class="fieldset-infos">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci dolor, iaculis sed lorem at, tincidunt finibus tellus. Nulla nec dapibus dolor. Phasellus cursus erat vitae erat viverra maximus. 
                    </div>
                </div>

                <div class="fieldset">
                    <div class="fieldset-form">
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }} 
                    </div>
                    <div class="fieldset-separator"></div>

                    <div class="fieldset-infos">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci dolor, iaculis sed lorem at, tincidunt finibus tellus. Nulla nec dapibus dolor. Phasellus cursus erat vitae erat viverra maximus. Etiam luctus lorem non velit congue molestie. Vivamus pulvinar nibh velit, nec rutrum arcu interdum eu.
                    </div>
                </div>

                <div class="fieldset-btn">
                    <a id="activate-step-2" class="btn btn-primary btn-lg">Etape suivante</a>
                </div>
            </div>

            <div class="row step-content" id="step-2">
                <div class="fieldset">
                    <div class="fieldset-form">
                        {{ form_label(form.nom) }}
                        {{ form_widget(form.nom, { 'attr': {'class': 'form-control'} }) }} 
                    </div>

                    <div class="fieldset-separator"></div>

                    <div class="fieldset-infos">
                        L'adresse e-mail est très importante. C'est grâce à cette adresse que pourrez confirmer l'inscription de votre compte et ausi grâce à elle que vous pourrez vous connecter sur le site.
                    </div>
                </div>

                <div class="fieldset">
                    <div class="fieldset-form">
                       {{ form_label(form.logo) }}
                        {{ form_widget(form.logo) }} 
                    </div>
                    <div class="fieldset-separator"></div>

                    <div class="fieldset-infos">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci dolor, iaculis sed lorem at, tincidunt finibus tellus. Nulla nec dapibus dolor. Phasellus cursus erat vitae erat viverra maximus. Etiam luctus lorem non velit congue molestie. Vivamus pulvinar nibh velit, nec rutrum arcu interdum eu.
                    </div>
                </div>

                <div class="fieldset">
                    <div class="fieldset-form">
                        {{ form_label(form.numSiret) }}
                        {{ form_widget(form.numSiret, { 'attr': {'class': 'form-control'} }) }} 
                    </div>

                    <div class="fieldset-separator"></div>

                    <div class="fieldset-infos">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci dolor, iaculis sed lorem at, tincidunt finibus tellus. Nulla nec dapibus dolor. Phasellus cursus erat vitae erat viverra maximus. 
                    </div>
                </div>

                <div class="fieldset">
                    <div class="fieldset-form">
                       {{ form_label(form.dateCreationEntreprise) }}
                        {{ form_widget(form.dateCreationEntreprise) }} 
                    </div>
                    <div class="fieldset-separator"></div>

                    <div class="fieldset-infos">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci dolor, iaculis sed lorem at, tincidunt finibus tellus. Nulla nec dapibus dolor. Phasellus cursus erat vitae erat viverra maximus. Etiam luctus lorem non velit congue molestie. Vivamus pulvinar nibh velit, nec rutrum arcu interdum eu.
                    </div>
                </div>

                <div class="fieldset">
                    <div class="fieldset-form">
                        {{ form_label(form.telephone) }}
                        {{ form_widget(form.telephone, { 'attr': {'class': 'form-control'} }) }} 
                    </div>
                    <div class="fieldset-separator"></div>

                    <div class="fieldset-infos">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci dolor, iaculis sed lorem at, tincidunt finibus tellus. Nulla nec dapibus dolor. Phasellus cursus erat vitae erat viverra maximus. Etiam luctus lorem non velit congue molestie. Vivamus pulvinar nibh velit, nec rutrum arcu interdum eu.
                    </div>
                </div>

                <div class="fieldset-btn">
                    <a id="activate-step-3" class="btn btn-primary btn-lg">Etape suivante</a>
                </div>
            </div>
                    
            <div class="row step-content" id="step-3">
                <div class="fieldset">
                    <div class="fieldset-form">
                        {{ form_label(form.adresse) }}
                        {{ form_widget(form.adresse, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="fieldset-separator"></div>

                    <div class="fieldset-infos">
                        L'adresse e-mail est très importante. C'est grâce à cette adresse que pourrez confirmer l'inscription de votre compte et ausi grâce à elle que vous pourrez vous connecter sur le site.
                    </div>
                </div>

                <div class="fieldset">
                    <div class="fieldset-form">
                        {{ form_label(form.cp) }}
                        {{ form_widget(form.cp, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="fieldset-separator"></div>

                    <div class="fieldset-infos">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci dolor, iaculis sed lorem at, tincidunt finibus tellus. Nulla nec dapibus dolor. Phasellus cursus erat vitae erat viverra maximus. 
                    </div>
                </div>

                <div class="fieldset">
                    <div class="fieldset-form">
                        {{ form_label(form.ville) }}
                        {{ form_widget(form.ville, { 'attr': {'class': 'form-control'} }) }} 
                    </div>
                    <div class="fieldset-separator"></div>

                    <div class="fieldset-infos">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci dolor, iaculis sed lorem at, tincidunt finibus tellus. Nulla nec dapibus dolor. Phasellus cursus erat vitae erat viverra maximus. Etiam luctus lorem non velit congue molestie. Vivamus pulvinar nibh velit, nec rutrum arcu interdum eu.
                    </div>
                </div>

                <div class="fieldset-btn">
                    <a id="activate-step-4" class="btn btn-primary btn-lg">Etape suivante</a>
                </div>
            </div>  

            <div class="row step-content" id="step-4">
                <div class="fieldset">
                    <div class="fieldset-form">
                        {{ form_label(form.site) }}
                        {{ form_widget(form.site, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="fieldset-separator"></div>

                    <div class="fieldset-infos">
                        L'adresse e-mail est très importante. C'est grâce à cette adresse que pourrez confirmer l'inscription de votre compte et ausi grâce à elle que vous pourrez vous connecter sur le site.
                    </div>
                </div>

                <div class="fieldset">
                    <div class="fieldset-form">
                        {{ form_label(form.facebook) }}
                        {{ form_widget(form.facebook, { 'attr': {'class': 'form-control'} }) }}
                    </div>

                    <div class="fieldset-separator"></div>

                    <div class="fieldset-infos">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci dolor, iaculis sed lorem at, tincidunt finibus tellus. Nulla nec dapibus dolor. Phasellus cursus erat vitae erat viverra maximus. 
                    </div>
                </div>

                <div class="fieldset">
                    <div class="fieldset-form">
                        {{ form_label(form.twitter) }}
                        {{ form_widget(form.twitter, { 'attr': {'class': 'form-control'} }) }} 
                    </div>
                    <div class="fieldset-separator"></div>

                    <div class="fieldset-infos">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci dolor, iaculis sed lorem at, tincidunt finibus tellus. Nulla nec dapibus dolor. Phasellus cursus erat vitae erat viverra maximus. Etiam luctus lorem non velit congue molestie. Vivamus pulvinar nibh velit, nec rutrum arcu interdum eu.
                    </div>
                </div>

                <div class="fieldset">
                    <div class="fieldset-form">
                        {{ form_label(form.googleplus) }}
                        {{ form_widget(form.googleplus, { 'attr': {'class': 'form-control'} }) }} 
                    </div>
                    <div class="fieldset-separator"></div>

                    <div class="fieldset-infos">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci dolor, iaculis sed lorem at, tincidunt finibus tellus. Nulla nec dapibus dolor. Phasellus cursus erat vitae erat viverra maximus. Etiam luctus lorem non velit congue molestie. Vivamus pulvinar nibh velit, nec rutrum arcu interdum eu.
                    </div>
                </div>

                <div class="fieldset-btn">
                    <a id="activate-step-5" class="btn btn-primary btn-lg">Etape suivante</a>
                </div>
            </div>      
               
            <div class="row step-content" id="step-5">
                <div class="fieldset">
                    <div class="fieldset-form">
                       {{ form_label(form.logo) }}
                        {{ form_widget(form.logo) }} 
                    </div>
                    <div class="fieldset-separator"></div>

                    <div class="fieldset-infos">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed orci dolor, iaculis sed lorem at, tincidunt finibus tellus. Nulla nec dapibus dolor. Phasellus cursus erat vitae erat viverra maximus. Etiam luctus lorem non velit congue molestie. Vivamus pulvinar nibh velit, nec rutrum arcu interdum eu.
                    </div>
                </div>

                <div class="fieldset-btn">
                    <button type="submit" class="btn btn-success btn-lg">S'inscrire !</button>
                </div>
            </div>
            
            {{ form_end(form) }}
        </form>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('js/formToWizard.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/controle_form_entr.js')}}"></script>
    <script type="text/javascript">
        $("#SignupForm").formToWizard();
    </script>
{% endblock %}