{% extends "CFUserBundle::layout.html.twig" %}

{% block title %}
	Inscription - {{ parent() }}
{% endblock %}

{% block stylesheet %}
	{{ parent() }}
	<link href="{{ asset('css/style_register.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<h1>Inscription d'une Association</h1>

    <div class="center-block container-page">
        <form action="{{ path('association_registration') }}" {{ form_enctype(form) }} method="POST" id="SignupForm" class="form-horizontal form">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                <fieldset>
                        <legend></legend>

                </fieldset>






        <div>
            <input type="submit" value="S'inscrire"  class="btn btn-success"/>
        </div>
    </form>
{% endblock %}