{% extends "CFUserBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Inscription à Coceptio
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style_register_index.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

<section id="main-with-title">
	<div class="container-inner container-register">
		<p>Qui êtes-vous ?</p>
		<div id="icons">
			<div class="icon">
				<a href="{{ path('association_registration') }}" id="asso"><img src="{{ asset('images/user/asso.png') }}" alt="Association" /></a>
				<div class="texte">Association</div>
			</div>
			<div class="icon">
				<a href="{{ path('entreprise_registration') }}" id="entr"><img src="{{ asset('images/user/entreprise.png') }}" alt="Entreprise" /></a>
				<div class="texte">Entreprise</div>
			</div>
			<div class="icon">
				<a href="{{ path('particulier_registration') }}" id="part"><img src="{{ asset('images/user/particulier.png') }}" alt="Particulier" /></a>
				<div class="texte">Particulier</div>
			</div>
		</div>
		</div>
	</div>
</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type='text/javascript'>
	$(document).ready(function(){
		$(".btn btn-primary btn-lg btn-block").click(function(){

			$(".btn btn-primary btn-lg btn-block").fadeout();



			});
	});
	</script>
{% endblock %}

