{% extends "CFUserBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Inscription à Coceptio
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style_register_index.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<h1>Qui êtes-vous ?</h1>

<div class="row">
    <div class="col-md-12">
		<div id="icons">
			<div class="icon">
				<a href="{{ path('association_registration') }}" id="asso" class="hvr-shrink"><img src="{{ asset('images/icones/association.png') }}" alt="Association" /></a>
				<div class="texte">Association</div>
			</div>
			<div class="icon">
				<a href="{{ path('entreprise_registration') }}" id="entr" class="hvr-shrink"><img src="{{ asset('images/icones/entreprise.png') }}" alt="Entreprise" /></a>
				<div class="texte">Entreprise</div>
			</div>
			<div class="icon">
				<a href="{{ path('particulier_registration') }}" id="part" class="hvr-shrink"><img src="{{ asset('images/icones/particulier.png') }}" alt="Particulier" /></a>
				<div class="texte">Particulier</div>
			</div>
		</div>
	</div>
</div>

<div class="row subtext">
    <div class="col-lg-offset-2 col-lg-8">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec neque ligula. Integer in facilisis neque. Sed id sem eget arcu luctus condimentum aliquam quis tellus. Suspendisse potenti. Donec congue fringilla placerat. Nulla magna dolor, finibus id metus at, eleifend efficitur sapien.<br /><br />
	</div>
	<div class="col-lg-offset-2 col-lg-8">
		Pellentesque dapibus ornare felis ut ultricies. Aliquam finibus mauris vitae viverra pulvinar. In sagittis felis vel tellus accumsan viverra. Ut ullamcorper sagittis tellus elementum varius. Nam nec sapien ut dolor feugiat suscipit. Integer varius eu metus eget varius. Fusce hendrerit eros quis odio lacinia, ac maximus tortor vestibulum. Donec vel libero eget mi tristique ultricies.<br /><br />
	</div>
</div>
{% endblock %}

