{% extends "CFUserBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Inscription à Coceptio
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style_register_index.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="container-inner">
	<p class="text-center">Choisissez le type d'inscription que vous voulez poursuivre</p>
	<a class="btn btn-primary btn-lg btn-block" href="{{ path('association_registration') }}" role="button" id="asso">Association</a>
	<a class="btn btn-primary btn-lg btn-block" href="{{ path('entreprise_registration') }}" role="button" id="entr">Entreprise</a>
	<a class="btn btn-primary btn-lg btn-block" href="{{ path('particulier_registration') }}" role="button" id="part">Particulier</a>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type='text/javascript'>
	$(document).ready(function(){
		$(".btn btn-primary btn-lg btn-block").click(function(){

			$(".btn btn-primary btn-lg btn-block").fadeout();



			});
	});
	</script>
{% endblock %}

