{% extends "CFUserBundle::layout.html.twig" %}

{% block title %}
	{{ parent() }} - Inscription à Coceptio
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('css/style_register_index.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
<div class="head-registration">
	<img src="{{ asset('images/icones/inscription.jpg') }}">
	<h1>Qui êtes-vous ?</h1>
</div>

<div class="row">
    <div class="col-md-12">
		<div id="icons">
			<div class="icon">
				<a href="{{ path('association_registration') }}" id="asso" class="hvr-shrink"><img src="{{ asset('images/icones/association.png') }}" alt="Association" /></a>
				<div class="texte">Association</div>
			</div>
			<div class="icon">
				<a href="{{ path('entreprise_registration') }}" id="entr" class="hvr-shrink"><img src="{{ asset('images/icones/entreprise.png') }}" alt="Entreprise" /></a>
				<div class="texte">Entreprise</div>
			</div>
			<div class="icon">
				<a href="{{ path('particulier_registration') }}" id="part" class="hvr-shrink"><img src="{{ asset('images/icones/particulier.png') }}" alt="Particulier" /></a>
				<div class="texte">Particulier</div>
			</div>
		</div>
	</div>
</div>

<div class="row subtext">
    <div class="col-lg-offset-2 col-lg-8">
		Vous êtes une association de type loi 1901, bravo ! Vous pouvez donc tout simplement déposer un projet sur notre plateforme !  Bien entendu, vous devez commencer par correctement rédiger votre projet et bien définir vos ressources. Suite à cela, vous pouvez commencer votre campagne de communication pour mettre en lumière et partager votre « page projet ». Les acteurs locaux viendront alors vers vous pour mutualiser leurs ressources et ainsi participer activement à vos actions. Ha la magie de la collaboration...<br /><br />
	</div>
	<div class="col-lg-offset-2 col-lg-8">
		Vous êtes au contraire une structure, organisation ou entreprise ? Vous souhaitez vous investir dans des projets de proximité ? Vous avez une salle à mettre à disposition, ou encore des tables et des chaises qui trainent ? Vous êtes au bon endroit pour soutenir les actions des associations, découvrez dès maintenant les projets qui vous entourent et participer en entrant en contact direct pour prêter vos ressources dont ils ont besoins.<br /><br />
	</div>
	<div class="col-lg-offset-2 col-lg-8">
		Vous êtes un particulier qui cherche à s’investir en tant que bénévole pour des projets associatif ? Gardez le cap, et offrez vos compétences et votre savoir-être dans les projets d’associations qui ont besoins de ressources humaines ! Vous deviendrez alors un véritable acteur du partage et de la co-construction. Vous pouvez être fier !<br /><br />
	</div>
</div>
{% endblock %}

