{% extends "::base.html.twig" %}

{% block title %}
  	{{ parent() }} - Comment ça marche ?
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<!-- CUSTOMS CSS -->
	<link rel="stylesheet" type="text/css" href="{{ asset('css/style_siteBundle.css') }}">
{% endblock %}

{% block body %}
	
	<div class="head-site">
		<img src="{{ asset('images/icones/bannieres/working.jpg') }}">
		<h1>En co-construction...</h1>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<!-- CUSTOMS JAVASCRIPTS -->

{% endblock %}