{% extends "CFMainBundle::layout.html.twig" %}

{% block title %}
  	{{ parent() }} - Ajouter une actualité
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{asset('css/style_show.css')}}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<div class="tab-box full form-submit-actu">
		<form action="{{  path('cf_main_rediger_actu', { id : projet.id }) }}" method="post">
			{{ form_start(form) }}
			{{ form_row(form.titre) }}
			{{ form_row(form.contenu) }}

			<button type="submit" class="btn btn-success btn-submit-actu">Publier</button>
			{{ form_end(form) }}
		</form>
	</div>
{% endblock body %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('ckeditor/ckeditor.js') }}"></script>
{% endblock %}