<ul class="timeline">
	{% for conversation in conversations %}
      {% set userSource = null %}
      {% if conversation.utilisateurs[0].username == app.user.username %}
        {% set userSource = conversation.utilisateurs[1] %}
      {% else %}
        {% set userSource = conversation.utilisateurs[0] %}
      {% endif %}
      <li>
        	<div class="timeline-badge"><img class="img-circle" src="{{ asset(userSource.logo.AssetPath) }}"/></div>
        	<div class="timeline-panel">
            {% for message in conversation.messages|reverse[:1] %}
            	<div class="timeline-heading">
                  <h3><i class="fa fa-file-text-o"></i> Projet : <a href="#">{{ conversation.projet.nom }}</a></h3>
              		<h4 class="timeline-title"><i class="fa fa-user"></i> Acteur : <a href="{{ path('fos_user_profile_user_show' , { username: userSource.username}) }}">{{ userSource.nom }}</a></h4>
                  <p class="date-notif"><small class="text-muted"><i class="glyphicon glyphicon-time"></i> le {{ message.date|date("d/m/Y") }} à {{ message.date|date("H:i") }}</small></p>
            	</div>
            	<div class="timeline-body">
              	<p><i>Dernier message dans la conversation :</i> <i class="fa fa-angle-double-left"></i> {{ message.content }} <i class="fa fa-angle-double-right"></i></p>
                <p></p>
                <p>Contributions :</p>
                <ul>
                  {% for don in conversation.dons %}
                    {% if don.quantite > 1 %}
                      <li>{{ don.quantite }} {{ don.besoin.ressource }}s</li>
                    {% else %}
                      <li>{{ don.quantite }} {{ don.besoin.ressource }}</li>
                    {% endif %}
                  {% endfor %}
                </ul>
                <a data-toggle="modal" data-target="#message-modal-{{ conversation.id }}" class='btn btn-success'>Voir les messages</a>
            	</div>
            {% else %}
              <div class="timeline-heading">
                  <h4 class="timeline-title"><a href="{{ path('fos_user_profile_user_show' , { username: userSource.username}) }}">{{ userSource.nom }}</a></h4>
              </div>
              <div class="timeline-body">
                <p>Contributions :</p>
                <ul>
                  {% for don in conversation.dons %}
                    {% if don.quantite > 1 %}
                      <li>{{ don.quantite }} {{ don.besoin.ressource }}s</li>
                    {% else %}
                      <li>{{ don.quantite }} {{ don.besoin.ressource }}</li>
                    {% endif %}
                  {% endfor %}
                </ul>
                <a data-toggle="modal" data-target="#message-modal-{{ conversation.id }}" class='btn btn-success'>Débuter la conversation</a>
              </div>
            {% endfor %}
        	</div>
      </li>
      {{ render(controller('CFMessageBundle:Conversation:show', { 'id' : conversation.id } )) }}
  {% else %}
    <li>
      <div class="timeline-panel">
        <div class="timeline-body">
          <p>Aucune conversation pour le moment.</p>
        </div>
      </div>
    </li>
	{% endfor %}
</ul>