<div class="modal fade" id="message-modal-{{ conversation.id }}" tabindex="-1" role="dialog" aria-labelledby="message-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-message-dialog">
    <div class="modal-message-content">
      <div class="modal-message-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-message-title" id="message-modal-label">Messages</h4>
      </div>
      <div class="modal-message-body">
      	{{ render(controller('CFMessageBundle:Message:add', { 'id' : conversation.id } )) }}
        <div class="errors"></div>
        <div class="loading"><i class="fa fa-spinner fa-pulse"></i></div>
        <div class="messages-list messages-list-{{conversation.id}}">
        	{% for message in conversation.messages|reverse %}
            {% if message.user.username == app.user.username %}
              <p class="fromYou"><small class="text-muted date-notif">Envoyé le {{ message.date|date("d/m/Y") }} à {{ message.date|date("H:i") }}</small><br>{{ message.content }}</p>
            {% else %}
              <p class="fromAnother"><small class="text-muted date-notif">Reçu le {{ message.date|date("d/m/Y") }} à {{ message.date|date("H:i") }}</small><br>{{ message.content }}</p>
            {% endif %}
        	{% endfor %}
        </div>
      </div>
      <script type="text/javascript">
        $(document).ready(function(){

          $('.loading').hide();

          function ajaxSubmitMessage () {
            if($('.new-message-{{conversation.id}}').val().length > 2)
            {
              $('.errors').html('');
              var params = "message="+$('.new-message-{{conversation.id}}').val();
              $('.new-message-{{conversation.id}}').val('');
              $('#button-new-message-{{conversation.id}}').attr("disabled", "disabled");
              $('.new-message-{{ conversation.id }}').attr("disabled", "disabled");
              $('.loading').show();
              $.ajax({
                type: 'POST',
                data: params,
                url: $('#form-new-message-{{ conversation.id }}').attr('action'),
                success: function(data) {
                  var currentdate = new Date(); 
                  var mois = currentdate.getMonth()+1;

                  if (mois.length == 1)
                  {
                  mois = "0" + mois;
                  }
                  var date = currentdate.getDate() + "/"
                          + mois  + "/" 
                          + currentdate.getFullYear();

                  var minutes = currentdate.getMinutes();

                  if (minutes.length == 1)
                  {
                    minutes = "0" + minutes;
                  }

                  var time = currentdate.getHours() + ":" + minutes;

                  $('.messages-list-{{conversation.id}}').prepend('<p class="fromYou"><small class="text-muted date-notif">Envoyé le '+date+' à '+time+'</small><br>'+data.message+'</p>');
                  $('#button-new-message-{{conversation.id}}').removeAttr("disabled");
                  $('.new-message-{{ conversation.id }}').removeAttr("disabled");
                  $('.loading').hide();
                }
              });
            }
            else 
            {
              $('.errors').html('Votre message doit contenir au moins 3 caractères.');
            }
          }

          $('.new-message-{{conversation.id}}').keypress(function (e) {
            if (e.which == 13) {
              e.preventDefault();
              ajaxSubmitMessage();
            }
          });

          $('#button-new-message-{{conversation.id}}').on('click', function(){
            ajaxSubmitMessage();
          });
        });
      </script>
      <div class="modal-message-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>