<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>COCEPTIO - Accueil</title>
		<link href="{{asset('css/bootstrap.min.css')}}" type='text/css' rel="stylesheet"/>
		<link  type='text/css' rel="stylesheet" href="{{ asset('css/theme.css') }}" />
	</head>
	<svg width="0" height="0" display"none">
		<clipPath id="imgPolygon">
			<polygon points="0 200,200 200,300 0,100 0">
			</polygon>
		</clipPath>
		<clipPath id="menuPolygon">
			<polygon points="0 200,150 200,250 0,0 0">
			</polygon>
		</clipPath>
	</svg>
	<body>
		<div class="site-wrapper"><!-- div globale -->
		
			<div class ="cover-container"><!-- div de container pour le header -->
				<h1>COCEPTIO</h1>
				<h2>concevoir | ensemble</h2>
			</div>
			
			<div id='carousel-container'>
				<div id='menu_carousel'>
					<a href='#'>projets à la une</a>
					<a href='#'>touche à sa fin</a>
					<a href='#'>nouveaux</a>
					<a href='#'>tous les</br>projets</a>
				</div>
				<div class="carousel" id="carousel-horizontal"><!-- images utilisees pour le caroussel -->
					<ul>
						<li><img src="{{ asset('images/1.jpg') }}"/></li>
						<li><img src="{{ asset('images/2.jpg') }}"/></li>
						<li><img src="{{ asset('images/3.jpg') }}"/></li>
						<li><img src="{{ asset('images/4.jpg') }}"/></li>
						<li><img src="{{ asset('images/5.jpg') }}"/></li>
						<li><img src="{{ asset('images/6.jpg') }}"/></li>
						<li><img src="{{ asset('images/3.jpg') }}"/></li>
						<li><img src="{{ asset('images/4.jpg') }}"/></li>
					</ul>
				</div>
			</div>
			<nav class="navbar navbar-default" role="navigation">
				<div class="container">
					<div class="collapse navbar-collapse">					
						<form class="navbar-form active" role="search">
							<div class="input-group">
								<input type="text" id="trash" class="form-control" placeholder="Tapez une recherche ou glissez vos boutons de centres d'intérêts..."/>
								<span class="input-group-btn">
									<button type="reset" class="btn btn-default">
										<span class="glyphicon glyphicon-remove">
											<span class="sr-only">Close</span>
										</span>
									</button>
									<button type="submit" class="btn btn-default">
										<span class="glyphicon glyphicon-search">
											<span class="sr-only">Search</span>
										</span>
									</button>
								</span>
							</div>
						</form>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
			<div class="dragdrop-button-container">
				<ul id="gallery">
					<li class="btn btn-primary btn-lg" value="Sport"><span class=""></span> Sport</li>
					<li class="btn btn-primary btn-lg" value="Loisirs"><span class="glyphicon glyphicon-send"></span> Loisirs</li>
					<li class="btn btn-primary btn-lg" value="Tourisme"><span class="glyphicon glyphicon-camera"></span> Tourisme</li>
					<li class="btn btn-primary btn-lg" value="Associatif"><span class="glyphicon glyphicon-heart-empty"></span> Associatif</li>
					<li class="btn btn-primary btn-lg" value="Culture"><span class="glyphicon glyphicon-music"></span> Culture</li>
					<li class="btn btn-primary btn-lg" value="Ville"><span class="glyphicon glyphicon-tower"></span> Ville</li>
				</ul>
			</div>
		
			<div class="footer"><!-- footer -->
				<div>
				<p>made with <span class="glyphicon glyphicon-heart"></span> by the project team</p>
				</div>
			</div>

		</div><!-- end wrapper -->
	</body>
	<script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
	<script type="text/javascript" src="{{ asset('js/jquery-ui.js') }}"></script>
	<script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/carousel.js')}}"></script>
	<script type="text/javascript" src="{{ asset('js/dragdrop.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#carousel-horizontal').scrollingCarousel( {
				scrollerAlignment : 'horizontal',
				autoScroll: true,
				autoScrollSpeed: 40000
			});
		});
	</script>
</html>