<div class="modal fade modalBlock" id="modalAddBlock" tabindex="-1" role="dialog" aria-labelledby="modalAddBlockLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    	<form action="{{ path('cf_main_rediger_box', { id : projet.id } )}}" method="post" {{ form_enctype(form) }}>
    		{{ form_start(form) }}
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="modalAddBlockLabel">Ajouter un bloc</h4>
	        {{ form_row(form.titre) }}
	      </div>
	      <div class="modal-body">
	      <ul class="nav-modal-form">
			  <li class="texte active"><a href="#form-texte">Texte</a></li>
			  <li class="image"><a href="#form-image">Image</a></li>
			  <li class="video"><a href="#form-video">Video</a></li>
			</ul>

			<div class="form-choice-box" id="form-texte">
				{{ form_row(form.contenu) }}
			</div>
			<div class="form-choice-box" id="form-image">
				<p>Attention : l'image ne doit pas dépasser 1Mo.</p>
				{{ form_row(form.urlImage) }}
			</div>
			<div class="form-choice-box" id="form-video">
				{{ form_row(form.urlVideo) }}
			</div>
	      </div>
	      <div class="modal-footer">
	      	<div class="radio-width" id="radio-width-box">
	      		{{ form_row(form.fullWidth) }}
	      	</div>
	        <button type="submit" class="btn btn-success" id="button-validation-modal">Insérer le bloc</button>
	        {{ form_rest(form) }}
	      </div>
	    </form>
    </div>
  </div>
</div>