<form action="{{ path('cf_comment_comment_new', { 'id' : thread.id }) }}" method="post" {{ form_enctype(form) }}>
  {{ form_start(form) }}
  {{ form_errors(form) }}
  <div class="form-group">
    {{ form_widget(form.content) }}
    <input type="submit" class="btn btn-success" value="Envoyer" />
  </div>
  {{ form_end(form) }}
</form>