<form action="{{ path('cf_comment_comment_reply_update', { 'id' : thread.id, 'comment_id' : comment.id }) }}" id="form-reply-comment-{{ comment.id }}" class="form-reply-comment" method="post" {{ form_enctype(form) }}>
  {{ form_start(form) }}
  {{ form_errors(form) }}
  <div class="form-group">
    {{ form_widget(form.content) }}
    <input type="button" class="btn btn-success button-reply-comment" value="Envoyer" parent-id="{{ comment.id }}"/>
  </div>
  {{ form_end(form) }}
</form>