<tr><td>Description :</td><td>{{ user.descriptionAsso }}</td></tr>
<tr><td>Ville :</td><td>{{ user.ville }}</td></tr>
<tr><td>Code postal :</td><td>{{ user.cp }}</td></tr>
<tr><td>Adresse :</td><td>{{ user.adresse }}</td></tr>
<tr><td>Date de création :</td><td>{{ user.dateCreationAsso|date("d/m/Y") }}</td></tr>
<tr><td>N° WALDEC :</td><td>{{ user.numWaldec }}</td></tr>
<tr><td>Adresse Email :</td><td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td></tr>
<tr><td>Tél. :</td><td>{{ user.telephone }}</td></tr>