{% extends "::base.html.twig" %}

{% block header %}
	<!-- Menu -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<div class="collapse navbar-collapse" id="collapse">
				<a class="navbar-brand" href="{{ path('cf_main_homepage') }}">COCEPTIO</a>
				<ul class="nav navbar-nav">
					<li {% block navbarProjects %}{% endblock %} class="dropdown">
						<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bars"></i> Les projets <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="{{ path('cf_main_allProjects') }}">Tous</a></li>
							<li class="divider"></li>
							<li><a href="{{ path('cf_main_highlightProjects') }}">A la une</a></li>
							<li><a href="{{ path('cf_main_endingProjects') }}">Bientôt terminé</a></li>
							<li><a href="{{ path('cf_main_newProjects') }}">Nouveaux</a></li>
						</ul>
					</li>
					<li {% block navbarProfil %}{% endblock %}><a href="{{ path('cf_main_profil') }}"><i class="fa fa-user"></i> Mon profil</a></li>
					<li {% block navbarContact %}{% endblock %}><a href=""><i class="fa fa-envelope"></i> Contact</a></li>
					<li><a href="{{ path('cf_main_project', { 'id': 1 }) }}">Projet 1</a></li>
                    <li id='connect' {% block navbarConnect %}{% endblock %}><a href="{{ path('cf_main_connect') }}">Connexion</a></li>
                    <li id='inscription' {% block navbarRegister %}{% endblock %}><a href="{{ path('cf_main_register') }}">Inscription</a></li>
				</ul>
			</div>
		</div>
	</nav>
	
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-2 col-sm-4 col-xs-4">
                    <h3>Aide</h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-2 col-sm-4 col-xs-4">
                    <h3>Mentions légales</h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-2 col-sm-4 col-xs-4">
                    <h3>Conditions Générales</h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-2 col-sm-4 col-xs-4">
                    <h3>Contact</h3>
                    <ul>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                        <li> <a href="#"> Lorem Ipsum </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
{% endblock %}