<form id="form-new-message-{{ conversation.id }}" action="{{ path('cf_message_update_ajax', { 'id' : conversation.id }) }}" method="post" {{ form_enctype(form) }}>
  {{ form_start(form) }}
  {{ form_errors(form) }}
  <div class="form-group">
    {{ form_widget(form.content, { 'attr': {'class': 'form-control new-message-' ~ conversation.id } }) }}<input type="button" id="button-new-message-{{conversation.id}}" class="btn btn-success" value="Envoyer" />
  </div>
  {{ form_end(form) }}
</form>